%tr
  %td= search_term.id
  %td= link_to search_term.term, admin_search_term_url(search_term)
  %td= search_term.impressions.order(updated_at: :desc).first.updated_at.strftime('%D')
  %td= search_term.impressions_count
