.container
  .pagination.pull-right
    = will_paginate @search_terms
  .clearfix

  %table.table.table-striped.table-condensed
    %thead
      %tr
        %th #
        %th= t(:query)
        %th= t('.last_search_date')
        %th= t('.search_count')
    %tbody
      - unless @search_terms.empty?
        = render @search_terms
      - else
        %tr
          %td{ colspan: 4 }= t('.no_search_terms')

  .pagination.pull-right
    = will_paginate @search_terms