.container
  %h2= t('.detail')
  .pagination.pull-right
    = will_paginate @impressions
  .clearfix

  %table.table.table-striped.table-condensed
    %thead
      %tr
        %th= t('.search_date')
        %th= t(:ip_address)
        %th= t('.referrer')
        %th= t(:user)
    %tbody
      -  @impressions.each do |i|
        %tr
          %td= i.updated_at.strftime('%D')
          %td= i.ip_address
          %td= i.referrer
          %td= link_to i.user_id, admin_user_url(i.user_id) if i.user_id

  .pagination.pull-right
    = will_paginate @impressions
  .clearfix

  = link_to 'Back', admin_search_terms_url
