.container.admin-caches
  .row
    .page-header
      .pull-left
        %h1= t(:scheduled_queues)
        - if false
          .lead
            = t('.caches_description')
            - helper_popover(t(:caches), t('.popover'), html: true, placement: :bottom)
            .small
              %small.text-muted= t('.caches_disclaimer').html_safe
        %p.lead
          - missing_queue_size = @default_scheduled_queue_list.size != @default_scheduled_queues.size
          Default Queue Size:
          %span.btn{class: (missing_queue_size ? 'btn-danger' : 'btn-default')}
            %strong #{@default_scheduled_queue_list.size} of #{@default_scheduled_queues.size}
          &nbsp;&middot;&nbsp;
          Total Queue Size:
          %span.btn.btn-default
            %strong #{@scheduled_queue.size}
          %br
      .clearfix

  - unless @scheduled_queue.blank?
    .row
      %table.table.table-condensed
        %thead
          %tr
            %th Name
            %th ID
            %th Run Again
            %th
        %tbody
          - @default_scheduled_queues.each do |queue_job|
            - now_job, wait_job, job = nil, nil, nil
            - job = @default_scheduled_queue_list[queue_job]
            - wait_job = is_in_queue?(queue_job) unless job || now_job
            - now_job = is_in_payload?(queue_job) unless job || wait_job



            %tr{ class: (wait_job ? 'alert-warning' : (now_job ? 'alert-success' : (job ? '' : 'alert-danger') ) )}
              %td.col-sm-3
                %strong= queue_job

              - if job
                %td.col-sm-3= job.item['jid']
                %td.col-sm-5= distance_of_time_in_words_to_now( Time.at(job.score) )
              - elsif now_job
                %td.col-sm-3
                %td.col-sm-5
              - elsif wait_job
                %td.col-sm-3= wait_job.item['jid']
                %td.col-sm-5
              - else
                %td.col-sm-8{colspan: 2}

              %td.col-sm-1.text-right
                - if now_job
                  - #
                - elsif job || wait_job
                  = link_to admin_queues_scheduled_url(queue_job), 'data-method' => :delete, 'data-confirm' => 'Are you sure you want to delete this queued item?', class: 'edit-setting btn btn-large btn-danger' do
                    %span.glyphicon.glyphicon-trash
                - else
                  = link_to admin_queues_scheduled_index_url(id: queue_job), 'data-method' => :post, class: 'edit-setting btn btn-large btn-danger' do
                    %span.glyphicon.glyphicon-repeat
                    = t(:restart)

    - unless @scheduled_queue_list.blank?
      .row
        %h3 Other Scheduled Queue Items
        %table.table.table-condensed
          %thead
            %tr
              %th ID
              %th Queue
              %th Class
              %th Args
              %th
          %tbody
            - @scheduled_queue_list.each do |queue_job|
              %tr{ 'data-job-id' => queue_job.item['jid'] }
                %td.col-sm-3
                  %strong= queue_job.item['jid']
                  %br
                  = queue_job.item['class']
                %td.col-sm-1= queue_job.queue rescue ''
                %td.col-sm-7= queue_job.item['args'].join('<br/>').html_safe.truncate(255)
                %td.col-sm-1.text-right
                  = link_to admin_queues_scheduled_url(queue_job.item['jid']), 'data-method' => :delete, 'data-confirm' => 'Are you sure you want to delete this queued item?', class: 'edit-setting btn btn-large btn-danger' do
                    %span.glyphicon.glyphicon-trash

  - unless @in_queue_list.blank?
    .row
      %h3
        Other Queued Items
        %span.btn.btn-default= @in_queue.size
      %table.table.table-condensed
        %thead
          %tr
            %th ID
            %th Queue
            %th Class
            %th Args
            %th
        %tbody
          - @in_queue_list.each do |queue_job|
            %tr{ 'data-job-id' => queue_job.item['jid'] }
              %td.col-sm-3
                %strong= queue_job.item['jid']
                %br
                = queue_job.item['class']
              %td.col-sm-1= queue_job.queue
              %td.col-sm-7= queue_job.item['args'].join('<br/>').html_safe.truncate(255)
              %td.col-sm-1.text-right
                = link_to admin_queues_scheduled_url(queue_job.item['jid']), 'data-method' => :delete, 'data-confirm' => 'Are you sure you want to delete this queued item?', class: 'edit-setting btn btn-large btn-danger' do
                  %span.glyphicon.glyphicon-trash