.container
  %h2.text-center
    Contest Rules
    %br
    "Escape To Bonnaroo" Video Contest

  %h4.text-center.upcase No purchase necessary to enter or win.  A purchase will not increase your chances of winning.  Void in Alaska and Hawaii and where prohibited or restricted by law.


  %ol
    %li
      %p
        %strong.heading ELIGIBILITY.
        The "Escape to Bonnaroo" Video Contest (the "<u>Contest</u>") is open only to legal residents of one of the 48 contiguous United States and the District of Columbia, who are at least 18 years of age or older at the time of entry.  Employees, officers and directors (and the immediate family members (spouses and parents, children and siblings and their spouses, regardless of where they live) or members of the same households (whether related or not) of such individuals) of What’s Trending, Inc. ("<u>Sponsor</u>"), Ford Motor Company ("<u>Ford</u>"), TeamDetroit, LLC, YouTube LLC and each of their respective parent companies, subsidiaries, affiliates, production partners, advertising agencies, promotional suppliers, participating vendors or any other company involved in the design, production, execution or distribution of this Contest (collectively, the "<u>Released Parties</u>") are not eligible to enter this Contest.  All participants: (a) agree to be bound by and acknowledge compliance with these Official Rules, including, but not limited to, eligibility requirements, (b) release and hold harmless the Released Parties against any and all claims, injury or damage arising out of or relating to, directly or indirectly, participation in this Contest and/or use or misuse or redemption of a prize and (c) acknowledge compliance with these Official Rules.  All applicable federal, state, local and municipal laws and regulations apply.
    %li
      %p
        %strong.heading OVERVIEW OF CONTEST.
        The Contest will provide participants with the opportunity to submit and enter an original video featuring themselves (solo or as part of a group) performing an original song.  Eligible Entries (as such term is defined below) will then be reviewed and judged by a panel of Judges (as such term is defined below) in order to determine a Winner (as such term is defined below) who will ultimately receive an opportunity to attend the 2014 Bonnaroo Music and Arts Festival and the opportunity to play live on the Café Stage and the Ford Garage Stage at the Festival, all as further described herein.  The Contest begins on May 14, 2014 at 12:01am Eastern Standard Time ("<u>EST</u>") and ends on May 30, 2014 at 11:59pm EST (the "<u>Contest Period</u>") and will consist of the following two phases:
      .row
        %table.table
          %thead
            %tr
              %th.col-sm-4 Phase
              %th.col-sm-4 Starts
              %th.col-sm-4 Ends
          %tbody
            %tr
              %td.col-sm-4
                %strong Entry Phase
              %td.col-sm-4 May 14, 2014 at 12:01am EST
              %td.col-sm-4 May 30, 2014 at 11:59pm EST
            %tr
              %td.col-sm-4
                %strong Juding Phase
              %td.col-sm-4 June 2, 2014 at 9:00pm EST
              %td.col-sm-4 June 2, 2014 at 12:00pm EST
      %li
        %p
          %strong.heading HOW TO ENTER.
          To enter, participants must first visit <a href="http://www.youtube.com" rel="nofollow" target="_blank">www.youtube.com</a> (which is owned and operated by YouTube LLC) (“<u>YouTube</u>”) and log on to his or her account.  If participant is not a registered user of YouTube, he or she must proceed to register for an account to enter the Contest.  Please note that there is no fee or charge to become a registered user of YouTube.  After logging into his or her YouTube account, participant must upload an original video featuring themselves (solo or as part of a group) performing an original song, which must also include a short statement as to why the entrant deserves to perform at the 2014 Bonnaroo Music and Arts Festival (each a “<u>Video</u>”).  Video file size limitation and file format must adhere to any and all YouTube terms and conditions. Once potential entrant’s Video has been uploaded to YouTube, and during the Entry Phase, he or she must visit <a href="http://whatstrending.com/escapetobonnaroo" rel="nofollow" target="_blank">whatstrending.com/escapetobonnaroo</a> (“<u>Contest Website</u>”) and follow the on-screen instructions to complete the online entry form, which will require the completion of all required entry fields, including, without limitation, submitting a unique YouTube URL for his or her Video.  All entries must be received by May 30, 2014 at 11:59pm EST.  By submitting an entry, entrant agrees that his or her entry conforms to the terms and conditions set forth herein, including, without limitation, any and all requirements set forth in <u>Section 4</u> below.  Sponsor may, in its sole discretion, remove and/or disqualify any entry if it believes, in its sole discretion that such entry fails to conform to same.  Entries generated by script, macro or other automated means or by any means which subvert the entry process are void. [Limit of one entry per person per day during the Entry Period.] All entries, including any and all Videos and other information therein, which are submitted in accordance with these Official Rules will be collectively hereinafter referred to as an “<u>Eligible Entry</u>”.  In addition, by entering the Contest, entrants agree to abide by and be bound by YouTube’s Terms of Service, which can be found at <a href="https://www.youtube.com/static?gl=US&template=terms" rel="nofollow" target="_blank">https://www.youtube.com/static?gl=US&template=terms</a> and YouTube’s Community Guidelines, which can be found at <a href="https://www.youtube.com/t/community_guidelines" rel="nofollow" target="_blank">https://www.youtube.com/t/community_guidelines</a>. If entrant does not agree to the foregoing YouTube policies, he or she must not enter the Contest.  Additionally, entrants must also acknowledge and agree to the terms of Sponsors Terms of Use, which can be found at <a href="http://whatstrending.com/privacy" rel="nofollow" target="_blank">http://whatstrending.com/privacy</a>, and Sponsor’s Privacy Policy, which can be found at <a href="" rel="nofollow" target="_blank">http://whatstrending.com/privacy</a>
              
      %li
        %p
          %strong.heading ADDITIONAL REQUIREMENTS OF ENTRIES.
          In addition to all other terms and conditions set forth herein with the respect to the eligibility of an entry, entrants agree that all entries (including any and all Videos and other information therein) shall meet the following requirements and guidelines (any entry that, in Sponsor's sole and absolute discretion, violates the following criteria will be disqualified and will not be considered an Eligible Entry):
        %ul
          %li Entries must constitute an original work of entrant, and must be in keeping with the Sponsor’s image, as determined by the Sponsor in its sole discretion.
          %li Entries must not infringe upon the copyrights, trademarks, rights of privacy, publicity or other intellectual property or other rights of any third party. 
          %li Entries must not be sexually explicit or suggestive, unnecessarily violent or derogatory of any ethnic, racial, gender, religious, professional or age group, profane or pornographic, illegal, discriminatory or harassing, or display inappropriate activity, behavior or conduct or contain nudity.
          %li Entries must not promote alcohol, illegal drugs, tobacco, firearms/weapons (or the use of any of the foregoing), any activities that may appear unsafe or dangerous, or any particular political agenda or message.
          %li Entries must not be obscene or offensive, crude or vulgar, endorse any form of hate or hate group, gang signs or symbol.
          %li Entries must not contain trademarks, logos or trade dress (such as distinctive packaging or building exteriors/interiors) owned by others, or advertise or promote any brand or product of any kind, without permission.
          %li Entries must not contain any personal identification, such as license plate numbers, personal names, e-mail addresses, websites, webpage links or street addresses. 
          %li Entries must not contain copyrighted materials owned by others (including photographs, sculptures, paintings and other works of art or images published on or in websites, television, movies or other media) without permission. 
          %li Entries must not contain materials embodying the names, likenesses, voices, or other indicia identifying any person, including, without limitation, celebrities and/or other public or private figures, living or dead, without permission. 
          %li Entries must not include look-alikes of celebrities or other public or private figures, living or dead.
          %li Entries must not communicate messages or images inconsistent with the positive images and/or goodwill to which Released Parties wish to associate.
          %li Entries must not depict and/or contain any content that is in violation of these Official Rules and/or any applicable laws.

        %p Additionally, if an entry contains any material or elements that are not owned by the entrant, and/or which are subject to the rights of third parties, the entrant is responsible for obtaining, prior to submission of the entry, any and all releases and consents necessary to permit the use and exhibition of the entry by Sponsor in the manner set forth in these Official Rules, including, without limitation, name and likeness permissions from any person who appears in or is identifiable in the entry (including, without limitation, any Group Member (as such term is defined below), if any). Sponsor reserves the right to request proof of these permissions in a form acceptable to Sponsor from any entrant at any time. Failure to provide such proof may, if requested, render the entry null and void.  By submitting an entry, entrant warrants and represents that he/she and any persons appearing or who are identifiable in the entry consent to the submission and use of the entry in the Contest and to its use as otherwise set forth herein.  Sponsor reserves the right to disqualify any entry that it determines, in its sole discretion, does not in comply with these Official Rules.

        %p NOTWITHSTANDING ANYTHING SET FORTH HEREIN TO THE CONTRARY, SPONSOR, NOR RELEASED PARTIES, ARE OBLIGATED TO, USE, PUBLISH, DISPLAY OR BROADCAST ANY SUBMITTED ENTRIES (IN WHOLE OR IN PART), AND SPONSOR RESERVES THE RIGHT TO REJECT ANY ENTRIES THAT IT DEEMS, IN ITS SOLE DISCRETION, VIOLATE THE TERMS AND CONDITIONS SET FORTH IN THESE OFFICIAL RULES AND/OR ANY OF ITS STANDARDS AND PRACTICES.  IN ADDITION, IF AT ANY TIME DURING THE CONTEST PERIOD OR AT ANY TIME THEREAFTER, SPONSOR DETERMINES THAT NOT ENOUGH OR NO ELIGIBLE ENTRIES EXIST FROM WHICH TO DETERMINE THE WINNER,  THEN  SPONSOR MAY IN ITS SOLE AND EXCLUSIVE DISCRETION DETERMINE THAT NOT ENOUGH OR NO ELIGIBLE ENTRIES EXIST, AND THEN MAY EITHER SUSPEND OR TERMINATE THE CONTEST OR MODIFY IT (OR ANY PARTS THEREOF) IN ANY EQUITABLE MANNER THAT SPONSOR DEEMS APPROPRIATE IN ITS SOLE AND EXCLUSIVE DISCRETION, INCLUDING, WITHOUT LIMITATION, BY NOT AWARDING ANY ONE OR MORE OF THE PRIZING SET FORTH IN THESE OFFICIAL RULES.

      %li
        %p
          %strong.heading GRANT OF RIGHTS/USE OF ENTRIES.
          By submitting an entry, each entrant grants Sponsor an irrevocable, perpetual, unlimited, royalty-free, fully paid-up license to the entry (including, without limitation, the Video) submitted (including all rights embodied therein) and understands that Sponsor and its designees may exploit, edit, modify, post, create derivatives of, distribute and otherwise use the entry and all elements of such entry (including, without limitation, the Video), including, without limitation, the names of any person or locations embodied therein, in any and all media now known or hereafter devised (including, but not limited to, on the Contest Website), in any manner, worldwide, without compensation or notification to, or permission from, entrant or any third party.  Entrant understands that Sponsor has no obligation to post an entry.  Entrant agrees that Released Parties are not responsible for any unauthorized use of entries by third parties and understands that Sponsor can take down and/or disqualify any entry at any time.
      %li
        %p
          %strong.heading JUDGING PHASE; SELECTION OF WINNER.
          During the Judging Phase, all Eligible Entries received during Entry Period by Sponsor will be judged by a panel of qualified judges selected by Sponsor (the “<u>Judges</u>”) who will select one winner (the “<u>Winner</u>”).  The Judges will judge and score the Eligible Entries based equally on the following criteria: (a) strength of original composition (50%) and (b) strength of performance (50%).  The Eligible Entry with the highest score based on the foregoing will be declared the Winner.  The final determination of the Winner and the application of the judging criteria shall be in the sole and absolute discretion of the Judges.  In the event of a tie, an additional, “tie-breaking” Judge will determine the winner based on the criteria listed herein. Sponsor reserves the right not to award the Prize (as such term is defined below) if, in its sole discretion, it does not receive a sufficient number of eligible and qualified Eligible Entries.  All judging assessments will be strictly confidential.  No other information regarding Eligible Entries or judging, other than as otherwise set forth in these Official Rules will be disclosed.  Judges’ and Sponsor’s decisions are final and binding on all matters relating to this Contest.  The awarding of the Prize (as such term is defined below) is subject to verification of eligibility and compliance with these Official Rules.  Please note while the general public will be invited to view Eligible Entries and may be invited to “like” Eligible Entries, the number of “likes” any Eligible Entry receives will not impact the judging.

      %li
        %p
          %strong.heading DESCRIPTION OF PRIZE; GENERAL PRIZE TERMS.
          Winner will be awarded a four day/three night trip for Winner and, if applicable, for each group member featured in Winner’s Video (each a “<u>Group Member</u>”) (up to a maximum of four Group Members), to attend the 2014 Bonnaroo Music and Arts Festival in Manchester, TN, currently scheduled to take place from June 12, 2014 through June 15, 2014 (the “<u>Festival</u>”), as well as the opportunity to play live on the Café Stage and the Ford Garage Stage at the Festival on a date during the Festival (to be determined by Sponsor in its sole discretion and subject to overall Festival scheduling) (the “<u>Prize</u>”).  The Prize will include (a) roundtrip coach air transportation to Nashville, TN for both Winner and each additional Group Member (if applicable) from a major commercial airport nearest Winner’s residence; (b) three night hotel accommodations for Winner and each Group Member at a hotel selected by Sponsor (double occupancy); (c) transportation to and from the airport to the hotel, as well as to and from the hotel to the Festival; and (d) admission for Winner and each Group Member (if applicable) to attend the Festival.  The approximate retail value (“<u>ARV</u>”) of the Prize is between $2,500 and $12,500 depending on the actual number of Group Members, if any.  In addition, the ARV of the Prize may also vary depending on departure airport and dates of travel.  The opportunity to perform at the Festival (at the sole discretion of Sponsor) has no retail value.  Any difference between the stated value and the actual value will not be awarded.  

        %p
          %strong TRIP MUST BE TAKEN ON DATES SPECIFIED BY SPONSOR OR PRIZE WILL BE FORFEITED AND SPONSOR WILL HAVE NO FURTHER OBLIGATION TO WINNER OR ANY OTHER GROUP MEMBER.
          All Prize details are determined by Sponsor in its sole discretion.  Travel must be made through Sponsor’s agent(s), on carrier(s) of Sponsor’s choice, in seat locations determined by Sponsor.  All tickets are subject to terms and conditions of their issuer(s).  Winner, and each additional Group Member (if any), must live within the 48 contiguous United States and the District of Columbia and must be 18 years of age or older. If Winner’s point of departure is in close proximity (as determined by Sponsor) to Manchester, TN, then Sponsor may determine, in their sole discretion, that Winner, and each Group Member (if any) will receive alternate ground transportation in lieu of air transportation and Sponsor will have no obligation to the Winner or any Group Member (if any) for any difference in prize value.  The Winner and each additional Group Member (if any) must have all necessary identification and/or travel documents required for travel. All details related to the performance at the Festival will be determined by Sponsor in its sole discretion.  Tickets and passes are subject to terms and conditions set forth thereon. Winner and all Group Members (if any) must comply with all Festival rules and regulations.  Failure to do so may result in forfeiture of such portion of Prize.  Winner, and each additional Group Member (if any) is solely responsible for all expenses not specifically set forth herein, including but not limited to spending money, meals, accommodations, gratuities, tips, taxes and incidentals.  All federal, state, and local taxes, and all other expenses not specifically mentioned herein are the sole responsibility of the Winner and each Group Member (if any).  Sponsor reserves the right to substitute a prize of equal or greater value.  If any portion of any Prize is cancelled or postponed for any reason, Sponsor will have no obligation to award compensation in lieu thereof, the remainder of the applicable Prize will be awarded and Sponsor will have no further obligation to the Winner and/or any additional Group Member. Sponsor shall be responsible only for Prize delivery; not responsible for Prize utility, quality or otherwise.   Prize cannot be assigned, transferred, changed, or redeemed for cash except at the sole discretion of the Sponsor.  Other restrictions may apply.

      %li
        %p
          %strong.heading WINNER NOTIFICATION AND VERIFICATION.
          Potential Winner will be notified, via the e-mail and/or phone number(s), provided on the entry forms, on or around June 3, 2014.  Sponsor will make up to three attempts over the 48 hour period following selection to contact the potential Winner, and will not leave messages on answering machines or voicemails. If the potential Winner cannot be reached during the 48 hour period in which he/she is contacted, the potential Winner will be disqualified and, an alternate Winner may be selected from among the remaining Eligible Entries received, at Sponsor’s discretion and if time permits. If Sponsor is successful in contacting the potential Winner, then the potential Winner will be required to prove eligibility, including, without limitation, proof of age and residence within three days of being notified as a potential Winner.  In the event of non-compliance by a potential Winner, such potential Winner shall be disqualified and all privileges otherwise due as a Winner shall be terminated and an alternative potential Winner may be chosen from among all of the remaining Eligible Entries received in Sponsor's sole discretion, and if time permits. The Winner and each additional Group Member (if applicable) MUST complete and sign, within three days of receipt of such documents from Sponsor: (a) an affidavit of eligibility and release of Released Parties and their respective officers, directors, employees, agents, members, affiliated companies and subsidiaries, (b) except where prohibited by law, a promotional release granting Released Parties the right to use his/her name and likeness for advertising and publicity purposes without additional compensation and (c) any additional legal documents provided by Sponsor (or third party on its behalf, if applicable) with respect to the Contest.  Entry into this Contest constitutes agreement to sign the foregoing documents. 
          %strong ALL DECISIONS OF SPONSOR RELATING TO THE CONTEST ARE FINAL.
          Released Parties shall have no responsibility or obligation to the Winner or potential Winner, and/or any Group Member (if applicable), who is unable or unavailable to accept or utilize any part of the Prize as described herein.  Sponsor expressly reserves the right to delay the announcement of the Winner for creative or technical reasons or for any other reason Sponsor deems necessary.

      %li
        %p
          %strong.heading COMPLIANCE; RELEASE AND INDEMNIFICATION.
          By participating, each entrant agrees: (a) to abide by these Official Rules and decisions of Sponsor and Judges, which shall be final and binding in all respects relating to this Contest; (b) to release, discharge, indemnify and hold harmless the Released Parties from any and all injuries, liability, losses and damages of any kind to persons, including death, or property resulting, in whole or in part, directly or indirectly, from entrant’s participation in the Contest and/or any Contest-related activity (including, without limitation, in connection with the Video) or the acceptance, possession, use or misuse of any awarded Prize (including any travel or activity related thereto or injury or harm resulting from participation in the Contest); and (c) to the use by Sponsor and its designees of his/her name, city and state of residence, voice, performance, photograph/video, image and/or likeness for programming, advertising, publicity and promotional purposes in any and all media, now or hereafter known, in any manner, worldwide in perpetuity, without compensation (unless prohibited by law) or additional consents from entrant or any third party and without prior notice, approval or inspection, and to execute specific consent to such use if asked to do so.  

      %li
        %p
          %strong.heading GENERAL CONTEST TERMS.
          Released Parties are not responsible for lost, late, incomplete, damaged, inaccurate, stolen, delayed, misdirected, undelivered or garbled entries or email; or for lost, interrupted or unavailable network, server, Internet Service Provider, website, or other connections, availability or accessibility or miscommunications or failed computer, satellite, telephone or cable transmissions, lines, or technical failure or jumbled, scrambled, delayed, or misdirected transmissions or computer hardware or software malfunctions, failures or difficulties, or other errors or difficulties of any kind whether human, mechanical, electronic, computer, network, typographical, printing or otherwise relating to or in connection with the Contest, including, without limitation, errors or difficulties which may occur in connection with the administration of the Contest, the processing or judging of Entries, the tabulation of votes, the announcement of the Prize, the incorrect uploading of the entry (including, without limitation, any Video) or in any Contest-related materials.  Released Parties are also not responsible for any incorrect or inaccurate information, whether caused by other end users, tampering, hacking, or by any equipment or programming associated with or utilized in the Contest.  Released Parties are not responsible for injury or damage to any person's computer related to or resulting from participating in this Contest or downloading materials from or use of the Contest Website or YouTube.  Persons who tamper with or abuse any aspect of the Contest or Contest Website, who act in an unsportsmanlike or disruptive manner or who are in violation of these Official Rules, as solely determined by Sponsor, will be disqualified and all associated entries will be void. Should any portion of the Contest be, in Sponsor’s sole opinion, compromised by virus, worms, bugs, non-authorized human intervention or other causes which, in the sole opinion of the Sponsor, corrupt or impair the administration, security, fairness or proper play, or submission of entries, Sponsor reserves the right at its sole discretion to suspend, modify or terminate the Contest and, if terminated, at its discretion, select the potential winner from all Eligible Entries, non-suspect received prior to action taken using the judging procedure outlined above.  The use of automated software or computer programs to enter is prohibited and any individual who uses or attempts to use such methods will be disqualified. ANY ATTEMPT BY ANY INDIVIDUAL TO DELIBERATELY DAMAGE ANY WEBSITE OR UNDERMINE THE LEGITIMATE OPERATION OF THE CONTEST IS A VIOLATION OF CRIMINAL AND CIVIL LAWS AND SHOULD SUCH AN ATTEMPT BE MADE, RELEASED PARTIES RESERVE THE RIGHT TO SEEK DAMAGES FROM ANY SUCH INDIVIDUAL TO THE FULLEST EXTENT PERMITTED BY LAW.  ANY VIOLATION OF THESE OFFICIAL RULES BY WINNER OR ANY BEHAVIOR BY WINNER THAT WILL BRING SUCH WINNER OR RELEASED PARTIES INTO DISREPUTE (IN RELEASED PARTIES’ SOLE DISCRETION) WILL RESULT IN SUCH WINNER'S DISQUALIFICATION AS THE WINNER OF THIS CONTEST AND ALL PRIVILEGES AS THE WINNER WILL BE IMMEDIATELY TERMINATED.  NONCOMPLIANCE WITH THESE OFFICIAL RULES MAY RESULT IN DISQUALIFICATION.

      %li
        %p
          %strong.heading FURTHER DOCUMENTATION.
          If Sponsor shall desire to secure additional assignments, certificates of engagement for any entry (including, without limitation, in connection with the applicable Video) or other documents as Sponsor may reasonably require in order to effectuate the purposes and intents of these Official Rules, then each entrant agrees to sign the same (and if applicable, ensure that any additional Group Members sign the same) upon Sponsor’s request thereof.

      %li
        %p
          %strong.heading SPONSOR.
          What’s Trending, Inc., 12422 Bluff Creek Drive, c/o YouTube Space LA, Los Angeles, CA 90094.

      %li
        %p
          %strong.heading WINNER’S INFORMATION AND OFFICIAL RULES REQUEST.
          To obtain the name of the Winner, please send a self-addressed, stamped envelope marked “Winners List” to: “Escape to Bonnaroo” Video Contest c/o What’s Trending, Inc., 12422 Bluff Creek Drive, c/o YouTube Space LA, Los Angeles, CA 90094.  Requests will be fulfilled after Winner has been verified.  For a copy of the Official Rules, visit the Contest Website or send a self-addressed, stamped envelope marked “Official Rules” to: “Escape to Bonnaroo” Video Contest c/o What’s Trending, Inc., 12422 Bluff Creek Drive, c/o YouTube Space LA, Los Angeles, CA 90094. Residents of Vermont and Washington may omit the return postage on their request.

    %h5.text-center.upcase THIS PROMOTION IS IN NO WAY SPONSORED, ENDORSED OR ADMINISTERED BY, OR ASSOCIATED WITH, YOUTUBE LLC.  





  %p.text-center
    = link_to t('contest.escape.submissions.rules.return'), static_page_url('escapetobonnaroo'), style: 'font-weight: 500'