- @page_title = "About What's Trending"
- #@page_description = nil
- #@page_keywords = nil
- @page_canonical_url = static_page_url(:about)


- content_for(:upper_content) do
  .hidden-xs.col-xs-12.col-md-10.col-md-offset-1
    .post-category.wt-label.label-info About

- content_for(:upper_sidebar) do
  .youtube-channel
    %span= t('layouts.post.sidebar.subscribe_youtube')
    %span= render '/layouts/application/youtube'
    .clearfix


.static-content-area.col-xs-12.col-md-10.col-md-offset-1
  .page-header
    %h1 About What's Trending

  %p.lead What's Trending serves as a 24/7 news hub, covering and curating the most viral and shareable content across the social web. It is a home for all of what is trending on the Internet. Our Emmy-nominated live and interactive talk show airs daily on <a href="#{youtube_url}" rel="follow" target="_blank">YouTube</a>. Stay connected and join the conversation by following us on Twitter <a href="http://twitter.com/intent/user?screen_name=whatstrending" rel="nofollow">@WhatsTrending</a>.


  .page-header
    %h1 Our Staff

  %ul.list-unstyled.author-list
    - cache(['static_page', 'about', 'staff'], expires_in: 1.hour) do
      - @staff.each do |user|
        - cache([user,'staff'], expires_in: 1.week) do
          %li.col-md-6.col-xs-12
            = link_to author_url(user), class: 'col-md-12 col-xs-3' do
              .author-image-wrap{title: user.name}
                .author-image{style: "background-image: url(#{user.avatar.url(:large)})"}
                %h2.hidden-xs.hidden-sm
                  = user.name
                  - if user.title.present?
                    %small= user.title
            .col-md-12.col-xs-8.col-xs-offset-1
              %h2.hidden-md.hidden-lg
                = user.name
                - if user.title.present?
                  %small= user.title

              = simple_format(sanitize(user.byline, elements: %w(a), attributes: {all: %w(href)}, remove_contents: true))

              - if false #unless [user.twitter_handle, user.facebook_handle].compact.empty?
                .social-icons
                  - if user.facebook_handle.present?
                    = link_to "https://facebook.com/#{user.facebook_handle}", target: '_blank', class: '' do
                      %span.wticon.wticon-facebook
                  - if user.twitter_handle.present?
                    = link_to "https://twitter.com/#{user.twitter_handle}", target: '_blank', class: '' do
                      %span.wticon.wticon-twitter
                  .clearfix