.jumbotron
  .container
    .col-sm-6
      %h3= t('contest.escape.submissions.closed.main_title')
      %h6= t('contest.escape.submissions.closed.subtext')
        
    .col-sm-6
      = image_tag asset_url('contest/escape/splash.png'), alt: '', title: '', width: 436, height: 426
    .clearfix
    .rel
      = link_to t('contest.escape.submissions.closed.ford_learn_more'), 'http://www.ford.com/suvs/escape/?fmccmp=140602-bca-bonnaroo2014', class: 'ford-cta', rel: 'nofollow', target: '_blank', title: t('contest.escape.submissions.closed.ford_learn_more')
.jumbotron-bottom


- unless @on_the_road.blank?
  .finalist-announcement
    .container
      %h1.text-center= t('contest.escape.submissions.closed.on_the_road')
      - @on_the_road.slice!(0,1).each do |video|
        .video.text-center
          <iframe width="640" height="360" src="//www.youtube.com/embed/#{video[:youtube_id]}?autoplay=1" frameborder="0" allowfullscreen></iframe>
          %h2= video[:title]
          %hr
      %ul.submissions.list-unstyled
        - @on_the_road.each_with_index do |video,i|
          %li.submission.col-sm-4
            = link_to "https://www.youtube.com/watch?v=#{video[:youtube_id]}", rel: 'follow', target: '_blank', 'data-title' => video[:title] do
              .thumb{style: "background-image: url('https://img.youtube.com/vi/#{video[:youtube_id]}/0.jpg')"}
              %h4.title= video[:title]
      .icon1
      .icon2


- unless @live_videos.blank?
  .submissions-container#submissions
    .container
      .tabbable
        %ul.nav.nav-tabs
          %li.active= link_to t('contest.escape.submissions.closed.live_videos'), "#finalists", "data-toggle" => "tab"
        .tab-content
          #finalists.tab-pane.active
            %ul.submissions.list-unstyled
              - @live_videos.each do |video|
                %li.submission.col-sm-4
                  = link_to "https://www.youtube.com/watch?v=#{video[:youtube_id]}", rel: 'follow', target: '_blank', 'data-title' => video[:title] do
                    .thumb{style: "background-image: url('https://img.youtube.com/vi/#{video[:youtube_id]}/0.jpg')"}
                      - if video[:winner]
                        .vote-count.gloss.gloss-hicontrast
                          = t('contest.escape.submissions.closed.perform')
                    %h4.title= video[:title]
            
      .clearfix