- @page_title = "#Hope4Children Livestream, sponsored by Samsung & What's Trending"
- @page_description = "What is your Hope for Children? Tweet us using the hashtag #hope4children to @whatstrending and @samsungtweets."
- @share_page_description = "@whatstrending @samsungtweets My #hope4children is... "
- @page_keywords = "hope4children, samsung, what's trending, gala, livestream, you tube, hope for children, tweet"
- @page_canonical_url = static_page_url(:hope4children)
- @page_meta_images = [image_url('pages/hope4children/share-image.png')]

- livestream_status = 'h4c-over' if Time.now.to_i > 1402448280
- livestream_status = 'h4c-live' if true#Time.now.to_i > 1402437480
- livestream_status ||= 'h4c-soon'


!!!
%html.page.static.hope4children{lang: page_lang, 'xmlns:fb' => 'http://www.facebook.com/2008/fbml', 'xmlns:og' => 'http://opengraphprotocol.org/schema/', 'xmlns' => 'http://www.w3.org/1999/xhtml'}
  %head{prefix: 'og: http://ogp.me/ns# fb: http://ogp.me/ns/fb#'}
    %meta{charset: 'UTF-8'}

    %title= page_title
    - cache(meta_cache_key, expires_in: 15.minutes) do
      = render 'layouts/application/meta_tags'

    = stylesheet_link_tag    "page", media: "all", "data-turbolinks-track" => true
    = javascript_include_tag "page", "data-turbolinks-track" => true

    = render 'layouts/application/page_header'

    :scss
      #h4c {
        .container-wrap {width: 725px; margin: 0 auto;}
        #h4c-header {padding: 29px 0 20px 0; background-color: rgb(49,81,128); background-image: url("#{asset_url 'pages/hope4children/clouds.png'}"); background-position: top center; background-repeat: no-repeat;
          .logo-samsung {text-indent: -9999px; display: inline-block; width: 86px; height: 13px; background-image: url("#{asset_url 'pages/hope4children/samsung-logo@2x.png'}"); background-position: center center; background-repeat: no-repeat; background-size: 86px 13px; vertical-align: middle;}
          .logo-wt {text-indent: -9999px; display: inline-block; width: 119px; height: 25px; background-image: url("#{asset_url 'pages/hope4children/wt-logo@2x.png'}"); background-position: center center; background-repeat: no-repeat; background-size: 119px 25px; vertical-align: middle;}
          .text {display: inline-block; padding: 0 7px; vertical-align: middle; color: rgb(255,255,255); font-weight: 400px; text-transform: uppercase; font-size: 11px; line-height: .8em;}
          a {-webkit-transition: opacity .2s ease-out; -moz-transition: opacity .2s ease-out; -ms-transition: opacity .2s ease-out; -o-transition: opacity .2s ease-out; transition: opacity .2s ease-out;}
          a:hover {opacity: .7;}
          .pull-right {color: rgb(255,255,255); font-size: 14px; line-height: 1.0em; font-weight: 600; padding: 12p 0 0 0;}
        }
        #h4c-explainer {display: table; width: 100%; height: 100%; background-color: rgb(255,255,255);
          .cellrow {display: table-row; min-height: 107px;}
          .h4c-logo {text-indent: -9999px; display: block; width: 226px; height: 87px; background-image: url("#{asset_url 'pages/hope4children/hope4children-logo@2x.png'}"); background-size: 226px 87px; background-repeat: no-repeat;}
          .cell {display: table-cell; vertical-align: middle; height: 100%; min-height: 107px; padding: 10px 0;}
          .cell.live-marker { vertical-align: bottom; white-space: nowrap; padding: 0 10px 13px 14px; min-width: 30px;
            .h4c-live-marker {
              span { display: block; padding: 5px 8px; border-radius: 5px; background-color: rgb(241,240,240); color: rgb(216,38,46); font-weight: 600; font-size: 15px;  white-space: nowrap;
                &:before {content: ""; display: inline-block; margin: 0 6px 0 2px; width: 8px; height: 8px; border-radius: 100%; background-color: rgb(216,38,46); overflow: hidden; 
                }
              }
              &.animate span:before {-webkit-animation: record-dot 2.0s ease-in infinite; -moz-animation: record-dot 2.0s ease-in infinite; -ms-animation: record-dot 2.0s ease-in infinite; -o-animation: record-dot 2.0s ease-in infinite; animation: record-dot 2.0s ease-in infinite;}
            }
          }
          .cell.text {padding: 0 0 0 50px; width: 100%;
            p {color: rgb(49,81,128); font-size: 14px; line-height: 22px; font-weight: 600; padding: 6px 0 0 0;}
          }
        }
        #container { padding-bottom: 50px; box-shadow: none;
          .trees {position: absolute; z-index: -1; bottom: 80px; left: 0; right: 0; width: 895px; height: 100px; margin: 0 auto; background-image: url("#{asset_url 'pages/hope4children/trees.png'}"); background-position: top center; background-repeat: no-repeat;}
          .video-area {background: rgb(0,0,0); padding: 0; margin: 0 auto;
            iframe {display: block; padding: 0; margin: 0 auto;}
          }
          .row { margin-top: -50px; padding: 0 0 30px 0; margin-left: 0; margin-right: 0; 
            .h4c-hashtag {padding: 12px 20px; background-color: rgb(8,205,255); color: rgb(255,255,255); font-size: 26px; font-weight: 600; line-height: 1.0em;}
            .share-buttons { margin-top: 0;
              -webkit-transform: scale(1.5);
              -webkit-transform-origin: right top;
              -moz-transform: scale(1.5);
              -moz-transform-origin: right top;
              -ms-transform: scale(1.5);
              -ms-transform-origin: right top;
              -o-transform: scale(1.5);
              -o-transform-origin: right top;
              transform: scale(1.5);
              transform-origin: right top;
              li {float: left; margin-left: 5px;}
            }
          }
          .photo-strip {padding-top: 40%; max-height:450px; overflow: hidden; background: rgba(40,40,43,.32);}
          .photo-strip, .video-area {background-image: url("#{asset_url 'pages/hope4children/photos.jpg'}"); background-position: center center; background-repeat: no-repeat; background-size: cover;}
          .container-wrap { z-index: 2; background-color: rgb(255,255,255); padding: 50px; margin-top: -180px;
            p {color: rgb(40,40,43); font-size: 16px; line-height: 26px; font-weight: 600;}
            p.lead {color: rgb(195,213,0); font-size: 18px; line-height: 30px;}
            p.strong {color: rgb(49,81,128);}
          }
          &.h4c-live, &.h4c-over {background-position: center 598px;
            .photo-strip {display: none;}
            .container-wrap {margin-top: 0;}
          }
        }
        .h4c-tagboard {padding: 0 0 50px 0;
          iframe {max-height: inherit;}
        }
      }
      #content-area {margin: 0; padding: 50px 0; box-shadow: inset 0 3px 5px rgba(0,0,0,.18); background-color: rgb(255,255,255);}


  %body{'data-wt-live' => (wt_is_live?).to_s, class: body_classes}

    #wrapper
      = render 'layouts/application/facebook'

      #h4c
        - if false
          %h1= Time.new(2014, 06, 10, 17, 58, 0,"-04:00").to_s
          %h1= (Time.new(2014, 06, 10, 17, 58, 0,"-04:00") + 3.hours).to_i
        %header#h4c-header
          .container-wrap
            .pull-left
              = link_to t(:samsung), 'http://samsung.com', target: '_blank', rel: 'nofollow', class: 'logo-samsung'
              .text.and= t(:and)
              = link_to t(:logo), root_url, rel: 'follow', class: 'logo-wt'
              .text.present= t(:present)
            .pull-right
              .text-right Join us on 6/10 at 6:00pm ET
            .clearfix

        %section#h4c-explainer
          .container-wrap
            .cell-row
              .cell.logo
                .h4c-logo Samsung Hope 4 Children
              .cell.live-marker
                .h4c-live-marker{class: (livestream_status.match(/live/i) ? 'animate' : '')}
                  %span Live
              .cell.text
                - if livestream_status.match(/\-(soon|live)/i)
                  %p What is your Hope for Children? Tweet us using the hashtag #hope4children to <a href="https://twitter.com/whatstrending" rel="nofollow" target="_blank">@whatstrending</a> and <a href="https://twitter.com/samsungtweets" rel="nofollow" target="_blank">@samsungtweets</a>.
                - else
                  %p.text-right Thank you for supporting #hope4children.

        #container{class: livestream_status}
          - if livestream_status.match(/\-(live|over)/i)
            %section.video-area.text-center
              %iframe{src: "//www.youtube.com/embed/YfXxBN-ppI8?feature=player_detailpage&autoplay=1", frameborder: 0, allowfullscreen: true, width: 725, height: 408}
          - else
            .photo-strip

          .container-wrap
            .row
              .h4c-hashtag.gloss.pull-left #hope4children
              .h4c-share-buttons.pull-right
                %ul.share-buttons{data: {type: 'text', 'canonical-url' => @page_canonical_url, text: @share_page_description, title: @page_title, description: @page_description, image: @page_meta_images[0], hashtag: 'hope4children', related: 'whatstrending'}}
                  - [:facebook, :twitter, :googleplus].each do |p|
                    %li.share-platform{class: "share-platform-#{p}", title: p.to_s.humanize}
                      %a{href: 'javascript:;', 'data-toggle' => :share_button, 'data-platform' => p}
                        .share-icon.wticon{class: "wticon-#{p}"}

              .clearfix
            %p.lead Samsung Hope for Children is Samsung Electronics America’s ongoing philanthropic initiative to help children live smarter, healthier, and more sustainable lives.
            %p The company and its partners have helped more than 750 organizations throughout the U.S. raise awareness of and funding for their causes. What’s Trending is incredibly proud to partner with Samsung for a third time to bring fans a livestream with their favorite celebrities like Carrie Underwood, Jessica Alba, Estelle, and so many more live from the Blue Carpet at Cipriani in New York. 
            %p.strong What is your Hope for Children? Tweet us using the hashtag #hope4children to <a href="https://twitter.com/whatstrending" rel="nofollow" target="_blank">@whatstrending</a> and <a href="https://twitter.com/samsungtweets" rel="nofollow" target="_blank">@samsungtweets</a>, then join Shira Lazar on 6/10 at 6:00pm ET, and we’ll feature your tweets on the livestream! 
          .trees

        .h4c-tagboard
          .container-wrap
            #tagboard-embed
            %script var tagboardOptions = {tagboard:"Hope4Children/174509",postCount: 8, mobilePostCount: 5};
            %script{src: "https://tagboard.com/public/js/embed.js"}


          = render 'layouts/application/flash'



      - if false #unless @latest_posts.blank?
        #content-area.content-box.container-full
          .container-wrap
            .page-header
              %h2.text-center= t('contest.escape.layout.latest_posts.title')
        
            %ul#posts-list.posts-list.list-unstyled
              - @latest_posts.take(3).each do |post|
                = render '/posts/post', post: post, format: :feed
            .clearfix

      = render 'layouts/application/footer'
