- @page_title = "What's Trending Privacy Policy"
- #@page_description = nil
- #@page_keywords = nil
- @page_canonical_url = static_page_url(:privacy)


- content_for(:upper_content) do
  .hidden-xs.col-md-10.col-md-offset-1
    .post-category.wt-label.label-info Legal

- content_for(:upper_sidebar) do
  .youtube-channel
    %span= t('layouts.post.sidebar.subscribe_youtube')
    %span= render '/layouts/application/youtube'
    .clearfix


.col-xs-12.col-md-10.col-md-offset-1
  .page-header
    %h1 What's Trending Privacy Policy


  %h3 Website Visitors
  %p Like most website operators, What's Trending collects potentially personally-identifying information like Internet Protocol (IP) addresses for logged in users and for users leaving comments on What's Trending.com blogs. What's Trending only discloses logged in user and commenter IP addresses under the same circumstances that it uses and discloses personally-identifying information as described below, except that blog commenter IP addresses and email addresses are visible and disclosed to the administrators of the blog where the comment was left.
  %h3 Gathering of Personally-Identifying Information
  %p Certain visitors to What's Trending's websites choose to interact with What's Trending in ways that require What's Trending to gather personally-identifying information. The amount and type of information that What's Trending gathers depends on the nature of the interaction. For example, we ask visitors who sign up at What's Trending to provide a username and email address. In each case, What's Trending collects such information only insofar as is necessary or appropriate to fulfill the purpose of the visitor's interaction with What's Trending. What's Trending does not disclose personally-identifying information other than as described below. And visitors can always refuse to supply personally-identifying information, with the caveat that it may prevent them from engaging in certain website-related activities.
  %h3 Aggregated Statistics
  %p What's Trending may collect statistics about the behavior of visitors to its websites. For instance, What's Trending may monitor the most popular blogs on the What's Trending.com. What's Trending may display this information publicly or provide it to others. However, What's Trending does not disclose personally-identifying information other than as described below.
  %h3 Protection of Certain Personally-Identifying Information
  %p What's Trending discloses potentially personally-identifying and personally-identifying information only to those of its employees, contractors and affiliated organizations that (i) need to know that information in order to process it on What's Trending's behalf or to provide services available at What's Trending's websites, and (ii) that have agreed not to disclose it to others. Some of those employees, contractors and affiliated organizations may be located outside of your home country; by using What's Trending's websites, you consent to the transfer of such information to them. What's Trending will not rent or sell potentially personally-identifying and personally-identifying information to anyone. Other than to its employees, contractors and affiliated organizations, as described above, What's Trending discloses potentially personally-identifying and personally-identifying information only in response to a subpoena, court order or other governmental request, or when What's Trending believes in good faith that disclosure is reasonably necessary to protect the property or rights of What's Trending, third parties or the public at large. If you are a registered user of an What's Trending website and have supplied your email address, What's Trending may occasionally send you an email to tell you about new features, solicit your feedback, or just keep you up to date with what's going on with What's Trending and our products. We primarily use our various product blogs to communicate this type of information, so we expect to keep this type of email to a minimum. If you send us a request (for example via a support email or via one of our feedback mechanisms), we reserve the right to publish it in order to help us clarify or respond to your request or to help us support other users. What's Trending takes all measures reasonably necessary to protect against the unauthorized access, use, alteration or destruction of potentially personally-identifying and personally-identifying information.
  %h3 Cookies
  %p A cookie is a string of information that a website stores on a visitor's computer, and that the visitor's browser provides to the website each time the visitor returns. What's Trending uses cookies to help What's Trending identify and track visitors, their usage of What's Trending website, and their website access preferences. What's Trending visitors who do not wish to have cookies placed on their computers should set their browsers to refuse cookies before using What's Trending's websites, with the drawback that certain features of What's Trending's websites may not function properly without the aid of cookies.
  %h3 Business Transfers
  %p If What's Trending, or substantially all of its assets, were acquired, or in the unlikely event that What's Trending goes out of business or enters bankruptcy, user information would be one of the assets that is transferred or acquired by a third party. You acknowledge that such transfers may occur, and that any acquirer of What's Trending may continue to use your personal information as set forth in this policy.
  %h3 Ads
  %p Ads appearing on any of our websites may be delivered to users by advertising partners, who may set cookies. These cookies allow the ad server to recognize your computer each time they send you an online advertisement to compile information about you or others who use your computer. This information allows ad networks to, among other things, deliver targeted advertisements that they believe will be of most interest to you. This Privacy Policy covers the use of cookies by What's Trending and does not cover the use of cookies by any advertisers.
  %h3 Privacy Policy Changes
  %p Although most changes are likely to be minor, What's Trending may change its Privacy Policy from time to time, and in What's Trending's sole discretion. What's Trending encourages visitors to frequently check this page for any changes to its Privacy Policy.
  /%h3 Comment Policy
  %h3 Disclaimer
  %p Posted comments and images do not necessarily represent the views of What's Trending. External, non-What's Trending links on this site do not constitute official endorsement on behalf of What's Trending. While we encourage fans to share thoughts and opinions on the What's Trending Facebook page, we expect that this will be done in a respectful manner.
  %p What's Trending does not agree with or endorse every comment that individuals post on our pages. Our goal is to share ideas and information with as many individuals as possible and our policy is to accept the majority of comments made to our profile.
  %p Therefore, a comment will be deleted if it contains:
  %ul
    %li Hate speech
    %li Profanity, obscenity or vulgarity
    %li Nudity in profile pictures
    %li Defamation to a person or people
    %li Name calling and/or personal attacks,
    %li Comments whose main purpose are to sell a product, and
    %li Comments that infringe on copyrights,
    %li Spam comments, such as the same comment posted repeatedly on a profile, and
    %li Other comments that the What's Trending Social Media team deems inappropriate.
  %p All links posted as comments on What's Trending posts will be reviewed and may be deleted.
  %p Repeated violations of the What's Trending comment policy may cause the author to be blocked from the What's Trending Facebook page.
  %p We understand that social media is a 24/7 medium; however, our moderation capabilities are not. We may not see every inappropriate comment right away, and we are trusting in the maturity of our community to ignore personal attacks and negative speech or respond politely.
  %p The What's Trending Privacy Policy does not apply to Facebook, and What's Trending cannot guarantee the privacy or security of information that users provide to linked external third-party websites such as Facebook. Content from What's Trending.gov is provided to third-party websites, such as Facebook, in accordance with the agency's mission and goals. What's Trending cannot attest to the accuracy of information provided by Facebook or any other non-What's Trending site. What's Trending's collaboration with third-party websites, including Facebook, does not imply endorsement by What's Trending or any of its employees of the site, the sponsors of the site, or any information, product, or service depicted on the site.
  %p What's Trending does not collect personally identifiable information such as your name, address, or telephone number from third-party websites such as Facebook. What's Trending will not contact you directly via phone, mail, or email attempting to solicit information from you. What's Trending may use information that visitors make available to it on Facebook and other third-party websites to improve our programs and better serve the public (for example, improving our education and outreach materials and activities).

  %hr
    %p
      %em The Privacy Policy was last updated 20 March, 2014.
    %p
      %small
        %em These terms of service are based on <a href="http://automattic.com/privacy/" target="_blank">Automattic's Privacy Policy</a>, provided by Automattic through a <a href="http://creativecommons.org/licenses/by-sa/3.0/" target="_blank">Creative Commons Sharealike license</a>.