- @page_title = "#Tubeathon Livestream, sponsored by Ford Focus & What's Trending"
- @page_description = "Tweet us using the hashtag #Tubeathon to @WhatsTrending and @FordFocus."
- @share_page_description = "#gofurther #tubeathon presented by @WhatsTrending and @FordFocus"
- @page_keywords = "tubeathon, ford focus, what's trending, livestream, you tube, covenant house, tweet"
- @page_canonical_url = static_page_url(:tubeathon)
- @page_meta_images = [image_url('pages/tubeathon/2014/share-image.jpg')]


- liveshow_start = 1418353200 # 2014-12-11 19:00:00 PST

- livestream_status = 'tubeathon-over' if Time.now.to_i > (liveshow_start + 3.hours + 10.minutes) # turn off 10 min after show ends
- livestream_status ||= 'tubeathon-live-all' if Time.now.to_i > (liveshow_start - 2.minutes) # turn on 2 min before show starts
- livestream_status ||= 'tubeathon-live-twitch' if Time.now.to_i > (liveshow_start - 1.hour - 2.minutes) # turn on 2 min before show starts
- livestream_status ||= 'tubeathon-soon'


- @body_classes << livestream_status


!!!
%html.page.static.tubeathon{lang: page_lang, 'xmlns:fb' => 'http://www.facebook.com/2008/fbml', 'xmlns:og' => 'http://opengraphprotocol.org/schema/', 'xmlns' => 'http://www.w3.org/1999/xhtml'}
  %head{prefix: 'og: http://ogp.me/ns# fb: http://ogp.me/ns/fb#'}
    %meta{charset: 'UTF-8'}

    %title= page_title
    - cache(meta_cache_key, expires_in: 15.minutes) do
      = render 'layouts/application/meta_tags'

    = stylesheet_link_tag    "page", media: "all", "data-turbolinks-track" => true
    = javascript_include_tag "page", "data-turbolinks-track" => true

    = render 'layouts/application/page_header'

    :coffee
      $(document).ready ->
        $('#show-videos').on 'click', ->
          $('#videos li.hidden').removeClass('hidden')
          $(this).parent().hide();

        time_till = #{liveshow_start - Time.now.to_i}
        if time_till > 0
          setInterval(->
            n = 0 + time_till
            h = Math.floor(n / 60 / 60)
            n = n - (h * 60 * 60)
            m = Math.floor(n / 60)
            s = n - (m * 60)

            h = '0' + h if h < 10
            m = '0' + m if m < 10
            s = '0' + s if s < 10

            $('#livestream_countdown').text(h + ':' + m + ':' + s)

            --time_till
          ,1000)


    - unless %w(tubeathon-over tubeathon-live-all).include?(livestream_status)
      :coffee
        if landed_at < #{liveshow_start}
          setTimeout(->
            window.location.reload();
          , (1000 * #{liveshow_start - Time.now.to_i - 30.seconds}))
        



    :scss
      body, #wrapper {background-color: #395477;}

      #tubeathon-header {background-color: #11325d;
        &:before {content: ""; display: block; width: 100%; position: absolute; top: 0; left: 0; right: 0; z-index: 1; min-height: 320px; background-image: url("#{asset_url 'pages/tubeathon/2014/snow-bg@2x.png'}"); background-position: center center; background-repeat: repeat-x; background-size: 840px 345px;}
        .container-wrap {position: relative; width: 100%; max-width: 990px; min-height: 153px; margin: 0 auto;
          &:before {content: ""; display: block; position: absolute; top: 0; left: -24px; z-index: 0; width: 296px; height: 117px; background-image: url("#{asset_url 'pages/tubeathon/2014/santa-moon@2x.png'}"); background-position: top center; background-repeat: repeat-x; background-size: contain;}
        }
        #logo {
          #tube-logo {position: absolute; top: 11px; left: 0; right: 0; z-index: 5; width: 237px; height: auto; margin: 0 auto; padding: 0 0 0 2px;}
          #logo-tag-wt, #logo-tag-ford {position: absolute; display: block; z-index: 6; background-position: center center; background-repeat: no-repeat; background-size: contain; -webkit-transform-origin: center center; -moz-transform-origin: center center; -ms-transform-origin: center center; transform-origin: center center; -webkit-transition: -webkit-transform .1s ease-out; -moz-transition: -moz-transform .1s ease-out; -ms-transition: -ms-transform .1s ease-out; transition: transform .1s ease-out;
            &:hover {-webkit-transform: scale(1.05); -moz-transform: scale(1.05); -ms-transform: scale(1.05); transform: scale(1.05);}
          }
          #logo-tag-wt {top: 110px; left: 50%; margin-left: -188px; width: 120px; height: 71px; background-image: url("#{asset_url 'pages/tubeathon/2014/tag-wt@2x.png'}");}
          #logo-tag-ford {top: 106px; right: 50%; margin-right: -181px; width: 123px; height: 85px; background-image: url("#{asset_url 'pages/tubeathon/2014/tag-ford@2x.png'}");}
          .share-buttons {position: absolute; display: block; z-index: 6; top: 215px; left: 0; right: 0; margin: 0 auto; text-align: center;
            li {display: inline-block; margin: 0 5px;
              a div {box-shadow: 0 2px 3px rgba(0,0,0,.25); border-radius: 1px; overflow: hidden;}
            }
          }
        }
        .details {padding: 30px 0;
          p {z-index: 6; position: relative; display: block; padding: 0; margin: 0; color: #ffffff; font-size: 2.4rem; line-height: 1.5em; font-weight: 600; text-shadow: 0 3px 5px rgba(0,0,0,.25); text-transform: uppercase;
            small {display: block; padding: 6px 0 0 0; font-size: .5em; font-weight: 400; line-height: 1.0em; letter-spacing: -.04em;}
            a {color: #ffffff; text-decoration: underline;
              &:hover {opacity: .75;}
            }
          }
        }
        & + .lock-wrapper {background-color: #11325d;}
        .addthisevent span {display: none;}
        .addthisevent, .addthisevent-drop {background: none; color: rgba(255,255,255,.8) !important; font-size: inherit; display: inline; padding: 0; margin: 0; text-transform: lowercase; border: none; font-weight: normal; text-decoration: underline !important; line-height: 1.5em; opacity: 1 !important; 
          &:hover, &:focus {color: #ffffff !important;}
          span {text-shadow: none; text-tranform: auto;}
          .copyx {display: none !important;}
        }
      }

      #tubeathon-explainer {position: relative; left: 0; right: 0; top: 0; background-color: rgba(255,255,255,.25); z-index: 5; -webkit-transition: background-color .2s ease-out; -moz-transition: background-color .2s ease-out; -ms-transition: background-color .2s ease-out; transition: background-color .2s ease-out;
        &.locked {position: fixed; z-index: 50; background-color: rgba(255,255,255,.5);}
        .container-wrap {width: 100%; max-width: 990px; padding: 20px 15px; margin: 0 auto;
          p {margin: 0; padding: 0; color: #ffffff; font-size: 1.5rem; line-height: 1.5em; font-weight: 600; text-shadow: 0 2px 4px rgba(0,0,0,.25);}
          .donate {z-index: 10;
            a.btn {font-size: 2.4rem; padding: 10px 45px; margin: -2px 0 5px 0; box-shadow: 0 5px 5px rgba(0,0,0,.125);}
            br + a {text-transform: lowercase; color: #ffffff; text-decoration: underline; opacity: .5; font-size: 1.1rem; line-height: 1.0em;
              &:hover {opacity: 1;}
            }
          }
        }
      }
      
      #tubeathon {background-image: url("#{asset_url 'pages/tubeathon/2014/trees@2x.png'}"); background-position: bottom center; background-repeat: repeat-x; background-size: auto 200px;}
      #container {box-shadow: none; background-image: url("#{asset_url 'pages/tubeathon/2014/container-bg@2x.png'}"); background-position: top center; background-repeat: repeat-x; background-size: 1px 300px;
        #disclaimer {width: 100%; max-width: 790px; padding: 50px 25px 50px 25px; margin: 0 auto;
          p {font-size: 1.2rem; line-height: 1.33em; color: rgba(255,255,255,.7);}
        }
        #livestream {width: 100%; max-width: 790px; padding: 0 0 25px 0; margin: 0 auto; background-color: rgba(255,255,255,.32);
          .tubeathon-soon & {padding-bottom: 0;}
          iframe {display: block; margin: 0 auto; padding: 0; line-height: 0;}
          #yt-livestream {margin: 0 -50px 25px -50px; padding: 25px 50px; background-color: rgba(255,255,255,.9);
            .tubeathon-soon &, .tubeathon-live-twitch & {background-color: #f46447; padding: 15px; margin-left: 0; margin-right: 0;}
            .tubeathon-soon & {margin-bottom: 0;}
            iframe {display: block; width: 790px; height: 444px;}
            h1 {font-size: 2.0rem; line-height: 1.0em; margin: 0; padding: 0; color: #ffffff;}
          }
          #twitch-livestream {margin: 0 -50px; padding: 24px; background-color: rgba(255,255,255,.9); text-align: center;
            h1 {font-size: 2.4rem; line-height: 1.0em; margin: -5px 0 0 0; padding: 0 0 20px 0;}
            .video-container {display: inline-block; border: 1px solid #ddd; text-align: center;
              &.show-chat iframe {float: left;}
            }
          }
        }
        #videos {width: 100%; max-width: 790px; padding: 30px 75px 100px 75px; margin: 0 auto; background-color: rgba(255,255,255,.1);
          sup, small {color: #ffffff;}
          .content {margin: 0 0 30px 0;
            h1 {color: #ffffff; margin: 0; padding: 50px 0 15px 0; text-shadow: 0 3px 5px rgba(0,0,0,.25); text-transform: uppercase;}
            p {color: #ffffff; font-size: 1.8rem; line-height: 1.5em; font-weight: 500; margin: 0 -30px; padding: 5px 0;
              a {color: #ffffff; text-decoration: underline;
                &:hover {opacity: .7;}
              }
            }
          }
          li {padding: 50px 0;
            &.hidden {display: none;}
          }
          .video {position: relative;
            .tag {position: absolute; top: -21px; right: 15px; width: 90px; height: 53px; padding: 6px 5px 5px 23px; overflow: hidden; z-index: 12; background-image: url("#{asset_url 'pages/tubeathon/2014/video-tag@2x.png'}"); background-repeat: no-repeat; background-position: top left; background-size: contain; font-weight: 500; font-size: 1.3rem; line-height: 1.4rem; vertical-align: top; color: #909090;
              -webkit-transform-origin: center left; -moz-transform-origin: center left; -ms-transform-origin: center left; transform-origin: center left; -webkit-transform: rotate(-18deg); -moz-transform: rotate(-18deg); -ms-transform: rotate(-18deg); transform: rotate(-18deg);
              span {color: #545454;}
            }
            .player {position: relative; padding: 56.25% 0 0 0;
              &:before {content: ""; position: absolute; top: -40px; left: 50%; z-index: 2; margin-left: -55px; width: 110px; height: 40px; background-image: url("#{asset_url 'pages/tubeathon/2014/topbow@2x.png'}"); background-repeat: no-repeat; background-position: top center; background-size: cover;}
              &:after {content: ""; position: absolute; top: -15px; right: -15px; left: 15px; bottom: 15px; z-index: 1; background-color: rgba(255,255,255,.5); -webkit-transform-origin: top right; -moz-transform-origin: top right; -ms-transform-origin: top right; transform-origin: top right; -webkit-transform: rotate(-.33deg); -moz-transform: rotate(-.33deg); -ms-transform: rotate(-.33deg); transform: rotate(-.33deg);}
              iframe {position: absolute; display: block; z-index: 10; top: 0; left: 0; right: 0; bottom: 0; width: 100%; height: 100%; background-color: #000000;}
            }
            h2 {color: #ffffff; font-size: 2.4rem; line-height: 1.33em; text-shadow: 0 2px 4px rgba(0,0,0,.25);
              a {color: #ffffff;
                &:hover {color: rgb(8,205,255);}
              }
            }
          }
        }
      }
      
      #content-area {margin: 0;
        .container-wrap {padding-top: 25px; padding-bottom: 15px;}
      }
      aside.bottom-banner {display: none;}

    :coffee
      $(document).ready ->
        # WRAP LOCKABLE ELEMENTS
        $('.lockable').each ->
          $(this).wrap '<div class="lock-wrapper"></div>'

        # FUNCTIONS FOR LOCKABLE SCROLL (HEIGHT, SCROLL POSITION, ETC)
        $(window).on 'resize', ->
          $('.lock-wrapper').each ->
            $(this).css({'min-height' : $(this).find('.lockable:eq(0)').outerHeight() + 'px'})
        .on 'scroll', ->
          wt = $(window).scrollTop()
          $('.lock-wrapper').each ->
            t = $(this).offset().top
            $(this).find('.lockable').toggleClass('locked', (wt > t))
        .trigger 'resize'
        .trigger 'scroll'


  %body{class: body_classes}
    #wrapper
      = render 'layouts/application/facebook'

      #tubeathon
        %header#tubeathon-header
          .container-wrap
            .col-sm-4
            #logo.col-sm-4
              = image_tag 'pages/tubeathon/2014/logo@2x.png', id: 'tube-logo', alt: '', title: 'What’s Trending 3rd Annual Tube-A-Thon Presented By Ford'
              %a#logo-tag-wt{href: root_url, rel: :follow}
              %a#logo-tag-ford{href: 'https://twitter.com/fordfocus', target: '_blank'}
              %ul.share-buttons{data: {type: 'text', 'canonical-url' => @page_canonical_url, text: @share_page_description, title: @page_title, description: @page_description, image: @page_meta_images[0], hashtag: 'tubeathon', related: 'whatstrending,fordfocus'}}
                - [:facebook, :twitter, :googleplus].each do |p|
                  %li.share-platform{class: "share-platform-#{p}", title: p.to_s.humanize}
                    %a{href: 'javascript:;', 'data-toggle' => :share_button, 'data-platform' => p}
                      .share-icon.wticon{class: "wticon-#{p}"}

            .details.col-sm-4
              %p.text-center
                December 11, 2014
                %br
                7-9pm PST LIVE show
                %small
                  Live gaming on <a href="https://twitch.tv/whatstrending" target="_twitch" rel="nofollow">Twitch.TV</a> starting at 6PM PST
                  %br
                  %a.addthisevent{href: static_page_url(:tubeathon), title: "Add to Calendar", rel: :follow}
                    Add to Calendar
                    <span class="_start">12-11-2014 19:00:00</span>
                    <span class="_end">12-11-2014 21:00:00</span>
                    <span class="_zonecode">6</span>
                    <span class="_summary">#TUBEATHON presented by What's Trending and Ford Focus</span>
                    <span class="_description">Description of the event</span>
                    <span class="_location">#{static_page_url(:tubeathon)}</span>
                    <span class="_organizer">What's Trending</span>
                    <span class="_organizer_email">editor@whatstrending.com</span>
                    - #<span class="_facebook_event"></span>
                    <span class="_all_day_event">false</span>
                    <span class="_date_format">DD/MM/YYYY</span>
                

        %section#tubeathon-explainer.lockable
          .container-wrap
            .col-sm-4
              %p LIVE from Hollywood featuring the biggest stars performing together over to raise money for The Covenant House.
            .donate.col-sm-4.col-sm-offset-4.text-center
              %a.btn.btn-wt.btn-default.btn-lg{href: 'http://www.tiltify.com/events/tubeathon/donate', target: '_donate', rel: :follow} DONATE NOW!
              %br
              %a{href: 'http://www.tiltify.com/events/tubeathon', target: '_donate', rel: :follow} Check out our Donation Rewards
            .clearfix



        #container
          = render 'layouts/application/flash'

          - if true #%w(tubeathon-live-twitch tubeathon-over tubeathon-live-all).include?(livestream_status)
            #livestream
              .content
                #yt-livestream.video
                  - if %w(tubeathon-over tubeathon-live-all).include?(livestream_status)
                    <iframe width="640" height="360" src="//www.youtube.com/embed/yk7bJGHhB2A?autoplay=1&rel=0" frameborder="0" allowfullscreen></iframe>
                    .clearfix
                  - else
                    %h1.text-center Stay tuned! #Tubeathon livestream starts in <span id="livestream_countdown">...</span>
                - if %w(tubeathon-live-twitch tubeathon-over tubeathon-live-all).include?(livestream_status)
                  #twitch-livestream.video
                    - twitch_autoplay = (livestream_status == 'tubeathon-live-twitch' ? '&auto_play=true&start_volume=25' : '&start_volume=0')
                    %h1.text-center Watch the 3<sup>rd</sup> Annual #Tubeathon Pre-Show
                    .video-container{class: (livestream_status != 'tubeathon-over' ? 'show-chat' : nil)}
                      <iframe id="twitch-video" src="http://www.twitch.tv/whatstrending/embed?#{twitch_autoplay}" frameborder="0" scrolling="no" height="329" width="540"></iframe>
                      - unless livestream_status == 'tubeathon-over'
                        <iframe id="twitch-chat" src="http://www.twitch.tv/whatstrending/chat?popout=" frameborder="0" scrolling="no" height="329" width="300"></iframe>
                      .clearfix

          #videos
            .content
              %p.text-center A live holiday experience unlike any other, #Tubeathon presented by the 2015 Ford Focus is our annual variety show and fundraiser starring your favorite YouTubers and celebrities. For every Tweet with the hashtag <a href="https://twitter.com/hashtag/tubeathon" rel="nofollow" target="_blank">#Tubeathon</a> or <a href="https://twitter.com/hashtag/gofurther" rel="nofollow" target="_blank">#GoFurther</a>, we will donate $1 to <a href="http://covenanthouse.org" target="_blank" rel="follow">Covenant House</a>, a nonprofit charity serving homeless youth with a network of shelters across the Americas!*

              %h1.text-center
                Countdown to the
                %br
                3<sup><small>rd</small></sup> Annual #Tubeathon

            %ul.list-unstyled
              - @countdown_videos.each_with_index do |vid,i|
                - d = Date.parse(vid[:date])
                - vid_opts = (!Rails.env.development? && i == 0 && livestream_status == 'tubeathon-soon' ? 'autoplay=1' : '')
                %li{class: (livestream_status != 'tubeathon-soon' && i > 0 ? 'hidden' : nil)}
                  .video{id: "video_#{d.strftime('%b%d%Y').downcase}"}
                    .tag
                      Date:
                      %br
                      %span= d.strftime("%b #{d.day.ordinalize}")
                    .player
                      %iframe{width: 640, height: 360, src: "//www.youtube.com/embed/#{vid[:youtube_id]}?#{vid_opts}", frameborder: 0, allowfullscreen: true}
                    %h2
                      %a{href: "https://www.youtube.com/watch?v=#{vid[:youtube_id]}", rel: 'follow', target: '_blank'}= vid[:title]
              - if livestream_status != 'tubeathon-soon'
                %li.text-center
                  %a#show-videos.btn.btn-wt.btn-lg.btn-default{href: 'javascript:;'} View All Videos

          #disclaimer
            %p *What’s Trending will donate $1.00 per Twitter posting with the hashtags “Tubeathon” and/or “GoFurther” only during the Tubeathon live stream event from 7:00pm-9:00pm Pacific Time on 12/11/14 up to $50,000. Tweet count will be verified by an independent third party. One Twitter posting per user profile, no purchase necessary.

      - unless @latest_posts.blank?
        #content-area.content-box.container-full
          .container-wrap
            .page-header
              %h2.text-center= t('contest.escape.layout.latest_posts.title')
        
            %ul#posts-list.posts-list.list-unstyled
              - @latest_posts.take(3).each do |post|
                = render '/posts/post', post: post, format: :feed
            .clearfix

      %script{type: "text/javascript", src: "//addthisevent.com/libs/1.5.8/ate.min.js"}
      = render 'layouts/application/footer'
