!!!
%html.contest
  %head
    %title= page_title
    = stylesheet_link_tag    "contest", media: "all", "data-turbolinks-track" => true
    = javascript_include_tag "contest", "data-turbolinks-track" => true

    = render 'layouts/application/page_header'
    - cache(meta_cache_key, expires_in: 15.minutes) do
      = render 'layouts/application/meta_tags'
    
    = yield(:js_css) if content_for(:js_css)
    = csrf_meta_tags

  %body.submissions_index
    #wrapper
      %header#contest-header.navbar.navbar-default.navbar-fixed-top{role: :navigation}
        .container
          .logos
            = link_to '', 'http://www.ford.com/suvs/escape/?fmccmp=140602-bca-bonnaroo2014', target: '_blank', title: t('contest.escape.title'), class: 'ford-logo pull-left', rel: 'nofollow'
            .wt-logo-presents.pull-left{title: t('contest.escape.title')}

          .nav-heading
            = link_to static_page_url('escapetobonnaroo'), class: 'navbar-brand', title: t('contest.escape.title') do
              .logo

      #main-content
        = yield

        #disclaimer-rules.container
          = simple_format(t('contest.escape.disclaimer_rules', url: static_page_url('escapetobonnaroo/rules')).html_safe)

        - if false #unless @latest_posts.blank?
          #content-area.content-box
            .container-wrap
              .page-header
                %h2.text-center= t('contest.escape.layout.latest_posts.title')
          
              %ul#posts-list.posts-list.list-unstyled
                - @latest_posts.take(3).each do |post|
                  = render '/posts/post', post: post, format: :feed
              .clearfix

      = render 'layouts/application/footer'
