.form-sm.center-block
  %h3= t('.change_password')
  %br
  = simple_form_for @user, url: password_reset_url, method: :put, wrapper: :horizontal, html: { class: "form-horizontal", "data-validate" => "parsley" } do |f|
    = f.error_notification
    = f.input :password, required: true
    = f.input :password_confirmation, required: true
    %br
    = f.submit t('.submit'), class: 'btn'
