.form-sm.center-block
  %h3= t('.forgot_password')
  %p.text-muted #{t('.reset_instruction')}
  %br
  = form_tag password_resets_url, class: "form-horizontal" do
    .form-group.email.required
      .col-sm-2.text-right
        = label_tag t(:email)
      .col-sm-9
        = text_field_tag :email, params[:email], required: true, class: "string email required form-control"

    .form-group
      .col-sm-9.col-sm-offset-2
        = submit_tag t('.submit'), class: "btn btn-lg btn-block"
