// AB Test: ab_similar_posts

.similar-posts {
  #zerglayout {padding: 10px 0 !important;
    .zergentity {
      a {color: $wt-ft-grey !important; font-family: $wt-font-default !important; @include transition(color .1s ease-out);
        img {border: 2px solid $wt-ft-grey !important; @include transition(border-color .1s ease-out);}
        &:hover {color: $wt-logo-blue !important;}
      }
      .zergheadline {margin-top: 6px !important; font-size: 13px !important; font-family: $wt-font-default !important;}
      &:hover {
        a {color: $wt-logo-blue !important;
          img {border-color: $wt-logo-blue !important;}
        }
      }
    }
  }
}