// --- HOMEPAGE ---
body.homepage {
  // --- TABLET / DESKTOP -----------------------------------------------------
  @media (min-width: $screen-sm) {
    #feature-area { position: relative; background-color: $wt-dk-black; overflow: hidden; box-shadow: 0 3px 5px rgba($wt-black,.2);
      .inner-wrap {position: relative; padding: 32.307% 0 0 0; overflow: hidden; }
      .trends-list-container {position: absolute; top: 0; bottom: 0; @include calc(left, '(100% - #{$wt-max-width}) / 2'); width: #{($wt-max-width / 6) + $wt-scaling-padding}; height: 100%; z-index: 60; margin: 0; padding: 0; box-shadow: 3px 0 5px rgba($wt-black,.2);
        .trending-list {position: absolute; top: 0; bottom: 0; right: 0; left: 25px;
          h2 {font-size: 13px; text-transform: uppercase; margin: 18px 0 15px 15px; font-weight: 500; color: $wt-dull-green;}
        }
      }
      .featured-post-container {position: absolute; width: auto; top: 0; bottom: 0;  @include calc(left, '((100% - #{$wt-max-width}) / 2) + #{$wt-scaling-padding} + (#{$wt-max-width} / 6)'); @include calc(right, '(#{$wt-max-width} / 2) + ((100% - #{$wt-max-width}) / 2)'); height: 100%; z-index: 50; overflow: hidden;
        .post[data-format='homepage_featured'] { position: absolute; top: 0; left: 0; right: 0; bottom: 0;
          .post-text {position: absolute; bottom: 30px; left: 30px; right: 30px; max-height: 119px; overflow: hidden;}
        }
      }
      .post-grid-container {position: absolute; top: 0; bottom: 0; right: 0; height: 100%; z-index: 20; overflow: hidden; padding: 0; margin: 0;
        .posts-list {width: 100%; height: 100%;}
        .post {display: block; float: left; width: 50%; height: 50%; overflow: hidden;
          a {padding: 0;}
          .post-overlay {padding-bottom: 30px;}
          &:nth-child(2),&:nth-child(3) {
            a {
              &:after {opacity: .5;}
              &:hover:after {opacity: .1;}
            }
          }
        }
      }

      @media(max-width: $screen-md-max) {
        #feature-area { position: relative;
          .inner-wrap {padding-top: 42%;}
          .featured-post-container {left: 0; right: 0;
            &, ul {padding: 0; margin: 0;}
            ul li.post[data-format='homepage_featured'] {//position:relative;
              a {padding: 170px 0 0 0;}
              .post-image {bottom: auto; width: 100%; height: 100%; background-position: center center; max-height: 170px;}
              .post-info {margin: 0 0 15px 0;
                .post-score {margin-top: 5px;}
              }
              .post-overlay {padding: 15px 10px 20px 10px;
                .post-text {
                  h1 {font-size: 2.0rem; line-height: 1.2em; max-height: none; padding-bottom: 6px;}
                  p {display: none;}
                }
              }
            }
          }
        }
      }

      @media (max-width: $wt-max-width) {
        ul li.post[data-format='boxed'] .post-overlay h1 {font-size: 18px; line-height: 21px; max-height: 63px;}
        ul li.post[data-format='homepage_featured'] .post-overlay h1 {font-size: 20px; line-height: 24px; max-height: 48px;}
        ul li.post[data-format='homepage_featured'] .post-overlay p {padding-top: 5px;}
        .trends-list-container { left: 0; @include calc(width, '(100% - (#{$wt-scaling-padding} * 2)) / 6'); }
        .featured-post-container { @include calc(left, '(100% - (#{$wt-scaling-padding} * 2)) / 6');}
      }
      @media (max-width: #{($wt-max-width + $wt-min-width) / 2}) {
        ul li.post[data-format='boxed'] .post-overlay h1 {font-size: 16px; line-height: 18px; max-height: 54px;}
        ul li.post[data-format='homepage_featured'] .post-overlay h1 {font-size: 18px; line-height: 22px; max-height: 44px;}
      }
      @media (min-width: $wt-outer-max-width) {
        .inner-wrap {max-width: 1500px; margin: 0 auto; height: 100%; padding-top: 515px;}
        .trends-list-container { left: 0; @include calc(width, '(100% - (#{$wt-scaling-padding} * 2)) / 6'); }
        .featured-post-container { @include calc(left, '((100% - #{$wt-outer-max-width}) / 2) + #{$wt-scaling-padding} + (#{$wt-outer-max-width} / 6)'); @include calc(right, '(#{$wt-outer-max-width} / 2) + ((100% - #{$wt-outer-max-width}) / 2)'); height: 100%; z-index: 50; overflow: hidden; }
      }
    }
  }

  #video-carousel,#video-carousel-mobile {
    .page-header {background-color: $wt-md-grey; color: $wt-white;
      .carousel-control { padding: 10px 12px 0 12px; height: 41px; line-height: 23px; opacity: 1; position: relative; width: auto; background-color: $wt-dull-green; @include transition(background-color .2s ease-out); text-shadow: none; vertical-align: middle;
        &.left, &.right { background-image: none; }
        &:hover {background-color: $wt-ft-grey;}
      }
    }
    .carousel-inner {margin: 0 -15px;
      ul.posts-list {margin: 0;
        li.post {float: left; width: 25%; padding: 0 15px;
          .post-info p {display: none;}
          h1 {height: 63px; overflow: hidden;}
        }
      }
    }
  }

  #posts-dashboard { height: 100%; position: relative; padding-top: 30px;
    .container-wrap { display: table; width: 100%;
      & .trending-list, & .latest-posts-list, & .popular-posts-list {display: table-cell; float: none;}
      & > *:nth-child(1) {padding-left: 0;}
      & > *:nth-child(3) {padding-right: 0;}
    }
    .page-header { text-align: center; background-color: $wt-dull-green; padding: 0; margin: 0 0 20px 0; color: $wt-white;
      h2 {padding: 10px; margin: 0; font-size: 18px; line-height: 20px; text-transform: uppercase; font-weight: 500;}
      & + ul.posts-list {margin-top: 15px;}
    }
    .trending-list {
      .page-header h2 {color: $wt-dk-black;}
      &:after {content: " "; position: absolute; display: block; top: 0; left: 0; right: 15px; bottom: 0; height: 100%; z-index: -1; background-color: $wt-white;}
      ul.trends-list { background-color: $wt-white; margin: 0;
        li.trend-item {
          &:first-child {border-top: none;}
        }
      }
    }
    .popular-posts-list {
      ul.posts-list {
        li:first-child {padding-top: 5px;}
        li:nth-child(3) {display: none;}
      }
    }
    ul.posts-list {margin-bottom: 0;
      li.post a {box-shadow: 0 2px 2px rgba($wt-black,.12);}
      li:last-child {padding-bottom: 0;}
    }
    .latest-posts-list {
      ul.posts-list {margin-top: 25px;
        li.post {margin: 6.6667% 0;
          &:first-child {margin-top: 0;}
          &:last-child {margin-bottom: 0;}
        }
      }
    }
  }


  // --- TABLET ---------------------------------------------------------------
  @media (max-width: $screen-sm-max) {
    #feature-area {
      .featured-post-container {left: 0; right: 0; width: 41.6667%;}
      ul li.post[data-format='boxed'] {
        .post-info {padding: 10px;
          .post-score {display: none;}
          time {display: none;}
          h6 {opacity: .64;}
        }
        .post-overlay {padding: 0 10px 10px 10px;
          h1 {font-size: 1.4rem; line-height: 1.1em; max-height: 46px;}
        }
      }
      ul li.post[data-format='homepage_featured'] {
        a {padding-top: 170px;}
        .post-overlay {padding: 10px 15px;
          .post-info {margin-left: 0; margin-bottom: 15px;}
          p {display: none;}
          .post-text {left: 15px; right: 15px; bottom: 20px;}
        }
      }
    }

    #video-carousel {
      li.post {
        .post-meta {
          .pull-right {display: none;}
        }
      }
    }

    #posts-dashboard {
      .popular-posts-list {
        ul.posts-list {
          li:nth-child(3) {display: block;}
          li.post[data-format='featured'] {
            a {padding: 170px 0 0 0;}
            .post-image {bottom: auto; width: 100%; height: 100%; background-position: center center; max-height: 170px;}
            .post-info {margin: 0 0 15px 0;
              .post-score {margin-top: 5px;}
            }
            .post-overlay {position: relative; top: auto; left: auto; right: auto; bottom: auto; padding: 10px 15px 15px 15px;
              .post-text {
                h1 {font-size: 20px; line-height: 24px; max-height: none; padding-bottom: 6px;}
                p {display: none;}
              }
            }
          }
        }
      }
    }

  }


  // --- PHONE ----------------------------------------------------------------
  @media (max-width: $screen-xs-max) {
    ul {
      li.post {
        .post-score {padding: 5px 5px; height: auto; min-height: auto;}
      }
    }

    #feature-area { background-color: $wt-dk-black; overflow: hidden; box-shadow: 0 3px 5px rgba($wt-black,.2);
      .inner-wrap {padding-top: 0;}
      ul.posts-list {margin: 0; padding: 0;}
      .featured-post-container {padding-left: 0; padding-right: 0; width: 100%;
        .post {display: block;
          a {padding: 53.125% 0 0 0;}
          .post-image {max-height: auto; bottom: 20%; background-size: cover; background-position: center center;}
        }
      }
      ul li.post[data-format='homepage_featured'] {
        a {padding-top: 170px;}
        .post-overlay {position: relative; top: auto; left: auto; right: auto; bottom: auto;
          .post-text {padding-bottom: 15px;}
        }
      }
      .post-grid-container {padding-left: 0; padding-right: 0;
        .post {display: block; float: left; width: 50%; overflow: hidden;
        }
      }
    }

    #video-carousel-mobile {margin: 30px 0;
      .page-header {
        .carousel-control { padding: 10px 9px 0 9px; height: 37px; line-height: 19px;}
        h2 {font-size: 1.5rem; line-height: 1.0em; padding: 13px 0 0 0;}
      }
      .carousel-inner {margin: 0;
         ul.posts-list li.post {float:none; width: 100%;}
      }
    }

    #posts-dashboard { padding-top: 20px;
      .popular-posts-list {padding-left: 0; padding-right: 0;
        ul.posts-list {
          li:first-child {padding-top: 0;}
          li.post[data-format='featured'] {
            .post-overlay {padding: 15px 10px 20px 10px;}
          }
          li:nth-child(3) {display: none;}
        }
      }
    }

  }
}