@include keyframes(record-dot) {
  0% {opacity: 1;}
  50% {opacity: 1;}
  51% {opacity: 0;}
  100% {opacity: 0;}
}


html,body {font-family: $wt-font-default; font-weight: 400;}
#wrapper {min-height: 100%; position: relative;  -webkit-transition: -webkit-filter .2s ease-out; -moz-transition: -moz-filter .2s ease-out; -ms-transition: -ms-filter .2s ease-out; -o-transition: -o-filter .2s ease-out; transition: filter .2s ease-out;
  &:after {content: " "; display: block; opacity: 0; @include transition(opacity .2s ease-out, top 0 .2s, bottom 0 .2s, left 0 .2s, right 0 .2s);}
}

html.page body {background-color: $wt-body-bg;}

h1,h2,h3,h4,h5,h6 {font-family: $wt-font-titles; font-weight: 500;}

.container-full { width: 100% !important; position: relative; z-index: 1;}
.container-full, header#header {
  .container-wrap { max-width: $wt-max-width; margin: 0 auto; padding: 0 $wt-scaling-padding; }
  .container-wide-wrap { max-width: 100%; margin: 0 auto; padding: 0 $wt-scaling-padding; }
}



// --- SOCIAL GATES -----------------------------------------------------------
body.social-gate {
  #wrapper { @include filter( blur(1px) );
    &:after {opacity: 1; position: absolute; display: block; z-index: 99999; top: 0; left: 0; right: 0; bottom: 0; background-color: rgba($wt-black,.8); @include transition(opacity .2s ease-out, top 0 .2s, bottom 0 .2s, left 0 .2s, right 0 .2s);}
  }
}
#social-gate {position: fixed; z-index: 99999; @include calc(top, '50% - 100px'); top: 20%; left: 0; right: 0; margin: 0 auto; width: 550px;
  a, button, input[type='submit'] {@include transition(color .1s ease-out, opacity .1s ease-out, background-color .1s ease-out);}
  a[data-dismiss-id] {position: fixed; top: 15px; right: 15px; font-size: 4.8em; line-height: .5em; font-weight: 700; color: $wt-white; opacity: .6;
    &:hover, &:focus {color: $wt-trend-1; opacity: 1; text-decoration: none;}
  }
  h1 {color: $wt-logo-blue; font-size: 2.2em; font-weight: 700; line-height: 1.1em; padding: 0 0 2px 0;}
  h4 {color: $wt-white; font-size: 1.8em; font-weight: 300; line-height: 1.0em; padding: 0;}
  .button-area { text-align: center; padding: 30px 0 0 0;
    &.newsletter-form {min-height: 110px;}
    .button {display: inline-block; padding: 24px 32px; text-align: center; border: none; font-weight: 600; font-family: $wt-font-titles; border-radius: 0; text-transform: uppercase; font-size: 2.0em; line-height: 1.0em; color: $wt-white; background-color: $wt-logo-blue;
      .wticon {font-size: 1.25em; line-height: 0em; vertical-align: middle; margin-right: 15px;}
      &:hover {background-color: $wt-red;};
    }
    form.new_email_subscriber {
      .email_subscriber_email {position: relative; display: inline-block;
        label {display: none;}
        &:before {content: "\e814"; font-family: $wt-font-social; font-size: 1.75em; color: $wt-logo-blue; position: absolute; top: 11px; left: 10px; line-height: 1.0em;}
        &.error:before {color: $wt-red;}
        input[type="email"] {width: 442px; padding: 8px 8px 8px 45px; font-size: 1.4em; border: none; border-radius: 0; outline: none; height: auto;
          @include placeholder {color: rgba($wt-ft-grey,.5);}
        }
      }
      input[type="submit"], button {display: inline-block; background-color: $wt-logo-blue; border: none; padding: 12px; height: 44px; vertical-align: top; margin-left: -5px; outline: none;
        &:focus, &:hover {background-color: $wt-red;}
        &[disabled] {background-color: $wt-md-grey;}
      }
    }
  }
  .facebook-buttons {padding: 15px 0 0 0;
    .fb-like-btn {height: 45px; margin: 15px 0 10px 0; overflow: hidden;
      .fb-like {@include transform(scale(2)); @include transform-origin(top center); height: 20px; overflow: hidden;}
    }
    p {color: rgba($wt-white,.7);}
  }
  .thanks, .error-msg {padding: 15px 0 0 0; opacity: 0; @include transition(opacity .1s ease-out); text-align: center; font-size: 1.1em; color: $wt-grey;
    &.show {opacity: 1;}
    h3 {margin-top: 0; color: $wt-white;}
  }
  .error-msg {color: $wt-red;}
  .social-gate-also {padding: 15px 0 0 0;
    h3 {color: $wt-white; opacity: .8; text-align: center; font-weight: 700; font-size: 1.4em; line-height: 1.0em; padding: 0;}
    ul {padding: 2px 0 0 0; margin: 0; list-style: none; display: block; text-align: center;
      li {display: inline-block; width: auto; margin: 0 10px; padding: 0;
        a {color: $wt-grey; font-size: 1.2em; font-weight: 500;
          .wticon {font-size: 1.25em; line-height: 1.0em; vertical-align: middle; margin-top: -3px; margin-right: 4px; display: inline-block;}
          &:hover {color: $wt-white;}
        }
      }
    }
  }
}


// --- HEADER -----------------------------------------------------------------
#top-ad-wrapper { padding: 11px 0; background-color: $wt-top-ad-bar; @include linear-gradient(180deg, rgba($wt-black,.2) 0%, transparent 33.33%, transparent 100%, $fallback: $wt-top-ad-bar);
  #top-ad { background: transparent; max-width: 970px; max-height: 90px; height: auto; margin: 0 auto; text-align: center; }
}
header#header { margin-bottom: 0; position: relative;
  &.navbar {border: none;}

  #site-nav { padding: 0; background: $wt-white; box-shadow: 0 3px 5px rgba($wt-black,.08); @include transition(box-shadow .1s ease-in-out);
    & > aside {width: 100%; background-color: $wt-black;
      .wht-lbl {height: 22px; padding: 4px 8px; display: inline-block; font-weight: 700; color: $wt-black; font-size: 10px; text-align: center; background: rgba($wt-white,.7); text-transform: uppercase;
        .beta {width: 38px; padding: 4px 0;}
      }
      a.wht-lbl:hover {color: $wt-white; background-color: $wt-logo-blue;}
      a.live-on-youtube { color: $wt-white; background-color: $wt-live-red; min-width: 210px; height: 22px; padding: 4px 10px; font-size: 12px; line-height: 13px; font-weight: 500; box-shadow: inset 0 5px 5px rgba($wt-black,.12); @include transition(background-color .2s ease-out, box-shadow .2s ease-out);
        i.icon { line-height: 12px; vertical-align: top; margin-top: 1px;
          &.icon-wt-live-record-dot {margin-right: 6px; @include animation(record-dot 2.0s ease-in infinite);}
          &.icon-wt-live-arrow {margin-left: 12px; margin-right: 16px;}
        }
        &:hover {box-shadow: inset 0 -5px 5px rgba($wt-black,.12); background-color: $wt-logo-blue; color: $wt-white;
          i.icon.icon-wt-live-record-dot {@include animation(none);}
        }
      }
    }
    .nav-wrap {position: relative;}
    .navbar-brand {width: 200px; margin: 0; padding: 7px 30px 6px 0; height: 54px;
      @include transition (width .2s ease-in);
      .logo {display: block; height: 40px; width: 184px; background: image-url('logo.png') 0 0 no-repeat; text-indent: -999px; overflow: hidden;
        @include transition(width .2s ease-in-out, opacity .2s ease-in-out);
        &:focus, &:hover {background-color: transparent !important; opacity: .64;}
      }
    }
    .navbar-toggle {background-color: $wt-logo-blue; border-radius: 0; @include transition(background-color .1s ease-in-out,color .1s ease-in-out);
      .icon-bar {width: 18px; height: 3px; background-color: $wt-white; @include transition(background-color .1s ease-in-out,color .1s ease-in-out);
        & + .icon-bar {margin-top: 3px;}
      }
      &.collapsed {background: transparent;
        .icon-bar {background-color: $wt-md-grey;}
        &:hover { background-color: rgba($wt-lt-grey,.5);
          .icon-bar {background-color: rgba($wt-logo-blue,1);}
        }
      }
    }
    &.navbar-fixed-top {box-shadow: 0 3px 5px rgba($wt-black,.12);}

    ul.navbar-nav {
      &.navbar-right {position: absolute; top: 0; right: 0; background-color: $wt-white;
        li { border-left: 1px solid rgba($wt-black,.1); padding: 6px 0 4px 0;
          &.share-links { height: 54px; overflow: hidden; padding: 17px 0 0 14px;
            a {padding: 0 6px !important; max-width: 37px; font-size: 1.2em; line-height: 1.3em; vertical-align: middle; float: left; overflow: hidden; background: transparent; color: rgba($wt-dull-green,.64); @include transition(color .1s ease-in-out);}
          }
          &.search-button {
            form#search-form { padding: 0; margin: 0 8px; position: relative;
              input[name="q"] {display: inline; border: none; max-width: 0 !important; color: rgba($wt-dull-green,.64); background: transparent; padding: 12px 10px 12px 26px; outline: none;
                &.has-query, &:focus {color: rgba($wt-dull-green,.82); padding-left: 37px; max-width: 200px !important;}
                @include placeholder {color: rgba($wt-dull-green,.42);}
                @include transition(color .2s ease-in,padding .2s ease-in,max-width .2s ease-in);
              }
              .wticon {display: block; position: absolute; opacity: .54; top: 1px; left: 8px; bottom: 0; font-size: 19px; line-height: 42px; vertical-align: middle; width: 17px; color: $wt-dull-green; @include transition(opacity .2s ease-in);}
              .wticon:hover, input[name="q"]:hover + .wticon {opacity: .92;};
              input[name="q"]:focus + .wticon {opacity: .92;}
            }
          }
        }
      }
      &.main-nav {position: absolute; top: 0; bottom: 0; left: 200px; max-height: 54px; overflow: hidden;
        li.dropdown { 
          &.feature a {color: $wt-black;}
          a { font-family: $wt-font-titles; font-size: 14px; font-weight: 700; padding: 17px 14px; color: $wt-dull-green; text-transform: uppercase; @include transition(background-color .1s ease-in-out,color .1s ease-in-out);
            &:focus, &:hover {background: $wt-logo-blue; color: $wt-white;}
            .caret {margin-right: -3px;}
          }
          &.active a {background: $wt-logo-blue; color: $wt-white;}
        }
      }
    }

    &.navbar-fixed-top + .spacer {height: 74px;}


    @media (max-width: 1190px) {
      ul.navbar-nav.navbar-right li.share-links {position: absolute; top: -35px; right: 0; width: 175px; height: 34px; font-size: .75em; border-left: none; text-align: right;
        a {padding: 0 3px !important; float: none; display: inline-block;}
      }
    }

    @media (max-width: $grid-float-breakpoint + 30) {
      .navbar-brand {width: 152px; height: 54px; margin: 0; padding: 12px 14px 12px 0;
        .logo {height: 30px; width: 138px; background-size: 100% auto;}
      }
      ul.navbar-nav.main-nav {left: 152px;}
    }

    @media (max-width: $grid-float-breakpoint - 1) {
      .navbar-brand {width: 152px; height: 42px; margin: 0; padding: 6px 14px 6px 0;
        .logo {height: 30px; width: 138px; background-size: 100% auto;}
      }
      .navbar-toggle {position: absolute; z-index: 300; top: 0; right: -10px; margin: 0; padding-top: 12px; padding-bottom: 13px;}

      &.navbar-fixed-top + .spacer {height: 62px;}

      ul.navbar-nav.navbar-right {margin: 0;
        li {padding: 0;
          &.share-links {padding: 0; top: -18px; font-size: .75em; margin-right: -5px;}
          &.search-button {border-right: 1px solid rgba(0,0,0,.1); margin: 0 30px 0 0; padding: 0 4px 0 0;
            form#search-form {margin: 0;
              input[name="q"] {padding-top: 11px; padding-bottom: 11px;}
              input[name="q"].has-query, input[name="q"]:focus {max-width: 110px !important;}
            }
          }
        }
      }

      ul.navbar-nav.main-nav {position: relative; top: auto; left: auto; right: auto; bottom: auto; max-height: none; margin: 0; margin-left: -$wt-xs-scaling-padding; margin-right: -$wt-xs-scaling-padding; padding: 5px $wt-xs-scaling-padding; text-align: center;
        &.collapsing, &.in {border-top: 1px solid rgba($wt-black,.1);}
        li { display: inline-block; margin: 0;
          .caret {display: none;}
        }
      }
    }
  }
  .spacer {height: 0; overflow: hidden;}

  #dropdown-menus { position: absolute; top: 54px; left: -$wt-scaling-padding; right: -$wt-scaling-padding; max-height: 0; height: 195px; background: $wt-lt-lt-white; overflow: hidden;  @include backface-visibility(hidden); @include transition(max-height .1s ease-in-out, border .1s ease-in-out, box-shadow .1s ease-in-out);
    &.navbar-fixed-top {position: fixed; top: 74px; left: 0; right: 0;}
    &.open {max-height: 195px; box-shadow: 0 3px 5px rgba($wt-black,.12); border-top: 1px solid rgba($wt-black,.1); border-bottom: 5px solid $wt-logo-blue;}
    &.navbar-fixed-top.open {box-shadow: 0 3px 5px rgba($wt-black,.24);}

    .category-list {padding: 20px 20px 35px 20px;
      h2 {font-size: 15px; color: rgba($wt-black,.5); line-height: 1.0em; margin: 0 0 6px 0; padding: 0;}
      li.post {
        img {width: 208px; height: 110px;}
      }
      .recent-posts, .trending-post { max-height: 140px; overflow: hidden;
        ul {display: table; width: 100%;
          li.post {
            display: table-cell;
            & > a {display: inline-block; width: 200px; margin: 0 auto;
              &:first-child {margin-left: 0;}
              &:last-child {margin-right: 0;}
            }
            span.wt-label { display: none; }
            .post-image-wrap {padding: 56.000% 0 0 0;}
            .post-overlay { top: auto; bottom: 0; left: 0; right: 0; background-color: rgba($wt-black,.9); padding: 10px; @include transition(padding-bottom .1s ease-out);
              h1 {font-size: 13px; line-height: 16px; font-weight: 500; color: $wt-white; max-height: 32px; overflow: hidden; }
            }
            a:hover {
              .post-overlay {padding-bottom: 15px;}
              h1 {color: $wt-logo-blue;}
            }
          }
        }
        &.tab { display: none;
          &.open {display: block; }
        }
      }
      .trending-post ul { padding-left: 20px;
        li { width: 440px;
          img {float: left;}
          .wt-label {display: none;}
        }
      }

      .recent-posts li:nth-child(n+7), .trending-post + .recent-posts li:nth-child(n+5) {display: none !important;}
      @media (max-width: 1115px) {
        .recent-posts li:nth-child(n+6), .trending-post + .recent-posts li:nth-child(n+4) {display: none !important;}
      }

      .tabs { height: 195px; background-color: $wt-white;
        &.pull-left { margin: -20px 20px -15px -20px; width: 226px; border-right: 1px solid $wt-lt-grey;
          li {border-top: 1px solid $wt-lt-grey;
            &:first-child {border-top: none;}
            a {display: block; height: 54px; padding: 19px 10px 17px 20px; font-weight: bold; color: $wt-dull-green; font-size: 15px; line-height: 15px; @include transition(color .1s ease-in, background-color .1s ease-in);
              &:hover {background-color: $wt-lt-white;}
              &.active {background-color: $wt-lt-lt-white; color: $wt-ft-grey;}
            }
          }
        }
      }
    }
  }
}

#container { min-height: 360px; position: relative; box-shadow: 0 2px 2px rgba($wt-black,.12); }

#alert {background: rgba($wt-white,1); padding: 20px 20px;
  .alert {border: none; border-radius: 0; margin: 20px 0 0 0; padding: 15px 20px; font-size: 16px; text-align: center; font-weight: bold;
    &:first-child {margin-top: 0;}
    &.alert-success {background: $wt-white; color: $wt-dk-black;}
  }
}

.btn.btn-wt.btn-default {border: none; border-radius: 0; background-color: $wt-logo-blue; color: $wt-white; font-weight: 500; text-transform: uppercase;
  &:hover {background-color: $wt-red; color: $wt-white;}
}


.content-box { background-color: $wt-white;  box-shadow: 0 2px 2px rgba($wt-black,.08);
  &.container-full {margin: 50px 0;}
  .container-wrap {margin: 0 auto; padding-top: 20px; padding-bottom: 20px; background-color: $wt-white;}

  .page-header { text-align: center; background-color: $wt-dull-green; padding: 0; margin: 0 0 20px 0; color: $wt-white;
    h2,h3 {padding: 10px; margin: 0; font-size: 16px; line-height: 20px; text-transform: uppercase; font-weight: 500;
      small, .small {padding-left: 6px; color: rgba($wt-white,.7);}
    }
    & + ul.posts-list {margin-top: 15px;}
  }
}

// POSTS LIST
ul {
  li.post {position: relative;
    a {display: block; position: relative;
      &:hover {
        .post-score {opacity: .5;}
      }
    }
    a.overlay { width: 100%; height: 100%; @include backface-visibility(hidden);
      &:after {content: " "; position: absolute; top: 0; right: 0; bottom: 0; left: 0; opacity: 0; background-color: $wt-black; z-index: 1; @include transition(opacity .2s ease-in-out,box-shadow .2s ease-in-out);}
      &:hover:after {opacity: .2;}
    }

    .post-score, .post-share {display: inline-block; background-color: $wt-score-0; font-size: 1.4rem; padding: 10px 0; width: 36px; height: 36px; font-weight: 500; color: $wt-white; line-height: 16px; overflow: hidden; text-align: center; @include transition(opacity .1s ease-in, color .1s ease-in, background-color .1s ease-in);}
    .post-share {font-size: 2.0rem;}
    h1,h6,p {@include transition(color .1s ease-in);}

    .post-score { min-width: 30px; height: 30px; font-size: 14px; padding: 8px 6px; width: auto; overflow: visible; color: $wt-ft-grey;
      &.velocity-score-1 {background-color: $wt-velocity-1;}
      &.velocity-score-2 {background-color: $wt-velocity-2;}
      &.velocity-score-3 {background-color: $wt-velocity-3;}
      &.velocity-score-4 {background-color: $wt-velocity-4;}
      &.velocity-score-5 {background-color: $wt-velocity-5;}
      i.icon {margin-left: 1px;}
    }

    .post-share {background-color: $wt-bt-blue; overflow: visible;
      &:hover {background-color: $wt-dull-green;}
    }
    .post-share-overlay {position: absolute; top: 0; left: 0; margin-top: 5px; height: 0; overflow: hidden; z-index: 100; opacity: .1; @include transition(margin-top .1s .1s ease-in, opacity .1s ease-in-out);
      &.open {opacity: 1; margin-top: 0; height: 45px; @include transition(margin-top .1s ease-in, opacity .1s ease-in); overflow: visible;}
      .post-share-buttons { position: relative; padding: 6px; border: 0 solid transparent; box-shadow: 0 2px 3px rgba($wt-black,.12); background-color: $wt-white;
        ul li {float: left; margin-left: 5px;
          &:first-child {margin-left: 0;}
        }
        &:after {content: ""; width: 0; height: 0; position: absolute; bottom: -17px; left: 17px; border: 8px solid transparent; border-top: 10px solid $wt-white;}
      }
    }
    .post-meta {
      time {display: inline-block; margin: 0; padding: 0; font-weight: 400; color: $wt-dull-green; font-size: 11px; line-height: 14px;}
      h6 {margin: 0; padding: 0; color: $wt-white; font-family: $wt-font-default; font-size: 11px; line-height: 15px; text-transform: uppercase; font-weight: 400;}
    }

    &[data-format='featured'], &[data-format='homepage_featured'] {
      .post-image {position: absolute; top: 0; left: 0; right: 0; bottom: 49%; background-size: cover; background-position: top center;}
      .post-overlay {position: absolute; bottom: 0; left: 0; top: 50%; right: 0; background-color: $wt-black; padding: 20px 30px; z-index: 2;
        .post-info {margin: 0 0 20px -10px;}
        time {color: $wt-lt-grey;}
        h1 {margin: 0; padding: 0; color: $wt-white; max-height: 52px; font-size: 22px; line-height: 26px; font-weight: 500; overflow: hidden; }
        p {padding: 13px 0 0 0; margin: 0; color: $wt-dull-green; font-size: 14px; line-height: 17px; max-height: 46px; font-weight: 400; overflow: hidden;}
      }
      a {
        &:hover {
          &:after {background-color: $wt-white;}
          h1 {color: $wt-trend-color;}
          p {color: $wt-lt-lt-white;}
        }
      }
    }
    &[data-format='featured'] {padding: 10px 0;
      a {padding: 82.8888% 0 0 0;}
    }
    &[data-format='boxed'] {
      a { padding: 65.000% 0 0 0;
        &:after {opacity: .5;}
      }
      .post-image {position: absolute; top: 0; left: 0; right: 0; bottom: 0; background-size: cover; background-position: top center;}
      .post-info {position: absolute; top: 0; left: 0; right: 0; padding: 20px 20px 20px; z-index: 2;
        .post-score {margin-left: -5px;}
        time {color: $wt-lt-grey;}
      }
      .post-overlay {position: absolute; bottom: 0; left: 0; right: 0; padding: 0 20px 20px 20px; z-index: 2;
        h1 {margin: 0; padding: 0; color: $wt-white; font-size: 20px; line-height: 24px; font-weight: 400; overflow: hidden; max-height: 72px; @include transition(color .1s ease-in);}
      }
      a {
        &:hover {
          h1 {color: $wt-trend-color;}
          &:after {opacity: .15;}
        }
      }
    }
    &[data-format='slide'] {
      a {
        .overlay:after {opacity: 0;}
        &:hover {
          .overlay:after {opacity: .3;}
          .post-overlay {
            h1 {color: $wt-logo-blue;}
          }
        }
      }
      .post-image-wrap {position: relative; padding: 50.000% 0 0 0;
        .post-image {position: absolute; top: 0; left: 0; right: 0; bottom: 0; z-index: 1; background-size: cover; background-position: top center;}
      }
      .post-overlay {position: absolute; bottom: 0; left: 0; right: 0; padding: 0 20px 20px 20px; z-index: 2;
        h1 {margin: 0; padding: 0; color: $wt-white; font-size: 20px; line-height: 24px; @include transition(color .2s ease-in);}
      }
    }
    &[data-format='sidebar'] {
      .post-meta { position: absolute; top: 10px; left: 10px; right: 10px; padding: 0; margin: 0; z-index: 2;
        h6 {color: $wt-dull-green;}
        time {font-size: 11px; line-height: 14px;}
      }
      .post-image-wrap {position: relative; padding: 49.459% 0 0 0;
        .post-image {position: absolute; top: 0; left: 0; right: 0; bottom: 0; z-index: 1; background-size: cover; background-position: top center;}
      }
      .post-info {
        h1 {margin: 12px 0 8px 0; padding: 0; color: $wt-white; font-size: 16px; line-height: 21px; max-height: 63px; font-weight: 400; overflow: hidden;}
      }
      a {
        &:hover {
          h1 {color: $wt-trend-color;}
        }
      }
    }
    &[data-format='video_player'] { border-top: 1px dotted $wt-ft-grey; margin-top: 8px; padding-bottom: 8px;
      &:first-child {border-top: 0; margin-top: 0;}
      .post-image-wrap {position: relative; float: left; width: 150px; height: 92px;
        &:after {content: ""; position: absolute; top: 0; left: 0; right: 0; bottom: 0; background: rgba($wt-black,.2); z-index: 2; opacity: 1; @include transition(opacity .2s ease-in-out);}
        .post-image {position: absolute; top: 0; left: 0; right: 0; bottom: 0; z-index: 1; background-size: cover; background-position: top center;}
        .post-play-button {position: absolute; top: 10px; right: 10px; width: 42px; height: 42px; background-color: $wt-dk-black; z-index: 3; padding: 11px 0 15px 1px; overflow: hidden; text-align: center; @include transition(background-color .1s ease-in);}
      }
      .post-info {padding-left: 162px;
        h1 {margin: 0 0 8px 0; padding: 5px 0 0 0; color: $wt-dull-green; font-size: 13px; line-height: 17px; height: 57px; font-weight: 500; overflow: hidden; opacity: .5;}
        p {padding: 0; margin: 0; font-size: 12px; line-height: 14px; font-weight: 500; color: $wt-dull-green; opacity: .3; overflow: hidden;}
      }
      a {
        &:hover, &.hover {
          .post-play-button {background-color: $wt-trend-color;}
          .post-image-wrap:after {opacity: 0;}
          h1 {color: $wt-trend-color;}
        }
      }
    }
    &[data-format='feed'] {
      .post-meta { padding: 0 0 5px 0; margin: 0; 
        h6 {color: $wt-dull-green;}
        time {font-size: 11px; line-height: 15px; vertical-align: top;}
      }
      .post-image-wrap {position: relative; padding: 49.459% 0 0 0;
        .post-image {position: absolute; top: 0; left: 0; right: 0; bottom: 0; z-index: 1; background-size: cover; background-position: top center;}
        .post-play-button {position: absolute; top: 10px; left: 10px; width: 42px; height: 42px; background-color: $wt-dk-black; z-index: 2; padding: 11px 0 15px 1px; overflow: hidden; text-align: center; @include transition(background-color .1s ease-in);}
      }
      .post-info {padding-left: 46px;
        .post-score, .post-share {margin-left: -46px;}
        h1 {margin: 12px 0 8px 0; padding: 0; color: $wt-black; font-size: 1.7rem; line-height: 1.23em; max-height: 63px; font-weight: 500; overflow: hidden;}
        p {padding: 0; margin: 0; font-size: 1.4rem; line-height: 1.29em; max-height: 54px; color: $wt-dk-black; overflow: hidden;}
      }
      a {
        &:hover, &.hover {
          .post-play-button {background-color: $wt-trend-color;}
          h1,h6 {color: $wt-trend-color;}
        }
      }
    }
  }
}

// TRENDS LIST
ul.trends-list {
  &.trends-list-hidden-three {display: none;}
  li.trend-item {
    a {display: block; position: relative;}
    .overlay { height: 100%; @include backface-visibility(hidden);
      &:after {content: " "; position: absolute; top: 0; right: 0; bottom: 0; left: 0; opacity: 0; background-color: $wt-white; z-index: 1; @include transition(opacity .2s ease-in-out);}
      &:hover:after {opacity: .3;}
    }
    a:hover .overlay:after {opacity: .3;}
    .trend-rank {display: inline-block; background-color: $wt-ft-grey; font-size: 16px; overflow: hidden; text-align: center; padding: 10px 0; width: 36px; height: 36px; font-weight: 500; color: $wt-score-0; line-height: 16px; z-index: 10; @include transition(color .1s ease-in, background-color .1s ease-in);}

    &[data-lrnk='1'] .trend-rank {color: $wt-trend-1;}
    &[data-lrnk='2'] .trend-rank {color: $wt-trend-2;}
    &[data-lrnk='3'] .trend-rank {color: $wt-trend-3;}
    &[data-lrnk='4'] .trend-rank {color: $wt-trend-4;}
    &[data-lrnk='5'] .trend-rank {color: $wt-trend-5;}
    &[data-lrnk='6'] .trend-rank {color: $wt-trend-6;}
    &[data-lrnk='7'] .trend-rank {color: $wt-trend-7;}
    &[data-lrnk='8'] .trend-rank {color: $wt-trend-8;}
    &[data-lrnk='9'] .trend-rank {color: $wt-trend-9;}
    &[data-lrnk='0'] .trend-rank, &[data-lrnk='10'] .trend-rank {color: $wt-trend-10;}

    &[data-format="homepage_sidebar"], &[data-format="post_sidebar"] { border-top: 1px dotted $wt-dull-green;
      a {margin: 10px 20px 20px 15px;}
      .trend-rank {position: absolute; top: -11px; left: -15px;}
      .trend-image-wrap {width: 100%; position: relative; padding: 52.727% 0 0 0;
        .trend-image {position: absolute; top: 0; left: 0; right: 0; bottom: 0; height: 100%; width: 100%; background-size: cover; background-position: top center;}
      }
      .trend-overlay {position: absolute; bottom: 0; left: 0; right: 0; background-color: rgba($wt-white,.7); padding: 8px 10px; z-index: 10; @include transition(background-color .1s ease-in,padding-bottom .1s ease-in);
        h1 {margin: 0; padding: 0; color: $wt-black; font-size: 13px; line-height: 16px; font-weight: 500; max-height: 32px; overflow: hidden;}
      }
      a:hover {
        .trend-rank {color: $wt-white; background-color: $wt-trend-color;}
        .trend-overlay {background-color: rgba($wt-white,1); padding-bottom: 15px;}
      }
    }
    &[data-format="post_sidebar"] {
      a {margin-left: 35px; margin-right: 0;}
      .trend-rank {left: #{-35px - $wt-sidebar-padding}; }
      .trend-image-wrap {padding-top: 40.816%;}
      a:hover {
        .wticon.wticon-trend-arrow-up{margin-top: -5px;}
        .wticon.wticon-trend-arrow-down{margin-top: 5px; margin-bottom: -5px;}
        .trend-rank {color: $wt-white; background-color: $wt-trend-color;}
        h1 {color: $wt-trend-color;}
      }
    }
    &[data-format="sidebar"] { border-top: 1px dotted $wt-dull-green;
      .trend-details {width: 45px; padding: 0 10px 0 0; margin-top: -1px;
        .trend-direction {width: 35px; text-align: center; padding: 10px 0;
          .wticon {display: block; visibility: hidden; width: 14px; margin: 0 auto;  color: $wt-dull-green; font-size: 1.6rem; @include transition(margin .2s ease-in);
            &:before {visibility: visible; width: 100%; text-align: center; display: block;}
          }
        }
      }
      .trend-image-col {@include calc(width, '48% - 20px'); width: 42%; margin: 10px 0;
        .trend-image-wrap {position: relative; padding: 52.727% 0 0 0; 
          .trend-image {position: absolute; top: 0; left: 0; right: 0; bottom: 0; height: 100%; width: 100%; background-size: cover; background-position: top center;}
        }
      }
      .trend-overlay {@include calc(width, '52% - 25px'); width: 42%; padding: 0 10px 0 20px; margin: 10px 0;
        h1 {margin: 10px 0 0 0; padding: 0; color: $wt-black; font-size: 14px; line-height: 17px; max-height: 68px; overflow: hidden; @include transition(color .1s ease-in);}
      }
      a:hover {
        .wticon.wticon-trend-arrow-up{margin-top: -5px;}
        .wticon.wticon-trend-arrow-down{margin-bottom: -5px; margin-top: 5px;}
        .trend-rank {color: $wt-white; background-color: $wt-trend-color;}
        h1 {color: $wt-trend-color;}
      }
    }
  }
}

// --- FOOTER -----------------------------------------------------------------
html.page {
  .bottom-banner {padding-bottom: 8px;}
  #footer { background-color: $wt-dk-black; padding: 30px 0 20px 0; color: $wt-dull-green;
    a {@include transition(color .2s ease-in-out); }
    .copyright {padding: 0 20px 0 0; line-height: 32px;}
    .nav li {padding: 0 10px; line-height: 32px;
      a {color: $wt-white;
        &:hover {color: $wt-trend-color;}
      }
    }
    .share-links { padding: 0 50px 0 0;
      li a {padding: 0 5px; font-size: 2.0rem; line-height: 1.5em; color: $wt-white; vertical-align: middle;
        &:hover {color: $wt-trend-color;}
      }
    }
    li { display: inline-block; }
    a { color: $wt-dull-green; }
    #credits {vertical-align: middle; line-height: 3.0rem; font-size: 1.2rem;
      .wticon {font-size: 3.0rem; line-height: 0em; vertical-align: middle; margin-left: 4px;}
      a:hover {color: $wt-white;}
    }
  }
}

.scalable { padding: 0; min-height: 320px; z-index: 10;
  &.pull-left, &.pull-right {@include calc(width, '100% - #{$wt-sidebar-width + $wt-sidebar-padding + $wt-scaling-padding}');

    @media (max-width: $screen-xs-max) {
      & {@include calc(width, '100% - #{$wt-sm-sidebar-width + $wt-sidebar-padding + $wt-scaling-padding}');}
    }
  }
}


.fixed-width { width: #{$wt-sidebar-width + $wt-sidebar-padding + $wt-scaling-padding}; float: left; }

#sidebar { margin-bottom: 40px; overflow: hidden;
  .page-header {margin: 0; padding: 0; border: none;
    h3 {margin: 0; padding: 15px 0; text-align: center; font-size: 14px; line-height: 14px; color: $wt-black; text-transform: uppercase; font-weight: 500; background-color: $wt-dull-green;}
  }
  .page-ad {padding: 20px 0; margin: 20px -100px; text-align: center; background: $wt-lt-grey;}
  ul.trends-list { background-color: $wt-white;
    li {
      .trend-rank {background-color: $wt-dk-black;}
      &:first-child {border-top: none;
        .trend-rank {margin-top: 1px;}
      }
    }
  }
  ul.posts-list {
    li {padding: 20px 0 0 0;}
  }
}
html.post {
  #sidebar .page-ad {padding: 20px 0; margin: 20px -100px; text-align: center; background: $wt-dk-black;}
}


.container { padding: 0;
  .content-rail { }

  .content-area {
    .content-box {min-height: 540px;}
  }
}

form#page-search-form {position: relative; margin-top: 8px;
  input[type=text] {border: 1px solid $wt-lt-grey; border-radius: 0; padding: 6px 48px 6px 8px; height: 40px; outline: none; box-shadow: none; @include transition(border-color .1s ease-in, box-shadow .1s ease-in); width: 100%;
    @include placeholder {color: rgba($wt-ft-grey,.32);}
    &:focus {outline: none; border-color: $wt-dull-green; box-shadow: 0 0 5px rgba($wt-black,.05);
      & + button {background-color: $wt-dull-green;}
    }
  }
  button {position: absolute; top: 0; outline: none; right: 0; bottom: 0; width: 40px; padding: 0; font-size: 1.8rem; color: $wt-white; border: none; background-color: $wt-md-grey; @include transition(background-color .2s ease-in);
    &:hover, &:focus {background-color: $wt-ft-grey; outline: none;}
  }
}

.newsletter-signup { overflow: hidden;
  h3 {font-size: 18px;}
  label {display: none;}
  form {position: relative; margin-top: 8px;
    input[type=email] {border: none; border-radius: 0; padding: 6px 48px 6px 8px; height: 40px; outline: none;
      @include placeholder {color: rgba($wt-ft-grey,.32);}
      &:hover, &:focus {outline: none;}
    }
    button {position: absolute; top: 0; outline: none; right: 0; bottom: 0; width: 40px; border: none; background-color: $wt-logo-blue; @include transition(background-color .2s ease-in);
      &:hover, &:focus {background-color: $wt-ft-grey; outline: none;}
    }
  }
}

.callout-bar {margin: 30px 0; background-color: $wt-lt-grey;
  &.bottom {margin: 15px 0;}
  &.top {margin-top: 0;}
  .button-container {max-width: 970px; min-width: 728px; height: 90px; background: $wt-white; margin: 0 auto; overflow: hidden;}
}

#content-area { background-color: $wt-lt-lt-white;
  .container-wrap {background-color: transparent; padding: 0 $wt-scaling-padding;}
  .content-wrap {background-color: $wt-white; padding: 20px 0; box-shadow: 2px 0 2px rgba($wt-black,.03), -2px 0 2px rgba($wt-black,.03);}
  .page-header {background-color: $wt-md-grey; color: $wt-white;}
  ul#posts-list {margin: 0; background-color: $wt-white; @include calc(padding-left, '100% / 12'); @include calc(padding-right, '100% / 12');
    li.post {width: 33.333%; float: left; padding: 10px 0 20px 0;
      &:nth-child(3n+1) {clear: left; @include calc(margin-left, '100% / -48');}
      &:nth-child(3n) {@include calc(margin-right, '100% / -48');}
      & > a { border-top: 1px dotted $wt-dk-black; padding-top: 30px; margin-left: 20px; margin-right: 20px;}
      &:nth-child(1), &:nth-child(2), &:nth-child(3) {padding-top: 0;}
      &:nth-child(1) > a, &:nth-child(2) > a, &:nth-child(3) > a {border-top: none; padding-top: 0;}
    }
    &.calc-fix { padding-left: 60px; padding-right: 60px;
      li.post { 
        &:nth-child(3n+1) {clear: left; margin-left: 0;}
        &:nth-child(3n) {margin-right: 0;}
      }
    }
  }
}

#container .content-area {
  .content-box {padding: 0; background-color: $wt-white; margin-bottom: 80px;}
  .page-content {padding: 10px 60px;}
  ul#posts-list {margin: 0 60px;
    li.post {width: 50%; float: left; padding: 10px 15px 20px 15px;
      &:nth-child(2n+1) {clear: left;}
      & > a { border-top: 1px dotted $wt-dk-black; padding-top: 30px; }
      &:nth-child(1) > a, &:nth-child(2) > a {border-top: none; padding-top: 0;}
    }
  }
  
  .pagination {
    .next, .previous, .more {margin-bottom: 0; height: 12px;}
  }
}


.scalable {
  ul#posts-list {margin: 0 -30px; padding: 0 35px; background-color: $wt-white;
    li.post {width: 50%; float: left; padding: 10px 30px 20px 30px;
      &:nth-child(2n+1) {clear: left;}
      & > a { border-top: 1px dotted $wt-dk-black; padding-top: 30px; }
      &:nth-child(1) > a, &:nth-child(2) > a {border-top: none; padding-top: 0;}
    }
  }
}



i.icon {display: inline-block; background-position: 100px 100px; background-repeat: no-repeat; text-indent: -999px; background-image: image-url('icons.png');}
i.icon.icon-submit {background-position: -30px -25px; width: 21px; height: 16px; vertical-align: middle;}
i.icon.icon-view-ct {width: 16px; height: 10px; background-position: 0 -50px;}
i.icon.icon-nav-iheartradio {width: 18px; height: 14px; background-position: -20px -50px;}
i.icon.icon-wt-live-record-dot {width: 10px; height: 10px; background-position: -65px -50px;}
i.icon.icon-wt-live-arrow {width: 11px; height: 10px; background-position: -80px -50px;}
i.icon.icon-edit {background-position: 0 -95px; height: 25px; width: 25px;}
i.icon.icon-stats {background-position: -25px -95px; height: 25px; width: 25px;}
i.icon.icon-clipboard {background-position: 0 -125px; height: 17px; width: 16px;}

.pagination { margin: 0 auto; text-align: center; width: 100%;
  .next, .previous, .more { display: inline-block; margin-bottom: -7px; height: 0; overflow: visible;
    a {position: relative; color: $wt-white; font-size: 17px; padding: 6px 18px; font-weight: 500; border: none; border-radius: 0 !important; background-color: $wt-dk-black; @include transition(background-image .1s ease-in-out, background-color .1s ease-in-out);
      &:hover {background-color: $wt-dull-green; color: $wt-white;}
      &.loading {background-color: $wt-dk-black;}
    }
  }
  .more a {
    &:after {position: absolute; bottom: -32px; left: 0; right: 0; margin: 0 auto; display: block; line-height: 1.0em; font-size: 2.4rem; color: $wt-black; font-family: $wt-font-social; @include transition(bottom .1s ease-out, color .1s ease-out);};
    &:hover:after {color: rgba($wt-black,.5); bottom: -36px;}
    &.loading:after {opacity: 0;}
  }
}

.loading { background-image: image-url('icons/loading-dots.gif') !important; background-repeat: no-repeat !important; background-position: center center !important; color: rgba($wt-white,0) !important;}

.container-full.last {margin-bottom: 55px;}


// Category pages
body.category {
  #container {padding-top: 25px;
    .content-rail {float: right;}
  }
}


#post-mail-wrapper {max-width: 600px;
  .post-mail-header {background: black; padding: 0 10px;
    img {width: 36px;}
    .close {color: white; font-size: 27px;}
  }
  .error-expalnation {display: none; width: 420px; margin-top: -40px; margin-left: 90px; position: absolute; background-color: #F9F2F4; border: 1px solid #C7254E; padding: 6px 10px;
    li.error {color: #C7254E; text-align: center;}
  }
  h3 {margin-top: 5px;}
  .well {padding: 10px; border-top: 1px solid $wt-lt-grey; background-color: $wt-lt-grey; margin-bottom: 10px;
    .image {width: 30%; display: inline-block; vertical-align: top;
      img {max-width: 100%;}
    }
    .description {margin-left: 5%; width: 60%; display: inline-block;}
  }
  form { 
    input[type="text"], input[type="email"], textarea { margin-bottom: 10px;}
    .btn {font-weight: bold;}
    #toggle-mode{background-color: #BBBBBB; color: black;}
    .send-email {background-color: #08CEFF; color: white;}
  }
  #post-mail-content {padding: 10px;
    &.edit {
      .post-mail-preview {display: none;}
      .post-mail-form{display: block;}
    }
    &.preview {
      .post-mail-preview {display: block;}
      .post-mail-form{display: none;}
    }
  }
  p.message {border-left: 3px solid #AAAAAA; padding-left: 10px;}
}

html.page body.support-messages {
  .contact-info, .contact-methods, p {font-size: 1.25em;
    & > p {font-size: 1.0em;}
  }
  .contact-methods {padding: 15px 0; margin-left: -15px; margin-right: -15px;
    a {color: $wt-logo-blue; @include transition(color .1s ease-out);
      &:hover {color: darken($wt-logo-blue,15);};
    }
    .social a {font-size: 2.0rem; line-height: 1.0em; vertical-align: top; color: $wt-ft-grey; margin-right: 5px;
      &:hover {color: darken($wt-logo-blue,15);}
    }
  }
  .support-message-form {
    .alert.alert-danger {color: $wt-white; border-color: $wt-red; background-color: $wt-red; border-radius: 0; font-size: 1.33em; font-weight: 600;}
    input, textarea {border-radius: 0;}
    label {font-weight: 600;}
    abbr {text-decoration: none; outline: none; color: $wt-red; border: 0;}
    .error {margin-left: 25%; padding: 2px 0 0 15px; color: $wt-red; font-weight: 500;}
    .field_with_errors input, .field_with_errors textarea {border-color: $wt-red;}
  }
}

@media (max-width: 1188px) {// post container is less than 650 pixes
  .hidden-post-sm {display: none;}
}





// --- TABLET -----------------------------------------------------------------
@media (max-width: $screen-sm-max) {
  #top-ad-wrapper {padding: 5px 0;}

  html.page {
    #footer {padding-top: 25px; padding-bottom: 15px;
      & > .container-wrap > * {float: none !important;}
      .container-wrap {position: relative; padding-top: 76px;}
      .copyright {margin: 0; padding: 0 0 6px 0; text-align: center; font-size: 1.1rem; line-height: 1.2em;}
      #credits {margin: 0; padding: 0; text-align: center;
        .wticon {font-size: 2.4rem;}
      }
      .nav {position: absolute; top: 0px; right: 0; left: 0;
        ul { display: block; text-align: center;
          li {clear: none; display: inline-block; padding: 3px 5px; line-height: 1.2em;}
        }
      }
      .share-links {position: absolute; top: 29px; left: 0; right: 0; padding: 0; margin: 0;
        ul {margin: 0; padding: 0; display: block; text-align: center;
          li {
            a {font-size: 2.25rem;}
          }
        }
      }
    }
  }

  #content-area {
    ul#posts-list {padding-left: 0; padding-right: 0;
      li.post {
        &:nth-child(3n+1) {margin-left: 0;}
        &:nth-child(3n) {margin-right: 0;}
      }
    }
  }
}



// --- PHONE ------------------------------------------------------------------
@media (max-width: $screen-xs-max) {
  #mobile-top-ad-wrapper { padding: 0; background-color: $wt-top-ad-bar; @include linear-gradient(180deg, rgba($wt-black,.2) 0%, transparent 33.33%, transparent 100%, $fallback: $wt-top-ad-bar);
    #mobile-top-ad {background: transparent; max-width: 300px; max-height: 100px; height: auto; margin: 0 auto; padding: 0; text-align: center; }
  }
  
  header#header {min-height: 36px;
    #site-nav {
      .navbar-brand {width: 134px; height: 42px; margin: 0; padding: 8px 14px 6px 0;
        .logo {height: 26px; width: 120px; background-size: 100% auto;}
      }
      ul.navbar-nav.main-nav {margin-left: -$wt-xs-scaling-padding; margin-right: -$wt-xs-scaling-padding; padding: 5px $wt-xs-scaling-padding;}
    }
  }

  .container-full, header#header, #content-area {
    .container-wrap, .container-wide-wrap { padding-left: $wt-xs-scaling-padding; padding-right: $wt-xs-scaling-padding;
      .content-area {padding-left: 0; padding-right: 0;}
      .content-rails {display: none;}
    }
  }

  #container {
    .content-area {
      ul#posts-list {margin: 0;
        li.post {clear: both !important; float: none; width: 100%;
          & > a, &:nth-child(2) > a {border-top: 1px dotted rgba($wt-dk-black,.32) !important; padding-top: 20px !important; margin-top: 0 !important;}
          &:first-child > a {border-top: none !important; padding-top: 0 !important; margin-top: 0 !important;}
        }
      }
    }
  }
  #content-area { margin-top: 0; margin-bottom: 65px;
    .content-wrap {padding-top: 0;}
    ul#posts-list {margin: 0; padding: 0;
      li.post {width: 100%%; clear: both; float: none; padding: 5px 0;
        & > a, &:nth-child(2) > a {border-top: 1px dotted rgba($wt-dk-black,.32) !important; padding-top: 20px !important; margin-top: 0 !important;}
        &:first-child > a {border-top: none !important; padding-top: 0 !important; margin-top: 0 !important;}
      }
    }
  }


  #container .content-area {
    .page-content {padding: 0 0 20px 0; margin: 0 15px 15px 15px; border-bottom: 1px dotted rgba($wt-black,.5);
      .lead {margin-bottom: 3px;}
    }
  }

  .static-page, .support-messages {
    .content-area {
      & > .col-xs-12 {padding-left: 0; padding-right: 0;}
      .page-header {margin: 20px 0 15px 0;
        h1 {font-size: 2.5rem; line-height: 1.1em; margin: 0; padding: 0 0 5px 0;}
      }
      p.lead {font-size: 1.5rem;}
    }
  }


  .bottom-banner {display: none;}
}

@include hidpi {
  header#header #site-nav .navbar-brand .logo {background-image: image-url('logo@2x.png'); background-size: 100% auto; }
  form#search-form .icon {background-image: image-url('icons/search@2x.png') !important; background-size: 17px 17px !important;}
  .loading {background-image: image-url('icons/loading-dots@2x.gif') !important; background-size: 32px 8px !important;}
  i.icon {background-image: image-url('icons@2x.png'); background-size: 150px 150px;}
}



// --- AD HACKS ---
img[src*='mathtag.com'] {position: absolute; width: 0; height: 0; border: 0; display: inline;}

