html.post {
  #container {margin-bottom: 60px;}

  #sidebar {background-color: $wt-ft-grey; width: #{$wt-sidebar-width + $wt-sidebar-padding + $wt-scaling-padding}; padding: 0 $wt-scaling-padding 0 20px;
    &:before {content: " "; position: absolute; top: 0; right: 0; width: #{$wt-sidebar-width + $wt-sidebar-padding + $wt-scaling-padding}; bottom: 0; z-index: -1; background-color: $wt-ft-grey;}
    .page-header {margin: 0 #{-1 * $wt-scaling-padding} 0 #{-1 * $wt-sidebar-padding};}

    ul.trends-list { background-color: transparent; max-width: 270px; }
    ul.posts-list { max-width: 270px; }

    .newsletter-signup {padding: 0 0 30px 0;
      h3 {color: $wt-white; text-transform: uppercase;}
    }
  }

  #upper-container { position: relative; background-color: $wt-lt-lt-white;
    .upper-content-area {min-height: 0; padding-top: 15px; 
      .col-md-10, .col-lg-10 {position: inherit;}
      .post-category {text-transform: uppercase; font-size: 14px; line-height: 14px; padding: 9px 8px; bottom: 0; position: absolute;}
    }
    .upper-content-rail {min-height: 0; padding: 12px $wt-scaling-padding 0 $wt-sidebar-padding;
      &:after{ content: " "; position: absolute; z-index: -1; top: 0; bottom: 0; right: 0; background-color: $wt-lt-grey; width: #{$wt-sidebar-width + $wt-sidebar-padding + $wt-scaling-padding}}
    }
    .youtube-channel {color: $wt-dk-black; font-size: 14px; line-height: 27px; font-weight: 500; text-align: center;
      & > span {display: inline-block; vertical-align: top; height: 36px;
        &:first-child {padding-right: 7px;}
        &:nth-child(2) {width: 135px;}
      }
      &.hide-ct > span {height: 24px;
        &:first-child {padding-right: 5px;}
        &:nth-child(2) {width: 87px;}
      }
      &.visible-xs {padding-top: 4px;}
    }

  }

  .video-article {
    #upper-container { background-color: $wt-dk-black; 
      .row {margin: 0;}
      .upper-content-area { background-color: $wt-black; padding-top: 0;
        .video-tab-bar {background-color: $wt-dk-black; overflow: hidden; margin-left: -$wt-scaling-padding; padding-left: $wt-scaling-padding;
          .post-category { height: 46px; position: relative; padding-top: 16px; }
        }
        ul.post-items {margin: 0;
          li.post-item {padding: 0;}
        }
      }
      .upper-content-rail { padding-top: 0; padding-bottom: 0;
        &:after { background-color: $wt-dk-black; }
        .video-tab-bar { height: 46px; overflow: hidden; padding-top: 12px; background-color: $wt-ft-grey; margin-right: -$wt-scaling-padding; margin-left: -$wt-sidebar-padding;
          span { color: $wt-white; }
        }
        ul.posts-list {position: absolute; top: 46px; right: 0; padding: 12px $wt-sidebar-padding 12px $wt-scaling-padding; width: #{$wt-scaling-padding + $wt-sidebar-padding + $wt-sidebar-width}; bottom: 0; overflow-y: auto; overflow-x: hidden; }
      }
    }

    .content-area {
      .video-details-bar { height: 44px; margin-left: -$wt-scaling-padding;  padding-left: $wt-scaling-padding; overflow: hidden;
        aside.post-details { margin: 0; margin-right: -15px; background-color: $wt-body-bg; min-height: 44px; padding-left: 15px;
          .post-views-count, .post-comments-count { padding: 8px 20px 7px 20px; margin-left: -15px; }
          .post-info { padding-top: 5px; font-size: 1.3rem; line-height: 1.3em; }
        }
      }
    }
  }

  ul.post-items {
    li.post-item { position: relative; float: none; padding: 15px 0;
      &:first-child { padding-top: 1px; }
      &.post-style-text_item + .post-style-text_item {padding-top: 0;}
      h2 {margin: 0 0 16px 0;}
      &:hover { .share-buttons { display: block; } }

      .post-item-media { position: relative; }
      .post-item-description {font-size: 16px; line-height: 24px; padding: 10px 0 0 0;
        img,embed,object,iframe {max-width: 100%; height: auto;}
      }
      .post-item-attribution { margin-top: 8px; padding: 0; margin-bottom: -4px;
        span {padding: 0 4px;
          &:last-child {padding-right: 0;}
          em {text-transform: lowercase;}
          a {padding-left: 2px;}
        }
      }

      // Text
      &.post-style-text_item {
        .post-item-description {padding-top: 0;}
      }

      // Image
      &.post-style-image_item, .post-item-media {
        img {max-width: 100%; max-height: 100%; height: auto;}
      }

      // Video
      &.post-style-video_item {
        .post-item-media-wrapper { position: relative; padding: 75% 0 0 0;
          &.post-item-media-youtube {padding-top: 56.25%;}
          &.post-item-media-vimeo {padding-top: 41.5625%;}
          &.post-item-media-vimeo {padding-top: 712px;}
          &.post-item-media-vine {padding-top: 600px;}
          iframe {position: absolute; display: block; top: 0; left: 0; right: 0; bottom: 0; width: 100%; height: 100%;}
          iframe + p, iframe + div, iframe + a {display: none;} /* hide crap underneath */
        }
      }

      // Embed
      &.post-style-embed_item {
        iframe[src*='vimeo.com'] + p, iframe[src*='collegehumor.com'] + p, iframe[src*='funnyordie.com'] + p {display: none;} 
      }

      // Tweet
      &.post-style-tweet_item {
        .post-item-media { text-align: center;
          .post-item-media-twitter {min-height: 175px;}
          .post-item-media-facebook {min-height: 350px;}
          iframe {margin-left: auto !important; margin-right: auto !important;}
        }
      }

      .share-buttons { position: absolute; top: 15px; left: -10px; display: none; max-width: 40px;
        li {margin-top: 3px;
          &:first-child {margin-top: 0;}
          .share-icon {float: none;}
        }
      }
    }
  }

  .content-area, .upper-content-area { padding: 0 0 0 $wt-scaling-padding; }
  .content-area { padding-bottom: $wt-scaling-padding;
    &.scalable {
      &:before {content: " "; position: absolute; top: 0; right: 0; left: #{$wt-sidebar-width + $wt-sidebar-padding + $wt-scaling-padding}; bottom: 0; z-index: -1; background-color: $wt-white;  box-shadow: inset -2px 0 2px rgba($wt-black,.03);}
      &.pull-left:before {right: #{$wt-sidebar-width + $wt-sidebar-padding + $wt-scaling-padding}; left: 0;}
    }

    .post-container {padding: 0 0 30px 0;}

    .admin_links { display: inline-block; left: $wt-scaling-padding; position: absolute; top: -10px; z-index: 3000;
      li { margin-bottom: 6px;
        a { background-color: $wt-logo-blue; cursor: pointer; display: block; padding: 8px; width: 40px; height: 40px; overflow: hidden; line-height: 1em; @include transition(background-color .2s ease-out);
          &:hover { background-color: $wt-black; }
        }
      }
    }

    .post-category {margin-top: -5px; text-transform: lowercase;}

    .row {margin: 0; padding: 0;}

    header.row {
      h1 {margin: 24px 0 10px 0; padding: 0; font-size: 4.2rem; font-weight: 700; line-height: 1.175em;}
      h4 {margin: 0 0 10px 0; padding: 0; font-size: 2.2rem; font-weight: 500; line-height: 1.32em;}
    }

    aside.post-details {margin: 8px 0 5px 0;
      .post-views-count, .post-comments-count {padding: 10px 20px 9px 20px; margin: 0 15px 0 0; font-size: 2.5rem; line-height: 1em; font-weight: 800;
        small {font-weight: 500; font-size: 1.7rem;}
      }
      .post-views-count {display: none; margin-left: -20px;
        &.has-views {display: block;}
      }
      .post-views-count + .post-comments-count {margin-left: -5px;}
      .post-comments-count {display: none; background-color: $wt-grey; color: $wt-white; @include transition(background-color .1s ease-out);
        &:hover {background-color: rgba($wt-ft-grey,.7);}
        span {display: none;}
        .many-comments {display: none;}
        &.has-comments {
          .many-comments {display: inline;}
          .one-comment {display: none;}
        }
        &.has-comment, &.has-comments { display: block;
          span {display: inline;}
        }
      }
      .post-info {padding: 3px 0 0 0; font-size: 1.5rem; line-height: 1.267em; color: $wt-dull-green;
        a {color: $wt-logo-blue; @include transition(color .1s ease-in);
          &:hover {color: $wt-ft-grey;}
        }
      }
    }

    .sharebar {position: relative;
      h5 {margin-bottom: 0;}
      &.share-upper {margin: 20px 0;}
      &:after {content: " "; clear: both; position: absolute; display: block; height: 1px; bottom: 0; left: 0; right: 0; text-indent: -9999px; overflow: hidden; box-shadow: 0 2px 3px rgba($wt-black,.32);}
      &.followbar { border-bottom: 1px solid #eee; margin-bottom: 20px;
        &:after {display: none;}
      }
    }

    .similar-posts { margin: 20px 0;
      .width-wrapper {max-width: 100%; overflow: hidden; overflow-x: scroll;
        &::-webkit-scrollbar {-webkit-appearance: none;}
        &::-webkit-scrollbar:horizontal {height: 11px;}
        &::-webkit-scrollbar-thumb {border-radius: 8px; border: 2px solid rgba($wt-white,.01); background-color: rgba($wt-black,.5);}
        &::-webkit-scrollbar-track {background-color: $wt-white; border-radius: 8px;}
      }
      ul.similar-posts { margin: 20px -10px; width: 100%;
        li {display: block; padding: 0 10px; float: left; width: 33.333%;
          .post-overlay {padding-bottom: 20px;
            h1 {font-size: 16px; font-size: 400;}
          }
        }
      }
    }

    .post-comments { margin: 30px 0; border-top: 1px solid #ddd; padding: 0; min-height: 200px; width: 100%;
      .fb-comments {width: 100% !important;
        * {width: 100% !important;}
      }
    }
  }

  // Smaller devices
  @media (max-width: $screen-md-max) {
    #upper-container .col-md-12, #container .col-md-12 {padding-left: 0;}
    .content-area .admin_links {left: auto; right: ($wt-sidebar-width + $wt-scaling-padding + 40);}
  }

  // At 885, the content area is 500px wide
  @media (max-width: 884px) {
    .content-area, .upper-content-area {@include calc(width, '100% - #{$wt-sidebar-width}');}
    .content-area .admin_links {left: auto; right: ($wt-sidebar-width + 15);}
    .content-area.scalable {
      &:before {left: $wt-sidebar-width;}
      &.pull-left:before {right: $wt-sidebar-width;}
    }
    .fixed-width, #sidebar {width: $wt-sidebar-width; padding-left: 0; padding-right: 0;}
    #sidebar {
      &:before {width: $wt-sidebar-width;}
      ul.trends-list, ul.posts-list { margin-left: auto; margin-right: auto;}
      ul.trends-list { margin-left: auto; margin-right: auto;
        li.trend-item a {margin-left: 0;
          .trend-rank {left: 0;}
        }
      }
      .newsletter-signup {padding-left: 10px; padding-right: 10px; overflow: hidden;}
    }
    #upper-container .upper-content-rail:after {width: $wt-sidebar-width;}

    .video-article {
      #upper-container {
        .upper-content-rail {display: none;}
        .upper-content-area {width: 100%; padding-left: 0;
          .video-tab-bar {margin-left: -15px;
            .post-category { height: auto; padding-top: 9px;}
            .youtube-channel { color: rgba($wt-white,.64); font-size: 1.2rem;
              span:first-child {padding-right: .3em;}
            }
          }
          .video-player {margin: 0 -15px;}
        }
      }
      .post-container[data-format='video'] {
        .video-details-bar {margin-right: -300px;}
      }
      #sidebar {margin-top: 44px;}
    }


  }


  // --- TABLET ---------------------------------------------------------------
  @media (max-width: $screen-sm-max) {
    .content-area {
      .post-container[data-format='article'] {
        aside.post-details {
          .label-info {margin-bottom: 7px;}
        }
      }
    }
  }



  // --- PHONE ----------------------------------------------------------------
  @media (max-width: $screen-xs-max) {
    #container {margin-bottom: 15px;}

    .content-area .admin_links {display: none;}
    .content-area, .upper-content-area {padding-left: 10px; padding-right: 10px;}

    #upper-container .col-md-12, #upper-container .col-xs-12, #container .col-md-12 {padding-right: 0; padding-left: 0;}
    #upper-container .upper-content-area {padding-top: 0;
      .post-category {position: relative;}
    }
    .upper-content-area {width: 100%; float: none !important;}

    .video-article {
      #upper-container {
        .upper-content-area {padding-right: 0;
          .video-tab-bar {margin: 0 5px 0 -15px;}
          .video-player {margin: 0;}
        }
      }
    }
    .content-area {
      &.scalable {
        &, &.pull-left {float: none; width: 100%; background-color: $wt-white;
          &:before {display: none;}
        }
      }
      header.row {
        h1 {font-size: 2.8rem; margin-bottom: 5px; margin-top: 18px;}
        h4 {font-size: 1.6rem; line-height: 1.2em; margin-bottom: 5px; color: rgba($wt-black,.5); font-weight: 300;}
      }

      .post-container[data-format='article'] {
        aside.post-details {
          .label-info {font-size: 1.6rem; padding: 7px 10px 6px 10px; margin-bottom: 7px;
            &.post-views-count {margin-left: -10px;}
            span {font-size: 1.6rem;}
            small {font-size: 1.2rem;}
          }
          .post-info {clear: both; float: none !important; font-size: 1.3rem;}
        }
      }
      .post-container[data-format='video'] {
        .video-details-bar { padding: 0; margin: 0 (0 -$wt-xs-scaling-padding); max-height: 45px; overflow: hidden;
          aside.post-details { margin: 0; padding: 0 $wt-xs-scaling-padding;
            .label-info {font-size: 1.6rem; padding: 14px 10px; margin-left: 10px; margin-right: -10px; float: right !important;
              &.post-comments-count {display: none !important;}
              span {font-size: 1.6rem;}
              .wticon {margin-right: 3px; margin-left: 2px; font-size: 1.4rem;}
              small {font-size: 1.2rem;}
            }
          }
        }
      }
      .similar-posts, .post-comments {
        & > h3 {font-size: 2.0rem;}
      }
      .similar-posts {
        #zerglayout {padding: 5px 0 !important;}
        ul.similar-posts {margin: 5px -3px; 
          li {display: none; padding: 0 3px; width: 50%;
            &:nth-child(1), &:nth-child(2) {display: block;}
            .post-overlay {left: 10px; right: 10px; bottom: 10px; padding: 0;
              h1 {font-size: 1.3rem; line-height: 1.2em;}
            }
          }
        }
      }
      .post-comments {margin-bottom: 0;}
      .post-container {padding-bottom: 0;}
      ul.post-items {
        li.post-item {
          h2 {margin-bottom: 10px; font-size: 2.0rem;}
          .post-item-description {padding-top: 2px;}
          h2 + .post-item-description {margin-top: -6px;}
          .share-buttons {display: none !important;}
          .post-item-attribution {margin-top: 4px; margin-bottom: 4px;}
        }
      }

    }
    .fixed-width, #sidebar {display: none;}
    .content-area .sharebar h5 {margin-bottom: 10px;}
    .share-buttons {overflow: hidden;
      .share-platform {width: 16%; width: calc(16.6% - 1px); margin-top: 0;
        *[data-platform] {font-size: 1.3rem;
    //      &[data-platform="email"], &[data-platform="stumbleupon"], &[data-platform="reddit"] {display: none;}
          .share-icon {font-size: 1.9rem; line-height: 37px;}
          .share-count {display: none; padding: 0 5px; margin-top: 5px; height: 32px; line-height: 32px;}
        }
      }
    }
    .sharebar .share-buttons .share-platform {margin-right: 1px;
      .share-icon {width: 100%; height: 37px;}
    }
  }
}

.page_header.author_info {
  .pull-left img {max-width: 100px; max-height: 100px; width: 100%; height: auto; margin: 5px 20px 15px 0; border: 1px solid $wt-lt-grey; box-shadow: 0 1px 3px rgba($wt-black,.08);}
}

ul.author-list {margin: 0 -15px 25px -15px;
  li {padding-top: 25px; padding-bottom: 25px;
    & > a {display: block;
      &:hover {
        .author-image-wrap {
          &:after {opacity: .2;}
          h2 {background-color: $wt-logo-blue;}
        }
      }
      .author-image-wrap {padding: 100% 0 0 0; position: relative; @include backface-visibility(hidden);
        &:after {content: " "; display: block; position: absolute; top: 0; left: 0; right: 0; bottom: 0; background-color: $wt-black; opacity: 0; @include transition(opacity .2s ease-out); z-index: 2;}
        .author-image {position: absolute; top: 0; left: 0; right: 0; bottom: 0; background-position: center center; background-repeat: no-repeat; background-size: contain;}
        h2 {position: absolute; left: 0; right: 0; bottom: 0; margin: 0; background: rgba($wt-dk-black,.8); font-weight: 400; padding: 20px 20px; font-size: 18px; line-height: 21px; color: $wt-white; @include transition(background-color .2s ease-out); z-index: 3;
          small {display: block; color: $wt-white; opacity: .5; font-size: 16px; padding: 5px 0 0 0;}
        }
      }
    }
    .col-xs-8 {
      h2 {font-size: 2.2rem; margin: 0; padding: 0;
        small {display: block; font-size: 1.3rem;}
      }
      p {font-size: 1.5rem;}
    }
    p, .social-icons {color: $wt-ft-grey; font-size: 1.6rem; padding: 10px 0 0 0; margin: 0;
      a {color: $wt-logo-blue;
        &:hover {color: $wt-dull-green;}
      }
    }
    .social-icons {padding: 0; margin: 0; font-size: 42px; line-height: 42px; display: block;
      a {display: inline-block; padding: 0; float: left;}
      .wticon { font-size: 42px; line-height: 42px; width: 32px; }
    }
  }
  @media (max-width: $screen-xs-max) {
    & {margin: 0;
      li {border-top: 1px dotted rgba($wt-dk-black,.32); padding: 10px 0;
        &:first-child {border: none;}
      }
    }
  }
}