- list ||= nil
- published ||= false
- limit ||= 999

- unless list.blank? || list.list_items.blank?
  %ul.list-group
    - list.list_items.limit(limit).where(active: (published ? true : [true,false]) ).each do |v|
      - next if v.item.blank?
      - next if !!published && (!v.active || (v.item.post.present? && !v.item.post.published?))
      - post = v.item.post
      - valid_post = post.present? && (post.published? || post.can_publish?) rescue false

      %li.list-group-item{class: [(!v.active ? 'disabled' : ''), (post.present? && !post.published? ? 'post-draft' : ''), (post.present? && !valid_post ? 'post-invalid' : '')]}
        .row
          .container-fluid
            .col-md-1
              %strong.rank
            .col-md-2
              = image_tag v.item.image.url(:feed), class: 'img-responsive', alt: '', title: v.item.name
            .col-md-7
              %h4.media-heading
                - unless v.item.display_keyword.blank?
                  = v.item.display_keyword
                  %small= v.item.keyword
                - else
                  = v.item.keyword
              %p
                %strong Score:
                = v.nice_score
                &nbsp;&middot;&nbsp;
                %strong Change:
                = v.rank_delta_last_hour || '&ndash;'.html_safe
                %small hour
                \&nbsp;/&nbsp;
                = v.rank_delta_last_hour || '&ndash;'.html_safe
                %small day
                - if v.item.source_url.present? || v.item.via_url.present?
                  %br
                  - if v.item.source_url.present?
                    %strong Item:
                    %a{href: v.item.source_url, target: '_blank'}= v.item.nice_source_url
                  - if v.item.source_url.present? && v.item.via_url.present?
                    &nbsp;&middot;&nbsp;
                  - if v.item.via_url.present?
                    %strong Via:
                    %a{href: v.item.via_url, target: '_blank'}= v.item.nice_via_url
                %br
                - if post.present?
                  %strong Post:
                  %a{href: edit_admin_post_url(post), target: '_blank'}
                    - unless valid_post
                      %span.label.label-warning Needs Updates
                    - unless post.published?
                      %span.label.label-danger Draft
                    = post.title
                - elsif v.item.source_url.present?
                  %strong URL:
                  %a{href: v.item.source_url, target: '_blank'}= v.item.nice_source_url
                - else
                  %span.bg-danger.text-danger
                    %strong Warning:
                    Not Linked
            .col-md-2.text-right
              .btn-group.text-left
                %button.btn.btn-default.btn-sm.dropdown-toggle{type: "button", "data-toggle" => "dropdown"}
                  %span.glyphicon.glyphicon-cog
                  .caret
                %ul.dropdown-menu.pull-right{role: "menu"}
                  %li
                    %a{href: edit_admin_trend_list_item_url(list, v, v.item)}
                      %span.glyphicon.glyphicon-pencil
                      Edit
                  %li{class: (post.blank? ? 'disabled' : '')}
                    %a{href: (post.present? ? edit_admin_post_url(post) : 'javascript:;'), target: '_blank'}
                      %span.glyphicon.glyphicon-edit
                      Edit Post
                  %li.divider
                  %li
                    - if v.active
                      %a{href: unpublish_admin_trend_list_items_url(list, v), 'data-method' => :post, 'data-confirm' => 'Are you sure you want to hide this item?'}
                        %span.glyphicon.glyphicon-eye-close
                        Hide
                    - else
                      %a{href: publish_admin_trend_list_items_url(list, v), 'data-method' => :post, 'data-confirm' => 'Are you sure you want to show this item?'}
                        %span.glyphicon.glyphicon-eye-open
                        Show