:javascript
  $(document).ready(function() {
    $('#publish_list').on('click', function() {
    try {
      var n_ct = $('#draft_trend_list > ul > li:lt(10):not(.disabled)').filter('.post-invalid').size(),
          d_ct = $('#draft_trend_list > ul > li:lt(10):not(.disabled)').filter('.post-draft').size(),
          v_ct = $('#draft_trend_list > ul > li:not(.disabled)').size();

      if (n_ct > 0) {
        alert('Hey! '+ n_ct +" of the top 10 trending items has a post that needs updating.\n\nPlease fix these issues before publishing.")
        $(this).button('reset');
        return false;
      } else if (d_ct > 0) { 
        alert('Hey! '+ d_ct +" of the top 10 trending items has a post that has not been publishd yet.\n\n\Please publish these posts before publishing the trend list.");
        $(this).button('reset');
        return false;
      } else if (v_ct < 5) {
        alert('You must have at least 5 trend item visible before you can publish.');
        $(this).button('reset');
        return false;
      } else if (confirm('Are you sure you want to publish this trend list?')) {
          return true;
      } else {
        $(this).button('reset');
        return false;
      }

      // } else {
      //   if (confirm(d_ct > 0 ? 
      //     'Hey! '+ d_ct +" of the top 10 trending items has a post that has not been publishd yet.\n\nPublishing this list will publish these posts.\n\Are you sure you want to publish this trend list?"
      //     : "Are you sure you want to publish this trend list?")) {
      //     return true;
      //   } else {
      //     $(this).button('reset');
      //     return false;
      //   }
      //}
      } catch(e) {
        alert(e)
        return false;
      }
    });
  });

.row
  .col-md-8
    .page-header
      .pull-left
        %h1
          = t(:trends)
        .lead
          Control the top 10 trending list.
          - helper_popover(t('.trends_list'), t('.popover'), html: true, placement: :bottom)
      - unless @draft_list.blank? || @draft_list.list_items.blank?
        = link_to publish_admin_trend_url(@draft_list), id: 'publish_list', class: 'pull-right btn btn-lg btn-success', 'data-method' => :post, 'data-loading-text' => 'Publishing…' do
          %span.glyphicon.glyphicon-check
          = t(:publish)
      .clearfix

    %h2= t('.draft_trends_list')
    - unless @draft_list.blank?
      - unless @draft_list.loading?
        %p.lead= t('.compiled_time', space: time_ago_in_words(@draft_list.updated_at))
        #draft_trend_list
          %ul.list-group
            - @draft_list.list_items.limit(999).each do |v|
              - next if v.item.blank?
              - post = v.item.post
              - valid_post = post.present? && (post.published? || post.can_publish?) rescue false

              %li.list-group-item{class: [(!v.active ? 'disabled' : ''), (post.present? && !post.published? ? 'post-draft' : ''), (post.present? && !valid_post ? 'post-invalid' : '')]}
                .row
                  .container-fluid
                    .col-md-1
                      %strong.rank
                    .col-md-2
                      = image_tag v.item.image.url(:feed), class: 'img-responsive', alt: '', title: v.item.name
                    .col-md-7
                      %h4.media-heading
                        - unless v.item.display_keyword.blank?
                          = v.item.display_keyword
                          %small= v.item.keyword
                        - else
                          = v.item.keyword
                      %p
                        %strong Score:
                        = v.nice_score
                        \&nbsp;&middot;&nbsp;
                        %strong Change:
                        = v.rank_delta_last_hour || '&ndash;'.html_safe
                        %small hour
                        \&nbsp;/&nbsp;
                        = v.rank_delta_last_hour || '&ndash;'.html_safe
                        %small day
                        - if v.item.source_url.present? || v.item.via_url.present?
                          %br
                          - if v.item.source_url.present?
                            %strong Item:
                            %a{href: v.item.source_url, target: '_blank'}= v.item.nice_source_url
                          - if v.item.source_url.present? && v.item.via_url.present?
                            &nbsp;&middot;&nbsp;
                          - if v.item.via_url.present?
                            %strong Via:
                            %a{href: v.item.via_url, target: '_blank'}= v.item.nice_via_url
                        %br
                        - if post.present?
                          %strong Post:
                          %a{href: edit_admin_post_url(post), target: '_blank'}
                            - unless valid_post
                              %span.label.label-warning Needs Updates
                            - unless post.published?
                              %span.label.label-danger Draft
                            = post.title
                        - elsif v.item.source_url.present?
                          %strong URL:
                          %a{href: v.item.source_url, target: '_blank'}= v.item.nice_source_url
                        - else
                          %span.bg-danger.text-danger
                            %strong Warning:
                            Not Linked
                    .col-md-2.text-right
                      .btn-group.text-left
                        %button.btn.btn-default.btn-sm.dropdown-toggle{type: "button", "data-toggle" => "dropdown"}
                          %span.glyphicon.glyphicon-cog
                          .caret
                        %ul.dropdown-menu.pull-right{role: "menu"}
                          %li
                            %a{href: edit_admin_trend_list_item_url(@draft_list, v, v.item)}
                              %span.glyphicon.glyphicon-pencil
                              Edit
                          %li{class: (post.blank? ? 'disabled' : '')}
                            %a{href: (post.present? ? edit_admin_post_url(post) : 'javascript:;'), target: '_blank'}
                              %span.glyphicon.glyphicon-edit
                              Edit Post
                          %li.divider
                          %li
                            - if v.active
                              %a{href: unpublish_admin_trend_list_items_url(@draft_list, v), 'data-method' => :post, 'data-confirm' => 'Are you sure you want to hide this item?'}
                                %span.glyphicon.glyphicon-eye-close
                                Hide
                            - else
                              %a{href: publish_admin_trend_list_items_url(@draft_list, v), 'data-method' => :post, 'data-confirm' => 'Are you sure you want to show this item?'}
                                %span.glyphicon.glyphicon-eye-open
                                Show
      - else
        .well
          .progress.progress-striped.active{style: 'max-width: 66.67%; margin: 15px auto;'}
            .progress-bar.progress-bar-warning{role: 'progressbar', 'aria-valuenow' => '100', 'aria-valuemin' => '0', 'aria-valuemax' => '100', style: 'width: 100%'}
              %span.sr-only Loading&hellip;
          .text-center
            = t('.loading_trends').html_safe
    - else
      .well
        .text-center= t('.no_trends').html_safe

  .col-md-4.well.fixed-col
    %h2 Published Trend List
    - unless @current_list.blank? || @current_list.list_items.blank?
      %p Published #{time_ago_in_words(@current_list.updated_at)} ago.
      #published_trend_list
        %ul.list-group
          - @current_list.list_items.limit(10).where(active: true).each do |v|
            - next if v.item.blank?
            - next if !v.active || (v.item.post.present? && !v.item.post.published?)
            - post = v.item.post
            - valid_post = post.present? && (post.published? || post.can_publish?) rescue false

            %li.list-group-item{class: [(!v.active ? 'disabled' : ''), (post.present? && !post.published? ? 'post-draft' : ''), (post.present? && !valid_post ? 'post-invalid' : '')]}
              .row
                .container-fluid
                  .col-md-2
                    = image_tag v.item.image.url(:sidebar), class: 'img-responsive', alt: '', title: v.item.name
                  .col-md-8
                    %h4.media-heading
                      - unless v.item.display_keyword.blank?
                        = v.item.display_keyword
                        %small= v.item.keyword
                      - else
                        = v.item.keyword
                  .col-md-2.text-right
                    .btn-group.text-left
                      %button.btn.btn-default.btn-sm.dropdown-toggle{type: "button", "data-toggle" => "dropdown"}
                        %span.glyphicon.glyphicon-cog
                        .caret
                      %ul.dropdown-menu.pull-right{role: "menu"}
                        %li
                          %a{href: edit_admin_trend_list_item_url(@current_list, v, v.item)}
                            %span.glyphicon.glyphicon-pencil
                            Edit
                        %li{class: (post.blank? ? 'disabled' : '')}
                          %a{href: (post.present? ? edit_admin_post_url(post) : 'javascript:;'), target: '_blank'}
                            %span.glyphicon.glyphicon-edit
                            Edit Post
                        %li.divider
                        %li
                          - if v.active
                            %a{href: unpublish_admin_trend_list_items_url(@current_list, v), 'data-method' => :post, 'data-confirm' => 'Are you sure you want to hide this item?'}
                              %span.glyphicon.glyphicon-eye-close
                              Hide
                          - else
                            %a{href: publish_admin_trend_list_items_url(@current_list, v), 'data-method' => :post, 'data-confirm' => 'Are you sure you want to show this item?'}
                              %span.glyphicon.glyphicon-eye-open
                              Show
        
    - else
      .well
        .text-center There is no published trend list.