- opts ||= {}

= simple_form_for @email_subscriber || EmailSubscriber.new, opts do |f|
  = f.input :email, placeholder: t('.placeholder')
  = button_tag class: 'gloss' do
    %i.icon.icon-submit= t('.submit')
  .clearfix