%h2 What's Trending Contact Message

%p
  %strong Name:
  = @support_message.name
  %br
  %strong Phone: 
  = @support_message.phone
  %br
  %strong Email: 
  = @support_message.email

%div
  %p
    %strong Their Message:
  %div{style: 'background-color: rgb(230,230,230); padding: 10px 15px;'}
    = simple_format( Sanitize.fragment(@support_message.message) )

%p
  %br
  You can reply to this email to respond directly to #{@support_message.name} &lt;#{@support_message.email}&gt;.

%p{style: 'font-size: .75em; color: rgb(90,90,90);'}
  %br
  - unless @support_message.user.blank?
    %strong Username: 
    = @support_message.user.login
    %br
    %strong  User Nickname: 
    = @support_message.user.name
    %br
  %strong Session ID: 
  = @support_message.session_id
  %br
  %strong IP Address: 
  = @support_message.ip_address
  %br
  %strong Browser: 
  = @support_message.browser
  %br
  %strong Referrer: 
  = @support_message.referrer


%p
  %strong
    %br
    What's Trending
    %br
    Administrative Contest Notification