%p A request to reset your password has been made.

%p If you did not make this request, simply ignore this email.
%p If you did make this request just click the link below:

%p= link_to edit_password_reset_url(@user.perishable_token), edit_password_reset_url(@user.perishable_token)

%p If the above URL does not work try copying and pasting it into your browser.
%p If you continue to have problem please feel free to contact us.