= t(:greeting)
\
= t('sharing_mails.preview.plain.preview_description', username: @sharing_mail.sender_name, title: @target.title).html_safe
\
- unless @sharing_mail.message.blank?
  = @sharing_mail.message
  \

= @target.title

= t('sharing_mails.preview.plain.cheer_title')
= @url
\
\
= "_"*60
\
= t('sharing_mails.preview.plain.untrusted', username: @sharing_mail.sender_name, link: 'hello@whatstrending.com')
= t(:company)
= root_url
