%td{ style: [css_styles[:bg_white], css_styles[:pd_20]].join(';') }
  %table{style: css_styles[:table], width: '100%', cellpadding: 0, cellspacing: 0, border: 0}
    %tr
      %td{ colspan: 3 }
        = link_to root_url do
          = image_tag 'mail/logo@2x.png', title: t(:logo), alt: '', width: 151, height: 33

      %td{ style: [css_styles[:w_7p], css_styles[:txt_right]].join(';') }
        = link_to 'https://facebook.com/whatstrending', title: t(:facebook), target: '_blank', style: css_styles[:social_lnk] do
          = image_tag 'mail/facebook@2x.png', alt: '', width: 29, height: 30
        = link_to 'https://twitter.com/whatstrending', title: t(:twitter), target: '_blank', style: css_styles[:social_lnk] do
          = image_tag 'mail/twitter@2x.png', alt: '', width: 29, height: 30
        = link_to 'http://www.youtube.com/user/Whatstrending', title: t(:youtube), target: '_blank', style: css_styles[:social_lnk] do
          = image_tag 'mail/youtube@2x.png', alt: '', width: 29, height: 30
    %tr
      %td{ colspan: 4, style: 'padding: 6px 0' }
        %hr{ style: css_styles[:hr] }

    %tr
      %td{ colspan: 4, style: css_styles[:td] }
        %p{style: css_styles[:p]}= t(:greeting)
        %p{style: css_styles[:p]}= t('sharing_mails.preview.preview_description', username: @sharing_mail.sender_name)
        - unless @sharing_mail.message.blank?
          %blockquote{ style: [css_styles[:p],css_styles[:blockquote]].join(';') }
            = @sharing_mail.message

    %tr{ style: [css_styles[:bg_grey], css_styles[:brd_grey]].join(';') }
      %td{ style: [css_styles[:td],css_styles[:w_12px_vert],css_styles[:w_12px_left]].join(';') }
        = link_to @url, target: '_blank' do
          - if @target.is_a?(Post) && @target.promo_image_file_name.present?
            = image_tag @target.promo_image.url(:thumbnail), style: css_styles[:img]
          - elsif @target.is_a?(PostItem) && @target.image_file_name.present?
            = image_tag @target.image.url(:medium), style: css_styles[:img]

      %td{ colspan: 3, style: [css_styles[:td], css_styles[:w_7p],css_styles[:w_12px_vert],css_styles[:w_12px_right],css_styles[:w_12px_left]].join(';') }
        %h4{style: css_styles[:desc_h4]}
          = link_to @url, target: '_blank', style: css_styles[:desc_h4_link] do
            = @target.title
        %p{style: css_styles[:desc_p]}= @target.try(:description) || @target.try(:text)

    %tr
      %td{ colspan: 4, style: [css_styles[:bg_blue], css_styles[:txt_center], css_styles[:brd_blue]].join(';') }
        = link_to @url, target: '_blank', style: [css_styles[:p],css_styles[:c_white], css_styles[:no_dec]].join(';') do
          %b= t('sharing_mails.preview.cheer_title')
          %br
          %small= @nice_url

  %tr{ style: css_styles[:txt_center] }
    %td{ style: css_styles[:td] }
      %small{style: [css_styles[:p], css_styles[:footer]].join(';') }
        = t('sharing_mails.preview.untrusted', username: @sharing_mail.sender_name, link: 'mailto:hello@whatstrending.com', link_style: css_styles[:a]).html_safe
        %br
        = t(:company)
