= simple_form_for @badge, url: (@badge.new_record? ? admin_badges_url : admin_badge_url), html: { "data-validate" => "parsley" } do |f|
  = f.error_notification
  = f.input :name, input_html: { 'data-maxlength' => 250 }
  = f.input :description, input_html: { 'data-maxlength' => 500 }
  = f.input :icon, required: true
  = f.input :nsfw
  = f.input :active
  %br
  = f.button :submit