.container
  = link_to 'Create Badge', new_admin_badge_url, class: 'btn'
  .pagination.pull-right
    = will_paginate @badges
  .clearfix

  %table.table.table-striped.table-condensed
    %thead
      %tr
        %th #
        %th Name
        %th Description
        %th Icon
        %th NSFW
        %th Active
    %tbody
      - unless @badges.empty?
        = render @badges
      - else
        %tr
          %td{ colspan: 6 } No badges yet.

  .pagination.pull-right
    = will_paginate @badges