.row
  = link_to "Edit", edit_admin_badge_url(@badge)
  %br

  .panel.panel-default
    .panel-heading Badge Detail
    .panel-body
      %dl
        %dt Name
        %dd= @badge.name
      %dl
        %dt Description
        %dd= @badge.description
      %dl
        %dt Icon
        %dd= image_tag(@badge.icon.url(:large), class: "thumbnail")
      %dl
        %dt NSFW
        %dd= @badge.nsfw
      %dl
        %dt Active
        %dd= @badge.active

      = link_to 'Back', admin_badges_url
      = link_to 'Delete', admin_badge_url(@badge), method: :delete, data: { confirm: 'Are you sure?' }