- content_for(:js_css) do
  = javascript_include_tag "//www.google.com/jsapi", "chartkick"


.page-header
  .pull-left
    %h1= t('.dashboard')
  - if can?(:create, Post)
    = link_to new_admin_post_url, class: 'btn btn-success btn-lg pull-right' do
      %span.glyphicon.glyphicon-pencil
      = t('admin.posts.new.new_post')
  .clearfix


- if true
  .row
    .alert{'data-dismiss-id' => 'update-20140610'}
      %button.close{type: :button, 'data-dismiss' => :alert, 'aria-hidden' => 'true'} &times;
      %h3{style: 'margin-top: 0'} Hi #{current_user.first_name}! Here's some platform updates:
      %ul{style: 'margin-bottom: 5px'}
        %li Facebook Posts can now be embedded.
        %li Tags can now have spaces. Tag searching should also be faster.
        %li Basic formatting buttons (bold, italics, strikethru, links) for post item text field.
        %li Even more post editing bug fixes.
    

- if can?(:stats, Post)
  - i = 0
  %ul#dashboard_trends.nav.nav-tabs
    %li
      %h4
        = t('.weekly_trends')
        - helper_popover(t('.weekly_trends'), t('.trend_popover'), html: true, placement: :right)
      - if @graph_stats.present? && @graph_stats[:stats].present?
        - @graph_stats[:stats].keys.each do |v|
          - i+=1
          %li{class: (i == 1 ? 'active' : '')}= link_to t("graph_stats.#{v.to_s}"), "#stat_graph_#{v}", 'data-toggle' => 'tab'
        %li.pull-right
          %span.text-muted
            %em= t('.update_frequency', at: timeago_tag(@graph_stats[:created_at])).html_safe
  - if @graph_stats.present? && @graph_stats[:stats].present?
    .tab-content
      - i = 0
      - @graph_stats[:stats].each do |k,v|
        - i+=1
        .tab-pane.fade{id: "stat_graph_#{k}", class: (i == 1 ? 'active in' : '')}
          .container-fluid
            .text-center
              = line_chart v.reject{|t,s| t == :library}.map{|t,s| s}, width: '100%', height: '350px', library: v[:library] || {}, discrete: true
  - else
    .well.well.lg.text-center
      Weekly trend stats are being calculated and will be available in a few minutes.

  %hr

  - i = 0
  %ul#dashboard_stats.nav.nav-tabs
    %li
      %h4
        = t('.post_stats')
        - helper_popover(t('.post_stats'), t('.stats_popover'), html: true, placement: :right)
    - if @top_posts.present? && @top_posts[:stats].present?
      - @top_posts[:stats].keys.each do |v|
        - i+=1
        %li{class: (i == 1 ? 'active' : '')}= link_to t(".top_posts.keys.#{v}"), "#top_posts_#{v}", 'data-toggle' => 'tab'

      %li.pull-right
        %span.text-muted.nowrap
          %em= t('.update_frequency', at: timeago_tag(@top_posts[:created_at])).html_safe
  - if @top_posts.present? && @top_posts[:stats].present?
    .tab-content
      - i = 0
      - @top_posts[:stats].each do |k,v|
        - i+=1
        .tab-pane.fade{id: "top_posts_#{k}", class: (i == 1 ? 'active in' : '')}
          .container-fluid
            .row
              - v.each do |d,s|
                .col-md-4
                  %h4= t(".top_posts.title", kind: t(".top_posts.kinds.#{d}"))
                  .clearfix
                  - unless s.blank?
                    .list-group
                      - s.each do |p|
                        %a.list-group-item{href: admin_post_url(p), target: '_blank'}
                          .media
                            - ct = p.top_count rescue 0
                            - ct = number_to_human(ct, precision: 1, significant: false, units: :short_count, format: '%n%u') if ct > 999
                            %span.badge= ct
                            .pull-left
                              %img.media-object{src: p.promo_image.url(:thumbnail), alt: '', title: ''}
                            .media-body
                              %h4.media-heading= p.title
                  - else
                    .well
                      .text-center= t('.top_posts.no_msg', kind: d.to_s.humanize.downcase, key: k.to_s.humanize.downcase)
  - else
    .well.well.lg.text-center
      Post stats are being calculated and will be available in a few minutes.

  %hr

  #followers_counts
    %ul.nav.nav-tabs
      %li
        %h4= t('.followers_counts')
      %li.pull-right
        %span.text-muted.nowrap
          %em= t('.update_daily')
    .tab-content
      - %w(facebook twitter youtube google_plus).each do |platform|
        .col-sm-2
          %span.wticon{class: "wticon-#{platform.gsub(/google_plus/, 'gplus')}"}
          = t(".followers_count.#{platform}", count: number_to_human(Setting.send("follow_count_#{platform}") || 0, precision: 1, significant: false, units: :short_count, format: '%n%u'))
    .clearfix
      

- else
  .page_header
  %h3= t(:greeting_user, user_name: current_user.first_name)