- cache(['homepage', 'latest_video_posts'], expires_in: 5.minutes) do
  - unless @latest_video_posts.blank?
    #video-carousel.container-full.content-box.carousel.slide.hidden-xs{'data-interval' => 'false'}
      .container-wrap
        .page-header
          = link_to '#video-carousel', class: 'left carousel-control gloss gloss-hicontrast pull-left', 'data-slide' => 'prev' do
            %span.wticon-arrow-left
          = link_to '#video-carousel', class: 'right carousel-control gloss gloss-hicontrast pull-right', 'data-slide' => 'next' do
            %span.wticon-arrow-right
          %h2.text-center= t('.wt_videos')
          .clearfix

        .carousel-inner
          - post_groups = @latest_video_posts.each_slice(4).to_a
          - post_groups.each do |group|
            %ul.list-unstyled.posts-list.item{class: ('active' if group[0] == @latest_video_posts[0])}
              - group.each do |post|
                = render post, format: :feed, has: [:duration], as: [:video], trk: wt_trk_evt(:click,:homepage,:video_slide)

      .clearfix

    #video-carousel-mobile.container-full.content-box.carousel.slide.visible-xs{'data-interval' => 'false'}
      .container-wrap
        .page-header
          = link_to '#video-carousel-mobile', class: 'left carousel-control gloss gloss-hicontrast pull-left', 'data-slide' => 'prev' do
            %span.wticon-arrow-left
          = link_to '#video-carousel-mobile', class: 'right carousel-control gloss gloss-hicontrast pull-right', 'data-slide' => 'next' do
            %span.wticon-arrow-right
          %h2.text-center= t('.wt_videos')
          .clearfix

        .carousel-inner
          - @latest_video_posts.each_with_index do |post,i|
            %ul.list-unstyled.posts-list.item{class: ('active' if i == 0)}
              = render post, format: :feed, has: [:duration], as: [:video], trk: wt_trk_evt(:click,:homepage,:video_slide)

      .clearfix