%head
  %title= t(:logo)
  - if false
    %style{:type => 'text/css'}
      html,body { #{css_styles[:body]} }
      table { #{css_styles[:table]} }
      img { #{css_styles[:img]} }
      p { #{css_styles[:p]} }
      td { #{css_styles[:td]} }
