- post ||= nil

- unless post.blank?
  .col-md-12.col-lg-10.col-lg-offset-1
    %header.row
      %h1= post.title
      %h4= post.description

    = render 'posts/globals/details', post: post

    - # Share Butons
    - unless post.post_items.blank?
      %aside.post-shares.sharebar.share-upper
        = render 'posts/share', item: post, counts: true, url: @page_canonical_url, comments: '#comments'

    = render 'posts/post_items', post: post

    - # Share Buttons
    %aside.post-shares.sharebar
      %h5= t('.share_it')
      = render 'posts/share', item: post, counts: true, url: @page_canonical_url, comments: '#comments'

    - if false
      = render 'posts/globals/recommended_posts', post: post, recommended_posts: post.recommended_posts

    = render 'posts/globals/similar_posts', post: post, similar_posts: @similar_posts

    .conversationlist
      = render 'global/ads', ad: :post_conversationalist

    = render 'posts/globals/comments', post: post
