- post ||= nil

- # Video Format post
- unless post.blank?
  .video-details-bar.row
    .col-md-12.col-lg-10.col-lg-offset-1
      %aside.post-details.row
        - views_ct = post.shows_count
        - comments_ct = post.comments_count + 1

        - # Views
        .post-views-count.wt-label.label-info.pull-left{class: (views_ct > Setting.min_post_count_to_view ? 'has-views' : '')}
          .wticon.wticon-eye.visible-xs-inline
          %span= number_with_delimiter(views_ct)
          %small.hidden-xs= t('.views')

        - # Comments
        %a.post-comments-count.wt-label.label-info.pull-left{href: '#comments', class: (comments_ct > 1 ? 'has-comments' : (comments_ct > 0 ? 'has-comment' : ''))}
          .wticon.wticon-comments.visible-xs-inline
          %span= number_with_delimiter(comments_ct)
          %small.many-comments.hidden-xs= t('.comments.some')
          %small.one-comment.hidden-xs= t('.comments.one')

        - # Author & Time
        .post-info.pull-left
          %span.post-authors
            - unless post.authors.blank? 
              - authors = post.authors.map do |author|
                - capture_haml do
                  %a{href: author_url(author), title: author.name}= author.name
              - authors = authors.and_join
            - else
              - authors = t(:logo)
            = t('.post_authors', authors: authors).html_safe
          %br
          = timeago_tag(post.published_at || Time.now)


  - # Main Content
  .col-md-12.col-lg-10.col-lg-offset-1
    - # Header info
    %header.row
      %h1= post.title
      %h4= post.description

    - # Share Butons
    %aside.post-shares.sharebar.share-upper
      = render 'posts/share', item: post, counts: true, url: @page_canonical_url, comments: '#comments'

    - # Post Items
    = render 'posts/post_items', post: post

    - # Share Buttons if post is longer
    - if post.post_items.has_text_content.count > 0
      %aside.post-shares.sharebar
        %h5= t('.share_it')
        = render 'posts/share', item: post, counts: true, url: @page_canonical_url, comments: '#comments'

    - if false
      = render 'posts/globals/recommended_posts', post: post, recommended_posts: post.recommended_posts

    = render 'posts/globals/similar_posts', post: post, similar_posts: @similar_posts

    .conversationlist
      = render 'global/ads', ad: :post_conversationalist

    = render 'posts/globals/comments', post: post
