= simple_form_for @post_queue, url: (@post_queue.new_record? ? admin_post_queues_url : admin_post_queue_url(@post_queue)), method: (@post_queue.new_record? ? :post : :put), remote: true do |f|
  %ul.list-unstyled.flash-msg
  = f.hidden_field :post_id
  .form-group
    #datetimepicker1.input-group.date{ 'data-date-format' => "MM/DD/YYYY hh:mm A" }
      %span.input-group-addon
        %span.glyphicon.glyphicon-calendar
      = f.text_field :publish_at, required: true, placeholder: 'MM/DD/YYYY HH:MM AM/PM', class: 'form-control', 'date-time' => true
      = f.hidden_field :publish_at, id: 'fixed_post_queue_publish_at'
  %br
  %button.btn.btn-success.pull-right{name: :commit, value: 1, type: 'submit'}= t(:publish_later)

:javascript
  $('#publish-modal-default form').on('ajax:before', function() {
    var n = new Date( $('#post_queue_publish_at').val() )
    $('#fixed_post_queue_publish_at').val( n.toUTCString() )

  }).parsley({
    validators: {
      time: function() {
        return new Date($('#post_queue_publish_at').val()) > new Date();
      }
    },
    messages: {
      time: WT.Languages.default().invalid_time
    }
  });

  $(document).on('show.bs.modal', '#publish-modal-default', function() {
    $('#datetimepicker1').data("DateTimePicker").setDate( moment.unix('#{round_up(@post_queue.publish_at || Time.now).to_i}') );
  });
