- as ||= :default
- @post_queue = @post.post_queue
- @post_queue = @post.build_post_queue if @post_queue.blank?

.modal{id: "publish-modal-#{as}", tabindex: '-1', role: 'dialog', 'aria-labelledby' => 'publishLater', 'aria-hidden' => 'true'}
  .modal-dialog
    .modal-content
      .modal-header
        %button.close{'aria-hidden' => 'true', 'data-dismiss' => 'modal', type: 'button'} &times;
        %h4.modal-title= t(:publish_later)
      .modal-body
        = render '/admin/post_queues/form'
        .clearfix