var $flashMsg = $('.flash-msg').removeClass('alert alert-success alert-danger');
var html = '';

var closeModal = function() {
window.location.reload()
//$('#publish-modal-default').modal('hide');
// $('.post-form').submit();
}

- if @post_queue.errors.any?
  - @post_queue.errors.full_messages.each do |msg|
    html += ("<li>#{msg}</li>");
- if @post_queue.post.errors.any?
  - @post_queue.post.errors.full_messages.each do |msg|
    html += ("<li>#{msg}</li>");

if (html == '') {
$flashMsg.addClass('alert alert-success').html('Post was queued successfully.').show()
setTimeout(function() {closeModal();},1000);
} else {
$flashMsg.addClass('alert alert-danger').html(html).show().delay(3000).fadeOut('fast');
}