- flash.each do |name, msg|
  - n = case name.to_sym
    - when :error, :alert; :danger
    - when :notice; :success
    - else; name
  = content_tag :div, class: "alert alert-dismissable alert-#{n}" do
    %button.close{ type: "button", "data-dismiss" => "alert", "aria-hidden" => "true" }  ×
    = msg.html_safe