- @section = controller_name.to_s.to_sym

%header#admin-header.navbar.navbar-default.navbar-fixed-top.navbar-inverse{role: :navigation}
  .container
    .navbar-header
      %button.navbar-toggle{"data-target" => ".bs-navbar-collapse", "data-toggle" => "collapse", :type => "button"}
        %span.sr-only Toggle navigation
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      = link_to (current_user ? admin_root_url : root_url), class: 'navbar-brand' do
        = image_tag 'admin/logo.png', title: '', alt: ''

    %nav.collapse.navbar-collapse.bs-navbar-collapse.nav-pills{ role: 'navigation' }
      %ul.nav.navbar-nav
        - if current_user
          - if current_user.admin?
            - if can?(:stats, Post)
              %li{class: (@section == :dashboard ? 'active' : '')}= link_to t('.stats'), admin_dashboard_index_url
            - if can?(:manage, TrendList)
              %li{class: (@section == :trend_lists ? 'active' : '')}= link_to t('.trends'), admin_trends_url
            - if can?(:create, Post)
              %li.dropdown{class: (@section == :posts ? 'active' : '')}
                = link_to (t('.posts') + ' <b class="caret"></b>').html_safe, admin_posts_url, class: 'dropdown-toggle', 'data-toggle' => 'dropdown'
                %ul.dropdown-menu
                  %li= link_to t('.published_posts'), admin_posts_url
                  %li= link_to t('.queued_posts'), filter_admin_posts_url(:queued)
                  %li= link_to t('.draft_posts'), filter_admin_posts_url(:drafts)
                  %li= link_to t('.all_posts'), filter_admin_posts_url(:all)
                  %li.divider
                  %li= link_to t('.new_post'), new_admin_post_url
            - if can?(:index, :layouts)
              %li{class: (@section == :layouts ? 'active' : '')}= link_to t('.layouts'), admin_layouts_url
            - if can?(:manage, Badge) || can?(:manage, Category) || can?(:index, :settings)
              %li.dropdown{class: ([:settings,:categories,:badges,:search_terms].include?(@section) ? 'active' : '')}
                = link_to (t('.options') + '<b class="caret"></b>').html_safe, '#', class: 'dropdown-toggle', 'data-toggle' => 'dropdown'
                %ul.dropdown-menu
                  - if can?(:index, :settings)
                    %li= link_to t('.settings'), admin_settings_url
                  - if can?(:index, :caches)
                    %li= link_to t('.caches'), admin_caches_url
                  - if can?(:manage, Badge)
                    %li= link_to t('.badges'), admin_badges_url
                  - if can?(:manage, Category)
                    %li= link_to t('.categories'), admin_categories_url
                  - if can?(:manage, SearchTerm)
                    %li= link_to t('.search_terms'), admin_search_terms_url
            - if can?(:manage, User)
              %li{class: (@section == :users ? 'active' : '')}= link_to t('.users'), admin_users_url
      %ul.nav.navbar-nav.navbar-right.nav-pills
        %li
          = link_to root_url, title: t('.home'), 'data-toggle' => 'tooltip', 'data-placement' => 'bottom' do
            %span.glyphicon.glyphicon-home
        - if current_user
          %li
            = link_to edit_user_url, title: t('.your_account'), 'data-toggle' => 'tooltip', 'data-placement' => 'bottom' do
              %span.glyphicon.glyphicon-user
          %li
            = link_to logout_url, title: t('.logout'), 'data-toggle' => 'tooltip', 'data-placement' => 'bottom' do
              %span.glyphicon.glyphicon-log-out
        - else
          %li
            = link_to login_url, title: t('.login'), 'data-toggle' => 'tooltip', 'data-placement' => 'bottom' do
              %span.glyphicon.glyphicon-log-in
