- @page_title = [@author.name, @author.title].reject(&:blank?).compact.join(', ')
- @page_description = @author.byline
- @page_canonical_url = author_url(@author)


- #TODO
.col-md-10.col-md-offset-1
  .page_header.author_info
    - if @author.avatar_file_name.present?
      .pull-left{style: 'padding-right: 15px'}
        = image_tag @author.avatar.url(:medium), alt: '', title: @author.name

    %h1
      = @author.name
      - unless @author.title.blank?
        %br
        .small= @author.title

    - unless @author.byline.blank?
      .lead= simple_format( sanitize(@author.byline, elements: %w(a), attributes: {all: %w(href)}) )

    .clearfix


  .sharebar.followbar
    %ul.share-buttons.follow-buttons
      - unless @author.twitter_handle.blank?
        %li.share-platform.share-platform-twitter
          %a.twitter-follow-button{href: "https://twitter.com/#{@author.twitter_handle}", 'data-show-count' => 'false', 'data-size' => 'large'} Follow @#{@author.twitter_handle}
      - unless @author.facebook_handle.blank?
        %li.share-platform.share-platform-facebook
          .fb-follow{'data-href' => "http://www.facebook.com/#{@author.facebook_handle}", 'data-colorscheme' => 'light', 'data-layout' => 'button', 'data-show-faces' => 'false'}
    .clearfix


%ul#posts-list.list-unstyled
  = render @posts


.text-center
  = will_paginate @posts, renderer: MoreButtonPagination::Rails, page_links: false
