$('#posts-list').append($('#{j render(@posts, skip: [:category])}'));
- if @posts.next_page
  $('.pagination').replaceWith('#{j will_paginate(@posts, renderer: MoreButtonPagination::Rails, page_links: false)}');
- else
  $('.pagination').remove();
$(window).trigger('preload:images')