%h1 Edit Trend Item

%hr

.form-sm.center-block
  = simple_form_for @trend_item, url: admin_trend_list_item_url(@trend_list, @trend_list_item, @trend_item), html: { "data-validate" => "parsley" } do |f|
    = f.error_notification
    = f.input :display_keyword

    .input.string.required.trend_item_post
      = label_tag t(:post)
      - post = @trend_item.post
      #post_wrapper{ style: ('display:none' unless post) }
        %button.close{ type: 'button'} &times;
        .post-image.col-sm-3
          - if post
            = image_tag post.promo_image(:thumbnail), class: 'post-image'
          - else
            %img.post-image{ src: '' }
        %h4.post-title.col-sm-9
          .label.label-danger{ style: ('display:none' unless post.published?) } Draft
          %span= post.try(:title)
        .clearfix

      = text_field_tag 'trend_item[post_id]', @trend_item.post_id, style: ('width: 100%;' << (post ? 'display:none;' : ''))

    = f.input :source_url
    %br
    
    - if f.object.image?
      = image_tag f.object.image.url(:sidebar), alt: '', title: ''
    = f.input :image
    %br

    = f.button :submit, "Update Item"

:javascript
  window.post = #{@trend_item.post.to_json}