.page-header
  %h1= t(:greeting_user, user_name: current_user.name)
  %p.lead= t('.can_edit')

.form.center-block
  = simple_form_for current_user, html: { "data-validate" => "parsley" } do |f|
    .col-sm-6
      = f.error_notification
      = f.input :login, disabled: true, readonly: true
      = f.input :first_name
      = f.input :last_name
      = f.input :email
    .col-sm-6
      %em If you need to change your password, you can do so below. Otherwise leave blank.
      = f.input :password
      = f.input :password_confirmation
    .clearfix

    %hr
    .col-sm-6
      - if f.object.avatar?
        = image_tag f.object.avatar.url(:medium), alt: '', title: ''
      = f.input :avatar
    .col-sm-6
      = f.input :byline
    .clearfix

    %hr
    .text-center
      = f.button :submit, t('.update_profile'), class: 'btn btn-primary btn-lg'
      %br
      %br