.container.admin-caches
  .row
    .page-header
      .pull-left
        %h1= t(:caches)
        .lead
          = t('.caches_description')
          - helper_popover(t(:caches), t('.popover'), html: true, placement: :bottom)
          .small
            %small.text-muted= t('.caches_disclaimer').html_safe
      .clearfix

  .row
    %table.table.table-striped.table-condensed
      %thead
        %tr
          %th= t('.key')
          %th= t('.value')
          %th= t('.type')
          %th
      %tbody
        - unless @caches.blank?
          - @caches.each do |cache|

            %tr{ 'data-cache' => cache }
              %td.col-sm-2
                %strong=t(:name, scope: [:admin, :caches, :names, cache.to_s], default: cache.to_s.humanize.capitalize)
              %td.col-sm-9
                = simple_format t(:description, scope: [:admin, :caches, :names, cache.to_s], default: '')
              %td.col-sm-1
                = link_to admin_cache_url(cache), 'data-method' => :put, class: 'edit-setting btn btn-large btn-warning' do
                  %span.glyphicon.glyphicon-flash
                  = t(:clear)
        - else
          %tr
            %td{ colspan: 4 }