#cropping-modal.modal.fade{ tabindex: '-1', role: 'dialog', 'aria-labelledby' => 'myModalLabel', 'aria-hidden' => 'true' }
  .modal-dialog
    .modal-content
      .modal-header
        %button.close{'aria-hidden' => 'true', 'data-dismiss' => 'modal', type: 'button'} &times;
        %h4.modal-title= t('.crop-image')
      .modal-body
        .original-wrapper
          %img.jcrop_target
        .crop-preview-wrapper
          %img.preview
        .clearfix
      .modal-footer
        %button.btn.btn-default.modal-submit{ 'data-dismiss' => 'modal' }= t(:ok)
        %button.btn.btn-default{ 'data-dismiss' => 'modal' }= t(:cancel)
