%li.post-item.ui-state-default.can-sort.row{ 'data-post-item-id' => post_item.id }
  = post_item_f.hidden_field :position
  = post_item_f.hidden_field :id
  .order-arrows
    %a.item-position-up.text-grey ▲
    %a.item-position-down.text-grey ▼
  .well
    .col-sm-8
      %p #{t("post_items.style.#{post_item.style}")} Item
    .col-sm-4.text-right.top-actions
      = link_to_add_association f, :post_items, :wrap_object => Proc.new {|p| p = post_item; post_item }, class: 'btn btn-default btn-sm edit-post-item' do
        %span.glyphicon.glyphicon-pencil
      - unless post_item.new_record?
        = link_to admin_post_item_url(post_item), class: 'btn btn-default btn-sm destroy-post-item', method: :delete, remote: true, data: { confirm: t(('.confirm_delete')) } do
          %span.glyphicon.glyphicon-trash
    %br
    %br

    .col-sm-12
      %h4= post_item.title.html_safe
      - if %w(video_item embed_item tweet_item).include?(post_item.style) && !post_item.media.blank?
        .post-item-media{class: (post_item.platform?(:instagram) ? 'post-item-instagram' : '')}= embed_code(post_item).html_safe
      - elsif post_item.image_file_name.present?
        = image_tag(post_item_image(post_item), class: 'thumbnail')
      %p= simple_format(post_item.text)
