:plain
  $('li.post-item[data-post-item-id="#{@post_item.id}"]').fadeOut("slow", function() {
    $(this).remove();
    app.updateItemPosition();
  });

  $('#post-items > input[value="' + '#{@post_item.id}' + '"]').remove();
