%h1= t('.title_html')
%h4= t('.subtitle_html', count: number_to_human(Setting.follow_count_facebook || 0, precision: 0, significant: false, units: :short_count, format: '%n%u'))

.facebook-buttons.container-fluid
  .col-xs-5.text-center
    .fb-like-btn
      .fb-like{'data-href' => 'https://www.facebook.com/WhatsTrending', 'data-layout' => 'button', 'data-action' => 'like', 'data-show-faces' => false, 'data-share' => false, 'data-ref' => 'social_gates'}
    %p= t('.click_to_like')
  .col-xs-7.text-center
    .fb-facepile{'data-href' => 'https://www.facebook.com/WhatsTrending', 'data-action' => 'like', 'data-width' => '290', 'data-max-rows' => '1', 'data-colorscheme' => 'dark', 'data-size' => 'large', 'data-show-count' => true}


.thanks
  = t('.thanks_html')

= render 'split/social_gates/footer', skip_provider: :facebook