- skip_provider ||= nil
- providers = {facebook: facebook_url, twitter: twitter_url, you_tube: youtube_url, i_heart: podcast_url}#, newsletter: '#'}
- providers.reject!{|k,v| k.to_s == skip_provider.to_s} unless skip_provider.blank?


.social-gate-also
  %h3= t('.title_html')
  .social-gate-providers
    %ul
      - i = 0
      - providers.each do |platform,url|
        - break if i > 3
        - i += 1
        %li{'data-platform' => platform}
          %a{href: url, target: '_blank'}
            - n = platform.to_s.camelize.downcase
            - n << 'play' if platform == :you_tube
            %span.wticon{class: "wticon-#{n}"}
            = t(platform)