%h1= t('.title_html')
%h4= t('.subtitle_html')


.button-area.newsletter-form
  = render 'email_subscribers/form', opts: {remote: true}
  .error-msg= t('.error')
  .thanks{style: 'display:none;'}
    %h3= t('.thanks_title')
    = t('.thanks_html')

= render 'split/social_gates/footer', skip_provider: :newsletter