%h1= t('.title_html')
%h4= t('.subtitle_html', count: number_to_human(Setting.follow_count_twitter || 0, precision: 0, significant: false, units: :short_count, format: '%n%u'))

.button-area
  %a#follow-twitter-button.button.gloss{href: 'https://twitter.com/intent/follow?screen_name=whatstrending'}
    %span.wticon.wticon-twitter
    = t('.button')
.thanks
  = t('.thanks_html')

= render 'split/social_gates/footer', skip_provider: :twitter