- # AB Testing JS inserts for similar posts. 
- # We populate this area on page load.

- ab_test('ab_similar_posts') do |abtest|

  - # Loop through each
  - case abtest
    - when 'outbrain'
      :coffee
        $(document).ready ->
          if $('ul.similar-posts').size() > 0
            $('ul.similar-posts').replaceWith '<div class="OUTBRAIN" data-src="' + window.WT.post_url + '"></div>' 
      %script{type:' text/javascript'} (function(){window.OB_platformType=8;window.OB_langJS="http://widgets.outbrain.com/lang_en.js";window.OBITm="1406577818632";window.OB_recMode="brn_strip";var ob=document.createElement("script");ob.type="text/javascript";ob.async=true;ob.src="http"+("https:"===document.location.protocol?"s":"")+"://widgets.outbrain.com/outbrainLT.js";var h=document.getElementsByTagName("script")[0];h.parentNode.insertBefore(ob,h);})();

    - when 'zergnet'
      :coffee
        $(document).ready ->
          if $('ul.similar-posts').size() > 0
            $('ul.similar-posts').replaceWith '<div id="zergnet-widget-22864"></div>'

            zergnet = document.createElement 'script'
            zergnet.type = 'text/javascript'
            zergnet.async = true
            zergnet.src = 'http://www.zergnet.com/zerg.js?id=22864'
            znscr = document.getElementsByTagName('script')[0]
            znscr.parentNode.insertBefore zergnet, znscr