- post ||= nil


- if post.allow_comments
  %section#comments.post-comments
    %h3= t('.view_comments')

    - # Using Facebook comments
    #fb_comment_area
      .fb-comments{"data-colorscheme" => "light", "data-href" => post_url(post), "data-numposts" => "25", "data-width" => "100%"}
