- post ||= nil

- unless post.blank?
  %aside.post-details.row
    - views_ct = post.shows_count
    - comments_ct = post.comments_count

    .post-views-count.wt-label.label-info.pull-left{class: (views_ct > Setting.min_post_count_to_view ? 'has-views' : '')}
      %span= number_with_delimiter(views_ct)
      %small= t('.views')

    %a.post-comments-count.wt-label.label-info.pull-left{href: '#comments', class: (comments_ct > 1 ? 'has-comments' : (comments_ct > 0 ? 'has-comment' : ''))}
      %span= number_with_delimiter(comments_ct)
      %small.many-comments= t('.comments.some')
      %small.one-comment= t('.comments.one')

    .post-info.pull-left
      %span.post-authors
        - unless post.authors.blank? 
          - authors = post.authors.map do |author|
            - capture_haml do
              %a{href: author_url(author), title: author.name}= author.name
          - authors = authors.and_join
        - else
          - authors = t(:logo)
        = t('.post_authors', authors: authors).html_safe
      %br
      = timeago_tag(post.published_at)