- post ||= nil


- if post.present?
  - # Use JS
  :coffee
    $ ->
      WT.post_view_count = #{post.shows_count}
      WT.min_post_view_count = #{Setting.min_post_count_to_view}
      WT.post_comments_count = #{post.comments_count}

      # Views Count
      $('.post-views-count span').html( addCommas WT.post_view_count )
      $('.post-views-count').toggleClass('has-views', WT.post_view_count > WT.min_post_view_count)

      # Comments Count
      $('.post-comments-count span').html( addCommas WT.post_comments_count )
      if WT.post_comments_count > 0
        $('.post-comments-count').addClass(if WT.post_comments_count > 1 then 'has-comments' else 'has-comment')
      else
        $('.post-comments-count').removeClass('has-comment').removeClass('has-comments')


  %script{type: 'text/javascript'}
    - #window.WT.post_url = "http://whatstrending.com/hot-on-youtube/9995-citizens-run-westboro-baptist-church-out-of-town";
    window.WT.post_url = "#{@page_canonical_url}";

    - unless @_post_preview
      $(document).ready(function() {

      - # Social gate trigger
      - unless @social_gate.blank? || @social_gate == 'none'
        $(window).load(function() { window.wt_social_gate = (new window.WT.SocialGate('#{@social_gate}')).load(); });

      - allowed_params = ['ab_similar_posts', 'social_gates']
      try {window.history.replaceState({}, window.title, "#{post_url(post, (request.params || {}).select{|k,v| allowed_params.include?(k)} )}" + location.hash);} catch(e) {}

      - # Admin buttons
      - if can?(:edit, post)
        $('.admin_links').append('<li><a href="#{edit_admin_post_url(post)}" title="#{t('.admin.edit_post')}"><i class="icon icon-edit"></i></a></li>');
      - if can?(:stats, post)
        $('.admin_links').append('<li><a href="#{admin_post_url(post)}" title="#{t('.admin.post_stats')}"><i class="icon icon-stats"></i></a></li>');
      });


    - if @_item_scroll_to
      $(window).load(function() { var t = $('##{@_item_scroll_to}').offset().top; setTimeout(function() {$($.scrollWin).scrollTop(t-85);},100); });
      $(doucment).ready(function() { var t = $('##{@_item_scroll_to}').offset().top; setTimeout(function() {$($.scrollWin).scrollTop(t-85);},10); });