- recommended_posts ||= nil


- if recommended_posts.any?
  .recommended-posts
    .post-image.col-sm-7
    .col-sm-5
      %h3
        %small= t('.recommended_posts')
        %br
        Pollentesque nec congue nisl, Nulla sit amet consectetur arcu,
        vitae imerdiet

      = link_to t('.view_posts') + ' >', post_url(@post)
    .clearfix