- similar_posts ||= nil


- unless similar_posts.blank?
  .similar-posts
    %h3= t('.similar_posts')
    .width-wrapper
      %ul.similar-posts.list-unstyled
        - similar_posts.shuffle.take(3).each do |similar_post|
          = render similar_post, format: :boxed, image: :feed, skip: [:description, :category, :time, :share, :score], trk: wt_trk_evt(:click, :posts, :similar)
    .clearfix