- post ||= nil


- unless post.blank?
  - unless post.category.blank?
    - content_for(:upper_content, flush: true) do
      .col-md-12.col-lg-10.col-lg-offset-1
        = link_to post.category.name, category_url(post.category), class: 'post-category wt-label label-info'

    - content_for(:upper_sidebar, flush: true) do
      .youtube-channel
        %span= t('layouts.post.sidebar.subscribe_youtube')
        %span= render '/layouts/application/youtube'
        .clearfix