html.admin {
  body {padding-top: 50px;}
  body.posts_index, body.users_index {padding-top: 70px;
    .navbar-form {margin-right: 0; margin-bottom: 0;
      .form-group {padding: 0;}
    }
  }

  #wrapper {padding-bottom: 120px;}
  #footer {//position: absolute; bottom: 0; left: 0; right: 0; background-color: transparent; padding: 0 0 10px 0; font-size: 0.85em;
    &>.container {border-top: 1px solid #eee; padding-top: 20px; color: #aaa;}
    nav {
      li { display: inline-block; }
      li + li { margin-left: 20px; }
      a {color: #aaa;
        &:hover {color: #555;}
      }
    }
  }
}

.nav>li>span,.nav>li>strong {position: relative;display: block;padding: 10px 15px;}
.nav>li>h4 {position: relative;display: block;padding: 0px 25px 0 15px; line-height: 1.0;}

ul#recommended-posts { min-height: 720px;
  li { width: 50%; float: left; padding: 10px;
    &:nth-child(1) { width: 100%; .list-group-item { height: 300px;}}
    .list-group-item { padding: 10px; overflow: hidden; height: 160px; overflow: hidden; 
      &.active { border: solid 2px #08CEFF;} }
    img { z-index: 0; height: 100%; }
    h3 { color: #FFFFFF; margin: 0; padding-left: 20px; position: relative; top: -60px; }
    button.remove-post { cursor: pointer; font-size: 30px; margin-bottom: -30px; position: relative; right: 10px; }
  }
}

ul#post-candidates {
  li { 
    button.remove-post { display: none; }
    img { width: 20%; vertical-align: top; display: inline-block; margin-top: 10px; }
    h3 { width: 78%; display: inline-block; font-size: 14px; }
  }
}

