#info-form {
  label.radio_buttons { text-align: left; width: 100%; }
  label.radio { background: none; border: 1px solid #aaa; color: #888; border-left: none; display: inline-block; padding: 0 3px 6px; overflow: hidden; text-align: center; vertical-align: 0; margin-top: 0; margin-bottom: 0;
    &:last-child {border-top-right-radius: 3px; border-bottom-right-radius: 3px;}
    &:hover { background-color: #E7E7E7;  cursor: pointer; }
    &.active { background-color: #D7D7D7; color: #000; }
    input { height: 0; opacity: 0; position: relative; }
  }
}

form .tabbable li.active a {font-weight: 600;}

#info-form label.radio { width: 25%; input { top: 11px; left: 25%; } }
#info-form label.radio:nth-child(2) { border-left: 1px solid #808080; border-top-left-radius: 3px; border-bottom-left-radius: 3px;}

.select2-result-label img { height: 40px; margin-right: 10px; width: 40px; }

ul#post-items { padding-bottom: 35px;
  .nested-fields {margin-top: 10px;
    .heading {padding: 0 0 5px;
      h4 {margin-top: 0; margin-bottom: 5px;}
      p {}
      .notice {font-style: italic; color: $wt-red;}
    }
    hr {background-color: #dcdcdc; border-color: #dcdcdc; margin-top: 10px; margin-bottom: 10px;}
    .item-media {
      .post_post_items_media, .post_post_items_image_url { display: none; }
      &.embed_item, &.tweet_item, &.video_item, &.text_item {
        .upload-format { display: none; }
      }
      &.embed_item, &.tweet_item, &.text_item { 
        .preview-wrapper { display: none; } 
        .input-wrapper { width: 100%; padding-left: 0; padding-right: 0; }
      }
      &.video_item, &.image_item { 
        .preview-wrapper { display: block; overflow: hidden; 
          img { width: 100%; height: auto; }
        }
      }
      &.embed_item, &.tweet_item, &.video_item {
        .post_post_items_media { display: block; }
      }
      &.image_item {
        .post_post_items_image_url { display: block; }
      }
      &.text_item {display: none;}
      .thumbnail { height: 120px; }
      .upload-from-url { display: none; }
    }
    a.btn.btn-default { font-size: 14px; }
    .form-group.boolean { width: 80px; 
      .control-label.boolean { float: right; }
    }
    .post-item-media { text-align: left; }
  }

  li.post-item { 
    .order-arrows { float: left; width: 5%; position: relative; a { display: block; font-size: 24px; text-decoration: none; cursor: pointer; } }
    .well { float: left; width: 93%; position: relative; }
    .post-item-media {
      iframe[src*='vimeo.com'] + p, iframe[src*='collegehumor.com'] + p, iframe[src*='funnyordie.com'] + p {display: none;}
    }
  }

  .thumbnail { max-width: 100%;}
  .radio input[type="radio"], .checkbox input[type="checkbox"] { margin-left: 0; }
  li.media-types { margin: 15px 0 5px 0; padding: 15px 0 0 0; border-top: 1px solid rgba($wt-dk-black,.2);}
}

#post_wrapper { border: 1px solid #CCCCCC; border-radius: 4px; padding: 10px; margin-bottom: 20px; position: relative;
  .post-image { padding: 0; 
    img { width: 100%; }
  }
  button.close { position: absolute; right: 10px; top: 5px; }
}

.select2-container-multi .select2-search-choice-close {
  right: 3px !important ;
  left: auto;
}

.select2-container-multi .select2-choices .select2-search-choice {
  padding: 3px 18px 3px 5px;
}

#s2id_recommended_post_ids {
  li.select2-search-choice { width: 97%;
    .post-image { display: inline-block; width: 20%; }
    .post-title { display: inline-block; width: 75%; }
  }
  
  .select2-search-field { display: block; width: 100%; }
}

#cropping-modal {
  .modal-dialog { width: 880px; }
  .original-wrapper { width: 400px; float: left; border: 1px solid #DDDDDD;
    img { max-width: 400px; }
   }
  .crop-preview-wrapper { width: 400px; height: 400px; overflow: hidden; margin-left: 20px; float: left; }
  img.jcrop_target { background: white; }
}


.post-item-media-facebook {min-height: 350px;}