.post-form-inner
  - if f.object.errors.any?
    %ul.alert.alert-danger.list-unstyled
      - f.object.errors.full_messages.each do |msg|
        %li= msg

  .col-sm-8
    = f.input :title, required: true, input_html: { 'data-rangelength' => '[2,250]' }
    = f.input :description, required: true, input_html: { rows: 3, 'data-rangelength' => '[2,500]' }
    
    .form-group
      - if f.object.promo_image_file_name.present?
        = image_tag f.object.promo_image.url(:feed), class: 'img-responsive', alt: '', title: ''
      = f.input :promo_image, wrapper: :default
      %span.help-block= t('.image_type')

  .col-sm-4.pull-right
    .tabbable
      %ul.nav.nav-tabs
        %li.active= link_to t('.detail'), "#info-form", "data-toggle" => "tab"
        %li= link_to t('.promotion_display'), "#promo-form", "data-toggle" => "tab"
        %li= link_to t('.recommended'), "#recommended-form", "data-toggle" => "tab"
      .tab-content
        #info-form.tab-pane.active
          = render 'info_form', f: f
        #promo-form.tab-pane
          = render 'promo_form', f: f
        #recommended-form.tab-pane
          = render 'recommended_form', f: f