.input.string.required.post_author
  = label_tag t(:authors), nil, class: 'control-label'
  = text_field_tag :author_ids, (f.object.author_ids + [current_user.id.to_s]).join(','), style: "width: 100%"

= f.input :category_id, as: :select, collection: cached_nested_categories, required: true, include_blank: t(:include_blank)

.input
  = label_tag t(:tags), nil, class: 'control-label'
  = text_field_tag "post[tag_list]", f.object.tag_list, style: "width: 100%"

= f.input :format, as: :radio_buttons, collection: Post.formats.map{|k,v| [t(k, scope: [:simple_form, :labels, :post, :display_format]), k]}, input_html: { class: "display-format" }, checked: f.object.format

= f.input :slug, input_html: { 'data-regexp' => '^([a-zA-Z0-9\_\-\s+]{5,})?$' }, placeholder: 'post-slug-path', disabled: f.object.new_record? || f.object.published?

.form-group
  = label_tag t('.options')
  = f.input :nsfw, wrapper: :default
  = f.input :wt_original_video, wrapper: :default
  = label_tag t('.display')
  = f.input :visible_homepage, wrapper: :default
  = f.input :allow_comments, wrapper: :default
  %fieldset#google_news_wrap
    = f.input :google_news, wrapper: :default
  = #f.input :visible_stats, wrapper: :default

:javascript
  window.tags = #{cached_tags_list}.map(function(text) {return {id: text, text: text};});
  window.user = [];
  window.user.push({
    id:           #{current_user.id},
    name:         "#{current_user.name}",
    text:         "#{current_user.name}",
    avatar:       "#{current_user.avatar}"
  });

  $(document).ready(function() {
    $('input.radio_buttons[checked="checked"]').parents('label.radio').addClass('active');
  })
