- if f.object.errors.any?
  %ul.alert.alert-danger.list-unstyled
    - f.object.errors.full_messages.each do |msg|
      %li= msg

.col-sm-8
  = f.input :title, required: true, label: "Title", placeholder: ''
  %br
  = f.input :description, label: 'Description', placeholder: '', input_html: { rows: 3 }
  %hr

.col-sm-4.pull-right
  %p
    = f.button :submit, "Save Post", class: 'btn btn-primary btn-lg', 'data-loading-text' => 'Saving…'
    - if f.object.published?
      = #link_to "Unpublish", unpublish_admin_post_url(f.object), class: 'btn btn-danger btn-lg', 'data-loading-text' => 'Unpublishing…'
    - else
      = f.button :submit, "Publish", class: 'btn btn-warning btn-lg', 'data-loading-text' => 'Publishing…'

  - if f.object.published?
    %p.text-muted
      %em Published #{distance_of_time_in_words_to_now(@post.published_at)} ago.

  .tabbable
    %ul.nav.nav-tabs
      %li.active= link_to t('.detail'), "#info-form", "data-toggle" => "tab"
      %li= link_to t('.promotion_display'), "#promo-form", "data-toggle" => "tab"
      %li= link_to t('.recommended'), "#recommended-form", "data-toggle" => "tab"
    .tab-content
      #info-form.tab-pane.active
        = render 'info_form', f: f
      #promo-form.tab-pane
        = render 'promo_form', f: f
      #recommended-form.tab-pane
        = render 'recommended_form', f: f