- error ||= false


%li.nested-fields.well{ 'data-post-item-id' => f.object.id, class: (error ? 'form-error' : '') }
  = f.hidden_field :position, class: 'post-item-position'
  = f.hidden_field :style, class: 'post-item-style'
  = f.hidden_field :duration, class: 'post-item-duration'
  - for attribute in [:crop_x, :crop_y, :crop_w, :crop_h]
    = f.hidden_field attribute, id: attribute, class: "crop-input"

  .heading
    %h4= t(".#{f.object.style}.label".downcase)
    - unless t(".#{f.object.style}.description".downcase,default:'').blank?
      %p= t(".#{f.object.style}.description".downcase)
    - unless t(".#{f.object.style}.notice".downcase,default:'').blank?
      .notice= simple_format(t(".#{f.object.style}.notice".downcase).html_safe)
    %hr

  .form-group.item-media{ class: f.object.style.downcase }
    .preview-wrapper.col-sm-4
      = image_tag(f.object.image.url(:medium), alt: '', 'data-reset-src' => f.object.image.url(:medium) )
    .input-wrapper.col-sm-8
      .upload-format.upload-from-file
        = f.input :image, required: true, label: t('.upload_image'), input_html: { 'data-image' => true, class: 'post-item-image' }
        %p or #{link_to t('.via_url'), '#', class: 'toggle-upload'}
      .upload-format.upload-from-url
        = f.input :image_url, required: true, input_html: { value: f.object.image_url, class: 'post-item-image-url' }
        %p or #{link_to t('.upload_file'), '#', class: 'toggle-upload'}
      = f.input :media, required: true, label: t(".media_label.#{f.object.style}"), input_html: { rows: 3, class: 'post-item-media', 'data-media' => true, 'data-maxlength' => 5000 }
    .clearfix
    %hr

  = f.input :title, input_html: { class: 'post-item-title', 'data-maxlength' => 250 }
  = f.input :text, required: %(text_item).include?(f.object.style), input_html: { rows: 3, class: 'post-item-text', 'data-maxlength' => 999999 }
  = f.input :source, input_html: { class: 'post-item-source', 'data-maxlength' => 250 }
  = f.input :via, input_html: { class: 'post-item-via', 'data-maxlength' => 250 }

  %br
  .hide
    = label_tag t(:options)
    = f.input :visible
    - if false
      = f.input :bulleted

  .col-sm-6.col-sm-push-6.text-right
    %button.btn.btn-default.btn-primary{ type: 'submit', 'data-loading-text' => t(:saving) } #{t(:save)}
    = link_to_remove_association t(:cancel), f, class: 'btn btn-default', type: 'button', data: { confirm: t('.confirm_discard') }
  .clearfix