.form-group
  .input.string.required.recommened_post
    = hidden_field_tag 'post[recommended_post_ids][]', ''
    = label_tag t('.recommended_posts'), nil, class: 'control-label'
    #recommended-posts-wrapper
    = text_field_tag 'recommended_post_ids', f.object.recommended_post_ids.join(','), style: 'width: 100%;'

:javascript
  window.recommended_posts = #{@post.recommended_posts.to_json}
