= simple_form_for @post, url: (@post.new_record? ? admin_posts_url : admin_post_url(@post)), method: (@post.new_record? ? :post : :put), html: { role: 'form', class: "post-form", "data-validate" => "parsley", "data-post-id" => @post.id } do |f|

  .page-header
    .pull-right
      %button.btn.btn-primary.btn-lg.save-btn{name: :commit, value: 1, type: 'submit', 'data-loading-text' => t(:saving) }= t(:save)
      - unless f.object.new_record?
        %button.btn.btn-warning.btn-lg.preview-btn{name: :preview, value: 1, type: 'submit', data: {'preview-path' => preview_admin_post_url(@post)} }= t(:preview)
      - if f.object.published? && can?(:unpublish, Post)
        = link_to t(:unpublish), unpublish_admin_post_url(f.object), class: 'btn btn-danger btn-lg', 'data-loading-text' => t(:unpublishing)
      - elsif ( !f.object.new_record? ) && can?(:publish, Post) && f.object.can_publish?
        .btn-group#publish-buttons
          %button.btn.btn-danger.btn-lg{name: :publish, value: 1, type: 'submit', 'data-loading-text' => t(:publishing) }= t(:publish)
          %button.btn.btn-danger.btn-lg.dropdown-toggle{type: 'button', 'data-toggle' => 'dropdown'}
            %span.caret
            %span.sr-only Toggle Dropdown
          %ul.dropdown-menu.pull-right{role: 'menu'}
            %li
              = link_to '#publish-modal-default', 'data-toggle' => 'modal', id: 'publish-later-button' do
                %span.glyphicon.glyphicon-time
                = t(:publish_later)


    %h1
      = f.object.new_record? ? t('.new_post') : t('.edit_post')
      - if f.object.published?
        .small
          .label.label-success= t('.published')
          = t('.published_time', space: distance_of_time_in_words_to_now(f.object.published_at))
          &middot;
          = link_to t('.view_post'), post_url(f.object), target: '_blank'
      - elsif f.object.post_queue.present? && f.object.post_queue.publish_at.present?
        .small
          .label.label-warning= t('.queued')
          = t('.queued_time', space: distance_of_time_in_words_to_now(f.object.post_queue.publish_at))

  = render 'form', f: f

  .col-sm-8
    %hr

    %h3= t('.post_items')
    %ul#post-items.list-unstyled.sortable{ 'data-post-id' => f.object.id }
      - unless (post_items = f.object.post_items).blank? 
        = f.simple_fields_for :post_items, hidden_field_id: false do |post_item|
          - if post_item.object.errors.any?
            = render 'post_item_fields', f: post_item, error: true
          - else
            = render '/admin/post_items/post_item', post_item: post_item.object, f: f, post_item_f: post_item
      - else
        - f.object.post_items.build

        #no-items.well.well-lg.text-center.no-
          %em= t('.no_post_items')

      %li.media-types
        %h4= t('.add_item')
        .btn-group
          - PostItem.styles.each do |style,i|
            = link_to_add_association f, :post_items, wrap_object: Proc.new {|post_item| post_item.style = style; post_item }, class: 'btn btn-default', type: 'button' do
              %span.glyphicon{class: t(style, scope: [:post_items, :icon])}
              = t("post_items.style.#{style}")

= render '/admin/post_queues/modal'
= render '/admin/post_items/cropping_form'
