%nav.navbar.navbar-default{role: :navigation}
  .container-fluid
    .navbar-header
      %button.navbar-toggle{"data-target" => "#bs-example-navbar-collapse-1", "data-toggle" => "collapse", type: "button"}
        %span.sr-only Toggle navigation
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      = link_to admin_posts_url, class: 'navbar-brand' do
        %strong= t('.posts')
    .collapse.navbar-collapse
      %ul.nav.navbar-nav
        %li{class: (['',nil,'published'].include?(params[:filter]) ? 'active' : '')}= link_to t('.scope_published'), admin_posts_url(q: params[:q])
        %li{class: (['queued'].include?(params[:filter]) ? 'active' : '')}= link_to t('.scope_queued'), filter_admin_posts_url(:queued, q: params[:q])
        %li{class: (['drafts'].include?(params[:filter]) ? 'active' : '')}= link_to t('.scope_drafts'), filter_admin_posts_url(:drafts, q: params[:q])
        %li{class: (['all'].include?(params[:filter]) ? 'active' : '')}= link_to t('.scope_all'), filter_admin_posts_url(:queued, q: params[:q])
      .navbar-right
        = link_to new_admin_post_url, class: 'btn btn-success navbar-btn' do
          %span.glyphicon.glyphicon-pencil
          = t('.new_post')
      %form.navbar-form.navbar-right{role: :search}
        .form-group
          %input.form-control{type: :text, placeholder: t(:search), name: :q, value: params[:q]}
        %button.btn.btn-default{type: :submit}
          %span.glyphicon.glyphicon-search

- unless params[:q].blank?
  %p.lead
    = t('.searching_for', q: params[:q], post_scope: (params[:filter] || :all))
    %br
    %small.text-muted= page_entries_info(@posts, model: Post, html: false)

%table.table.table-concdensed
  - unless @posts.empty?
    %thead
      %tr
        %th.col-md-7{colspan: 2}= t(:post)
        %th.col-md-2= t(:authors)
        %th.col-md-2= t(:stats)
        %th.col-md-1 
    %tbody
      - @posts.each do |post|
        %tr{class: (post.published? ? '' : 'disabled')}
          %td.col-md-2
            = image_tag post.promo_image(:thumbnail), class: 'thumbnail', alt: ''
          %td.col-md-5
            %p
              - unless post.published?
                %span.label.label-warning= t('.draft')
              %span.label.label-primary= post.category && post.category.mapped_name
            %h3= link_to post.title, admin_post_url(post)
            = post.description
          %td.col-md-2 
            %ul.list-unstyled.post-authors
              - post.authors.map do |author|
                %li= author.name
          %td.col-md-2
            - if post.published?
              %p= t('.published_time_html', space: distance_of_time_in_words_to_now(post.published_at))
            - elsif post.post_queue.present? && post.post_queue.publish_at.present?
              %p= t('.queued_time_html', space: distance_of_time_in_words_to_now(post.post_queue.publish_at))

            - if post.published?
              %ul.list-unstyled.post-stats
                %li= t('.stats_counts', count: number_with_delimiter(post.shows_count), kind: 'Views' ).html_safe
                %li= t('.stats_counts', count: number_with_delimiter(post.shares_count), kind: 'Shares' ).html_safe
                %li= t('.stats_counts', count: number_with_delimiter(post.comments_count), kind: 'Comments' ).html_safe
          %td.col-md-1.text-right
            .btn-group.text-left
              %button.btn.btn-default.dropdown-toggle{type: 'button', 'data-toggle' => 'dropdown'}
                %span.glyphicon.glyphicon-cog
                %span.caret
              %ul.dropdown-menu.pull-right{role: "menu"}
                %li
                  = link_to edit_admin_post_url(post) do
                    %span.glyphicon.glyphicon-pencil
                    = t(:edit)
                %li
                  = link_to admin_post_url(post) do
                    %span.glyphicon.glyphicon-dashboard
                    = t(:performance)
                - if post.published?
                  %li.divider
                  %li
                    = link_to post_url(post) do
                      %span.glyphicon.glyphicon-eye-open
                      = t(:view)
                  - if can?(:unpublish, Post)
                    %li.divider
                    %li
                      = link_to unpublish_admin_post_url(post), data: { confirm: t('.unpublish_confirm') } do
                        %span.glyphicon.glyphicon-eye-close
                        = t(:unpublish)
                - else
                  %li.divider
                  %li
                    = link_to publish_admin_post_url(post), data: { confirm: t('.publish_confirm') } do
                      %span.glyphicon.glyphicon-eye-open
                      = t(:publish)
                - if can?(:destroy, Post)
                  %li
                    = link_to admin_post_url(post), method: :delete, data: { confirm: t('.delete_confirm') } do
                      %span.glyphicon.glyphicon-trash
                      = t(:delete)
  - else
    %tr
      %td{ colspan: 6 }
        .well.text-center= t(params[:q].present? ? '.search_no_posts' : '.no_posts', q: params[:q], filter: params[:filter])

.text-center
  %hr
  = will_paginate @posts, renderer: BootstrapPagination::Rails