- dates = []
- dates << t('posts.show.post_authors', authors: @post.authors.map(&:name).and_join)
- dates << t('.created_html', date: timeago_tag(@post.created_at))
- dates << t('.updated_html', date: timeago_tag(@post.updated_at))
- dates << t('.published_html', date: timeago_tag(@post.published_at)) if @post.published?


= javascript_include_tag 'posts'
:javascript
  //window.WT.post_url = "http://whatstrending.com/funny/4360-little-girl-stranger-danger";
  window.WT.post_url = "#{post_url(@post)}";
 

.page-header
  .col-md-8
    %h2= @post.title
    - unless @post.description.blank?
      .lead= @post.description
    %p.text-muted
      = dates.join(' &nbsp;|&nbsp; ').html_safe

  .col-md-4
    - if can?(:destroy, Post)
      = link_to admin_post_url(@post), class: 'btn btn-danger btn-lg pull-right', method: :delete, data: { confirm: t(:confirmation_message) } do
        %span.glyphicon.glyphicon-remove
        = t(:delete)
    = link_to edit_admin_post_url(@post), class: 'btn btn-primary btn-lg pull-right' do
      %span.glyphicon.glyphicon-pencil
      = t(:edit)
    - if @post.published?
      = link_to post_url(@post), class: 'btn btn-warning btn-lg pull-right' do
        %span.glyphicon.glyphicon-new-window
        = t(:view)
    - else
      = link_to preview_admin_post_url(@post), class: 'btn btn-warning btn-lg pull-right' do
        %span.glyphicon.glyphicon-new-window
        = t(:preview)
  .clearfix


- if @post.published?
  - content_for(:js_css) do
    = javascript_include_tag "//www.google.com/jsapi", "chartkick"
    %script{async: true, src: "https://apis.google.com/js/platform.js" }

  .container.sharebar
    .row
      .col-md-3
        .page_header
          %h4= t('.view_totals')
        %p
          .post-views-count.wt-label.label-info
            = number_with_delimiter(@post_views)
            %small= t('.views')
          .clearfix
        %p
          .post-views-count.wt-label.label-info
            = number_with_delimiter(@post_unique_views)
            %small
              = t('.unique_views')
          .clearfix
        %p
          .post-views-count.wt-label.label-info
            = @post_comments
            %small= t('.comments', count: @post_comments)
          .clearfix

      .col-md-9
        .page_header
          %h4
            = t('.onsite_share_totals')
            %small= t('.onsite_share_totals_info')
        %ul.share-buttons
          - @share_counts.each do |p,v|
            %li.share-platform{class: "share-platform-#{p}"}
              %div{'data-platform' => p}
                .share-icon.wticon{class: "wticon-#{p}"}
                .share-count= number_with_delimiter(v[:data])
        .clearfix
        %br
        .page_header
          %h4
            = t('.total_share_totals')
            %small= t('.total_share_totals_info')
        %ul.share-buttons.post-shares
          - @share_counts.keys.each do |k|
            - next if [:whatsapp,:email,:stumbleupon].include?(k)
            %li.share-platform{class: "share-platform-#{k.to_s}"}
              %div{'data-platform' => k}
                .share-icon.wticon{class: "wticon-#{k}"}
                .share-count &ndash;
        .clearfix

  %hr

  - # TODO : CACHED
  - i = 0
  %ul#post_trends.nav.nav-tabs
    %li
      %h4= t('.72_hours_trends')
    - @graph_stats.keys.each do |v|
      - i+=1
      %li{class: (i == 1 ? 'active' : '')}= link_to t("graph_stats.#{v.to_s}"), "#stat_graph_#{v}", 'data-toggle' => 'tab'
    %li.pull-right
      %span.text-muted
        %em= t('.update_frequency')

  .tab-content
    - i = 0
    - @graph_stats.each do |k,v|
      - i+=1
      .tab-pane.fade{id: "stat_graph_#{k}", class: (i == 1 ? 'active in' : '')}
        .container-fluid
          .text-center
            = line_chart stats_admin_post_url(@post, k), width: '100%', height: '350px', library: @graph_stats[k][:library] || {}
  .clearfix


- else
  .well.well-lg.text-center
    %em.text-muted= t('.draft_stats')
