- content_for(:js_css) do
  = javascript_include_tag "//www.google.com/jsapi", "chartkick"


.page-header
  = link_to edit_admin_post_url(@post), class: 'btn btn-primary btn-lg pull-right' do
    %span.glyphicon.glyphicon-pencil
    Edit
  = link_to post_url(@post), class: 'btn btn-warning btn-lg pull-right' do
    %span.glyphicon.glyphicon-new-window
    View
  .pull-left
    %h1
      Post Performance
    .lead= @post.title
  .clearfix


- if @post.published?
  .page_header
    %h4
      Share Totals
      %small
        %em Updates every few minutes

  .sharebar
    %ul.share-buttons
      - @share_counts.each do |p,v|
        %li.share-platform
          %div{'data-platform' => p}
            .share-icon.wticon{class: "wticon-#{p}"}
            .share-count= number_with_delimiter(v[:data]['all'])
    .clearfix

  %hr

  - # TODO : CACHED
  - i = 0
  %ul#post_trends.nav.nav-tabs
    %li
      %h4 72 Hour Trend
    - @graph_stats.keys.each do |v|
      - i+=1
      %li{class: (i == 1 ? 'active' : '')}= link_to v.to_s.titleize, "#stat_graph_#{v}", 'data-toggle' => 'tab'
    %li.pull-right
      %span.text-muted
        %em Updates every few minutes.

  .tab-content
    - i = 0
    - @graph_stats.each do |k,v|
      - i+=1
      .tab-pane.fade{id: "stat_graph_#{k}", class: (i == 1 ? 'active in' : '')}
        .container-fluid
          .text-center
            = line_chart @graph_stats[k].reject{|t,s| t == :library}.map{|t,s| s}, width: '100%', height: '350px', library: @graph_stats[k][:library] || {}

- else
  .well.text-center
    %p Post performance is available only for published posts.