- post ||= nil
- @body_classes << 'video-article'

- unless post.blank?
  - content_for(:upper_content, flush: true) do
    - cache([post_cache_key,'video-player'], force: post_cache_force, expires_in: 1.week) do

      - video = post.post_items.all.select{|v| %w(video_item).include?(v.style)}[0] rescue nil
      - unless video.blank?
        .video-tab-bar.row
          .col-xs-12.col-md-11.col-lg-10.col-lg-offset-1
            = link_to post.category.name, category_url(post.category), class: 'post-category wt-label label-info'
            .youtube-channel.hide-ct.visible-xs.visible-sm.pull-right
              %span= t('layouts.post.sidebar.subscribe')
              %span= render 'layouts/application/youtube', hide_count: true
            .clearfix
        .video-player.row
          .col-xs-12.col-md-10.col-md-offset-1
            %ul.post-items.list-unstyled
              %li.post-item{'data-item-id' => video.slug, class: "post-style-#{video.style.downcase}"}
                .post-item-media
                  = embed_code(video, true).html_safe
                  .social-share.hidden-xs.hidden-sm= render 'posts/share', item: video, other_title: post.title, html_class: 'post_item', url: post_item_url(post, video)
                .clearfix
            .clearfix


  - content_for(:upper_sidebar, flush: true) do
    .video-tab-bar.row
      .youtube-channel
        %span= t('layouts.post.sidebar.subscribe_youtube')
        %span= render 'layouts/application/youtube'
        .clearfix
      .clearfix
    .row
      %ul.list-unstyled.posts-list
        - cache([post_cache_key, 'video-playlist'], expires_in: 15.minutes, force: post_cache_force) do
          - (@latest_video_posts || []).take(8).each do |post|
            = render post, format: :video_player, has: [:duration], as: [:video], trk: wt_trk_evt(:click,:video_article,:playlist)

