- post ||= @post

- unless item.title.blank?
  %h2= item.title.html_safe

.post-item-media
  = item.media.html_safe
  .social-share= render 'posts/share', item: item, other_title: post.title, html_class: 'post_item', url: post_item_url(post, item)

- post_source_via_links(item)

- unless item.text.blank?
  .post-item-description= simple_format(item.text)