- post ||= @post

- unless item.title.blank?
  %h2= item.title.html_safe

- if item.image_file_name.present?
  .post-item-media
    = image_tag(post_item_image(item, :large))
    .social-share= render 'posts/share', item: item, other_title: post.title, html_class: 'post_item', url: post_item_url(post, item)

  - post_source_via_links(item)

- unless item.text.blank?
  .post-item-description= simple_format(item.text)