- unless item.title.blank?
  %h2= item.title.html_safe

- unless item.text.blank?
  .post-item-description= simple_format(item.text)

- if item.image_file_name.present?
  .post-item-media
    = image_tag(post_item_image(item, :large))

- post_source_via_links(item)