- post ||= @post
- skip ||= []


- if item.title.present? && !skip.include?(:title)
  %h2= item.title.html_safe

- unless skip.include?(:embed)
  .post-item-media.post-item-video{class: (item.platform?(:instagram) ? 'post-item-instagram' : '')}
    = embed_code(item).html_safe
    .social-share= render 'posts/share', item: item, other_title: post.title, html_class: 'post_item', url: post_item_url(post, item)

  - post_source_via_links(item)

- unless item.text.blank?
  .post-item-description= simple_format(item.text)