- support_message ||= SupportMessage.new(referrer: request.referrer)


= simple_form_for @support_message, wrapper: :horizontal, html: { class: %w(form-horizontal support-message-form), 'data-validate' => 'parsley' } do |f|
  = f.error_notification
  = f.input :referrer, as: :hidden
  = f.input :name, required: true
  = f.input :email, as: :email, required: true
  = f.input :phone, input_html: {data: {type: :phone} }
  = f.input :message, required: true, input_html: {rows: 6}

  .form-group
    .col-sm-offset-3.col-sm-8
      = f.submit t('.send'), class: 'btn btn-lg btn-default btn-wt'
