- @page_title = t('.page_title')
- #@page_description = nil
- #@page_keywords = nil
- @page_canonical_url = support_messages_url
- @body_classes << 'support-messages'
- @_js_include << 'support_messages'


- content_for(:upper_content) do
  .hidden-xs.col-md-10.col-md-offset-1
    .post-category.wt-label.label-info= t('.label')

- content_for(:upper_sidebar) do
  .youtube-channel
    %span= t('layouts.post.sidebar.subscribe_youtube')
    %span= render '/layouts/application/youtube'
    .clearfix


.col-md-10.col-md-offset-1.col-xs-12
  .page-header
    %h1= t('.title')

  .contact-info
    = simple_format( t('.copy') )

  .contact-methods.row
    .col-md-3.col-xs-12.col-sm-6
      %address
        %strong= t('.methods.email')
        %br
        %a{href: "mailto:info@whatstrending.com"} info@whatstrending.com
    - if false
      .col-md-3.col-xs-12.col-sm-6
        %address
          %strong= t('.methods.phone')
          %br
          %a{href: 'tel:+1-323-366-2150'} 323-366-2150
    - if false
      .col-md-3.col-xs-12.col-sm-6
        %address
          %strong= t('.methods.address')
          %br
          123 ABC St
          %br
          Brooklyn, NY 11222
    .col-md-3.col-xs-12.col-sm-6
      %address.social
        %strong= t('.methods.social')
        %br
        = render '/layouts/application/follow', loc: :contact, skip: [:rss, :iheartradio]
    .clearfix

  %p
    %strong= t('.form')
  = render 'form', support_message: @support_message