- image ||= :feed
- format ||= :feed
- trk ||= nil
- rank ||= nil


- cache([trend_list_item, format], expires_in: 5.minutes) do
  - post = trend_list_item.item.post rescue nil
  - url, target = '#', nil

  - if post.present? && post.published?
    - url = post_url(post)
    - target = nil
  - elsif !trend_list_item.item.source_url.blank?
    - url = trend_list_item.item.source_url
    - target = '_blank'


  %li.trend-item{'data-trend-item-id' => trend_list_item.id, 'data-post-id' => (post.present? && post.id), 'data-format' => format, 'data-rank' => rank, 'data-lrnk' => rank % 10}
    - case format.to_s

      - when 'homepage_sidebar', 'post_sidebar'
        = link_to url, target: target, class: 'overlay' do #, 'data-wt-trk' => wt_trk_evt(:click, :sidebar, :trending, msg: "r:#{i+1}") do
          .trend-rank= rank
          .trend-image-wrap
            .trend-image{'data-preload-img' => trend_list_item.item.image.url(:sidebar), title: trend_list_item.item.name}
          .trend-overlay
            %h1= trend_list_item.item.name

      - when 'sidebar'
        = link_to url, target: target do #, 'data-wt-trk' => wt_trk_evt(:click, :sidebar, :trending, msg: "r:#{i+1}") do
          .trend-details.pull-left
            .trend-rank= rank
            .trend-direction
              - trend_list_item.rank_delta_last_hour ||= 0
              - if trend_list_item.rank_delta_last_hour >= 0
                %span.wticon.wticon-trend-arrow-up &uarr;
              - elsif trend_list_item.rank_delta_last_hour < 0
                %span.wticon.wticon-trend-arrow-down &darr;
              - else
                \&mdash;
          .trend-image-col.pull-left
            .trend-image-wrap.overlay
              .trend-image{'data-preload-img' => trend_list_item.item.image.url(:sidebar), title: trend_list_item.item.name}
          .trend-overlay.pull-right
            %h1= trend_list_item.item.name
          .clearfix
