#disqus_thread
:javascript
  /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
  var disqus_shortname = 'whatstrending-local'; // required: replace example with your forum shortname

  function trackComment() {
    var postId = $('.post-container').data('id');
    $.ajax({
      url: '/post/' + postId + '/comment',
      type: 'PUT',
      dataType: 'json',
      success: function(returnData) {}
    })
  }

  function disqus_config() {
    this.callbacks.onNewComment = [function() { trackComment(); }];
  }

  /* * * DON'T EDIT BELOW THIS LINE * * */
  (function() {
    var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
    dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
    (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
  })();


%noscript
  Please enable JavaScript to view the %a{:href => "http://disqus.com/?ref_noscript"} comments powered by Disqus.
%a.dsq-brlink{:href => "http://disqus.com"}
  comments powered by
  %span.logo-disqus Disqus