#fb-root
:javascript
  WT.Comment = {
    fb_callback : function(r) {
      var postId = $('.post-container').data('id');
      $.ajax({url: '/post/' + postId + '/comment', type: 'PUT', dataType: 'json', success: function(r) {
        WT.Track.action('comment', 'facebook', 'success');
      }});
    }
  };

  window.fbAsyncInit = function() {
    FB.Event.subscribe('comment.create', WT.Comment.fb_callback);
  };

  (function(d, s, id) {var js, fjs = d.getElementsByTagName(s)[0];if (d.getElementById(id)) return;js = d.createElement(s); js.id = id;js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&appId=#{Setting.facebook_app_id}&version=v2.0";fjs.parentNode.insertBefore(js, fjs);}(document, 'script', 'facebook-jssdk'));
