- unless flash.blank?
  #alert.container-full
    - flash.each do |name, msg|
      - n = case name.to_sym
        - when :error, :alert; :danger
        - when :notice; :success
        - else; name
      .alert{class: ["alert-#{n}"] + (n == :notice ? [] : [])}= msg
    .clearfix