- loc ||= nil
- skip ||= []

- unless skip.include?(:facebook)
  = link_to facebook_url, title: t(:facebook), target: '_blank', 'data-wt-trk' => wt_trk_evt(:click, :social, loc, msg: :facebook) do
    %span.wticon.wticon-facebook

- unless skip.include?(:twitter)
  = link_to twitter_url, title: t(:twitter), target: '_blank', 'data-wt-trk' => wt_trk_evt(:click, :social, loc, msg: :twitter) do
    %span.wticon.wticon-twitter

- unless skip.include?(:youtube)
  = link_to youtube_url, title: t(:youtube), target: '_blank', 'data-wt-trk' => wt_trk_evt(:click, :social, loc, msg: :youtube) do
    %span.wticon.wticon-youtubeplay

  - if false # TODO
    - unless skip.include?(:email_newsletter)
      = link_to '#', title: t(:email_newsletter), target: '_blank', 'data-wt-trk' => wt_trk_evt(:click, :social, loc, msg: :newsletter) do
        %span.wticon.wticon-email

- unless skip.include?(:instagram)
  = link_to instagram_url, title: t(:instagram), target: '_blank', 'data-wt-trk' => wt_trk_evt(:click, :social, loc, msg: :instagram) do
    %span.wticon.wticon-instagram

- unless skip.include?(:iheartradio)
  = link_to podcast_url, title: t(:iheartradio), target: '_blank', 'data-wt-trk' => wt_trk_evt(:click, :social, loc, msg: :iheartradio) do
    %span.wticon.wticon-iheartradio

- unless skip.include?(:rss)
  = link_to categories_url(format: :xml), title: t(:rss_feed), 'data-wt-trk' => wt_trk_evt(:click, :social, loc, msg: :rss) do
    %span.wticon.wticon-rss
