- unless @_skip_footer_ad
  %aside.text-center.bottom-banner
    = render 'global/ads', ad: :page_footer

%footer#footer.container-full
  .container-wrap
    .copyright.pull-left
      = t(:copyright_html, year: Date.today.year)

    .nav.pull-left
      %ul.list-unstyled
        %li= link_to t('.about'), static_page_url(:about)
        %li= link_to t('.contact'), support_messages_url
        %li= link_to t('.privacy'), static_page_url(:privacy)
        %li= link_to t('.random'), random_post_url, 'data-wt-trk' => wt_trk_evt(:click,:footer,:random)

    %aside#credits.pull-right
      = link_to xolator_url, target: '_blank', title: t(:xolator_credit) do
        = t(:site_by)
        %span.hidden XOlator
        %span.wticon.wticon-xolator

    .share-links.pull-right
      %ul
        %li
          = link_to facebook_url, target: '_blank', title: t(:facebook) do
            %span.wticon.wticon-facebook
        %li
          = link_to twitter_url, target: '_blank', title: t(:twitter) do
            %span.wticon.wticon-twitter
        %li
          = link_to youtube_url, target: '_blank', title: t(:youtube) do
            %span.wticon.wticon-youtube
        %li.hidden-md
          = link_to googleplus_url, target: '_blank', title: t(:googleplus) do
            %span.wticon.wticon-googleplus
        %li.hidden-md
          = link_to instagram_url, target: '_blank', title: t(:instagram) do
            %span.wticon.wticon-instagram
      .clearfix
  .clearfix


- # Social gate HTML partial
- unless @social_gate.blank? || @social_gate == 'none'
  #social-gate-html-partials{style: 'display: none;'}
    %div{id: "social-gate-html-#{@social_gate}"}= render File.join('split', 'social_gates', @social_gate)

- # Federated Media tag
- unless @hide_ads
  %script{type: 'text/javascript', src: '//static.fmpub.net/site/whats-trending'}


- # Twitter Widget
%script !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');

- # Google+
- if @use_google_plus
  :coffee
    gp1 = document.createElement 'script'
    gp2 = document.createElement 'script'
    gp1.type = 'text/javascript'
    gp2.type = 'text/javascript'
    gp1.async = true
    gp2.async = true
    gp1.src = 'https://apis.google.com/js/plusone.js'
    gp2.src = 'https://apis.google.com/js/client:plusone.js'
    gps1 = document.getElementsByTagName('script')[0]
    gps2 = document.getElementsByTagName('script')[0]
    gps1.parentNode.insertBefore gp1, gps1
    gps2.parentNode.insertBefore gp2, gps2


- # Chartbeat & Quantcast
- if Rails.env.production?
  %script{type: 'text/javascript'}
    var _sf_async_config = { uid: 54666, domain: 'whatstrending.com', useCanonical: true }; (function() {function loadChartbeat() {window._sf_endpt = (new Date()).getTime(); var e = document.createElement('script'); e.setAttribute('language', 'javascript'); e.setAttribute('type', 'text/javascript'); e.setAttribute('src','//static.chartbeat.com/js/chartbeat.js'); document.body.appendChild(e);}; var oldonload = window.onload; window.onload = (typeof window.onload != 'function') ? loadChartbeat : function() { oldonload(); loadChartbeat(); };})();
    var _qevents = _qevents || []; (function() {var elem = document.createElement('script'); elem.src = (document.location.protocol == "https:" ? "https://secure" : "http://edge") + ".quantserve.com/quant.js"; elem.async = true; elem.type = "text/javascript"; var scpt = document.getElementsByTagName('script')[0]; scpt.parentNode.insertBefore(elem, scpt);})(); _qevents.push({qacct:"p-Zyw06Ue5Bekxk"});
  %noscript
    %div{style: 'display:none;'}
      %img{src: '//pixel.quantserve.com/pixel/p-Zyw06Ue5Bekxk.gif', border: 0, height: 1, width: 1, alt: 'Quantcast'}

- if Rails.env.development?
  :scss
    .translation_missing {color: red !important; font-weight: bold !important;
      &:before {content: "[i18n:] (";}
      &:after {content: ") "; }
    }