%aside#top-ad-wrapper.container-full
  #top-ad.container-wrap
    = render 'global/ads', ad: :page_header

%header#header.navbar.navbar-static-top.bs-docs-nav
  #site-nav
    %aside
      .container-wide-wrap
        - if false
          .pull-left
            .wht-lbl.beta= t(:beta)
        - if wt_is_live?
          = link_to Setting.wt_youtube_live_url || 'javascript:;', class: 'pull-left live-on-youtube' do
            %i.icon.icon-wt-live-record-dot
            = t(Setting.wt_youtube_live_url.match(/youtube\.com|youtu\.be/) ? '.watch_live_youtube' : '.watch_live')
            %i.icon.icon-wt-live-arrow
        - if current_user && current_user.admin?
          .pull-left
            = link_to t(:admin_area), admin_root_url, class: 'wht-lbl'
        .pull-right
          &nbsp;
      .clearfix

    .container-wide-wrap
      .nav-wrap
        .navbar-header
          = link_to root_url, title: t(:logo), class: 'navbar-brand' do
            .logo= t(:logo)

        %nav
          %ul.nav.navbar-nav.main-nav.collapse.navbar-collapse.wt-navbar-collapse{ role: 'navigation' }
            = (Rails.cache.read(['categories','list']) || '').html_safe

          %ul.nav.navbar-nav.navbar-right
            %li.search-button
              %form#search-form{action: search_url, method: :get, role: :search}
                %input{type: :text, name: :q, value: params[:q], placeholder: '', autocomplete: :off, 'data-wt-trk' => wt_trk_evt(:action, :search, :intent)}
                %span.wticon.wticon-search
                %noscript
                  %input{type: :submit, value: 'Go'}
            %li.share-links
              = render '/layouts/application/follow', loc: :header

          #dropdown-menus
            = (Rails.cache.read(['categories', 'list', 'dropdown']) || '').html_safe

          .clearfix

        %button.navbar-toggle.collapsed{"data-target" => ".wt-navbar-collapse", "data-toggle" => "collapse", type: "button"}
          %span.sr-only Toggle navigation
          %span.icon-bar
          %span.icon-bar
          %span.icon-bar

  .spacer

%aside#mobile-top-ad-wrapper.container-full.visible-xs
  #mobile-top-ad.container-wrap
    = render 'global/ads', ad: :mobile_page_header
