- images = []
- images += @page_meta_images unless @page_meta_images.blank?
- if @post.present?
  - if @post.promo_image_file_name.present?
    - images << @post.promo_image.url(:original)
  - @post.post_items.each do |i|
    - next unless %(video_item image_item).include?(i.style)
    - images << i.image.url(:original) unless i.image_file_name.blank?
- elsif @author.present? && @author.avatar_file_name.present?
  - images << @author.avatar.url(:large)
- else
  - images << image_url('share/logo.png')


- # --- Page Defaults ---
%meta{name: 'viewport', content: 'width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0'}

- # --- iOS MOBILE-NESS ---
%meta{name: 'apple-mobile-web-app-capable', content: 'yes'}
%meta{name: 'format-detection', content: 'telephone=no'}
%link{rel: 'apple-touch-icon', href: image_url('share/apple-icon.png')}
- #%link{rel: 'apple-touch-startup-image', href: image_url('share/apple-startup.png')}


- # --- SEO Defaults ---
%meta{name: 'title', content: page_title}
%meta{name: 'description', content: page_description}
%meta{name: 'keywords', content: page_keywords}
- if @post.present?
  %meta{name: 'news_keywords', content: @post.news_keywords.join(', ')}
%meta{name: 'copyright', content: t(:copyright)}
%meta{name: 'distribution', content: 'global'}
%meta{name: 'coverage', content: 'worldwide'}
%meta{name: 'generator', content: 'Publishing platform developed by XOlator <http://www.xolator.com>'.html_safe}
%meta{name: 'robots', content: page_robots}
%link{href: '/favicon.ico', rel: 'shortcut icon', type: 'image/x-icon', crossOrigin: ''}


- # Author
- if @post.present?
  %meta{name: 'author', content: @post.authors.pluck(:name).humanize_join('&')}
- elsif @author.present?
  %meta{name: 'author', content: @author.name}

- # Image
- images.first(1).each do |v|
  %link{rel: 'image_src', href: v}

- # URLs
%link{rel: 'canonical', href: page_canonical_url}
- unless page_short_url.blank?
  %link{rel: 'shorturl', href: page_short_url}

- # XML/RSS Feeds
%link{rel: 'alternate', type: 'application/rss+xml', title: "What's Trending Latest Posts", href: categories_url(format: :xml)}
- if @post.present? || @author.present?
  - ((@post && @post.authors) || [@author]).each do |author|
    %link{rel: 'alternate', type: 'application/rss+xml', title: "#{author.name.possessive} Latest Posts", href: author_url(author, format: :xml)}


- # --- Open Graph (Facebook, Pinterest, Linkedin, etc) ---
%meta{property: 'og:site_name', content: "What's Trending"}
%meta{property: 'og:url', content: page_canonical_url}
%meta{property: 'og:title', content: page_share_title}
%meta{property: 'og:description', content: page_share_description}
- images.each do |img|
  %meta{property: 'og:image', content: img}
- if @post.present? && @post.published?
  %meta{property: 'og:type', content: 'article'}
  %meta{property: 'article:publisher', content: 'https://www.facebook.com/WhatsTrending'}
  - if @post.nsfw
    %meta{property: 'og:restrictions:age', content: '18+'}
  %meta{property: 'article:section', content: @post.category.name}
  - @post.news_keywords.each do |tag|
    %meta{property: 'article:tag', content: tag}
  %meta{property: 'article:published_time', content: @post.published_at.iso8601}
  %meta{property: 'article:modified_time', content: @post.updated_at.iso8601}
  - @post.authors.each do |author|
    - unless author.facebook_handle.blank?
      %meta{property: 'article:author', content: "https://www.facebook.com/#{author.facebook_handle}"}
    %meta{property: 'profile:first_name', content: author.first_name}
    %meta{property: 'profile:last_name', content: author.last_name}
    %meta{property: 'profile:username', content: author.login}
  - #og:see_also (related posts)
  - #og:videos
- elsif @author.present?
  %meta{property: 'og:type', content: 'profile'}
  - unless @author.facebook_handle.blank?
    %meta{property: 'article:author', content: "https://www.facebook.com/#{@author.facebook_handle}"}
  %meta{property: 'profile:first_name', content: @author.first_name}
  %meta{property: 'profile:last_name', content: @author.last_name}
  %meta{property: 'profile:username', content: @author.login}
  - #og:see_also (recent posts)
- else
  %meta{property: 'og:type', content: 'website'}
  - if @category.present?
    - #og:see_also (recent posts)
    - if @category.nsfw
      %meta{property: 'og:restrictions:age', content: '18+'}


- # --- Facebook ---
%meta{property: 'fb:app_id', content: Setting.facebook_app_id}
- unless Setting.admin_facebook_ids.blank?
  - Setting.admin_facebook_ids.each do |fbid|
    %meta{property: 'fb:admins', content: fbid}


- # --- Twitter ---
%meta{name: 'twitter:site', content: '@whatstrending'}
- if @post.present? && @post.published?
  - # TODO : QUESTION: Do we want 'summary' or 'summary_large_image'???
  %meta{name: 'twitter:card', content: 'summary_large_image'}
  %meta{name: 'twitter:title', content: page_share_title}
  - @post.authors.each do |author|
    - next if author.twitter_handle.blank?
    %meta{name: 'twitter:creator', content: "@#{author.twitter_handle}"}
- elsif @author.present?
  - unless @author.twitter_handle.blank?
    %meta{name: 'twitter:creator', content: "@#{@author.twitter_handle}"}
- images.first(1).each do |img|
  %meta{name: 'twitter:image:src', content: img}


- # --- Google ---
%meta{name: 'google-site-verification', content: 'a78vK0SlTXVOYvnpgW692An0_NN-3Dz3eCyK9fitqZo'}
%link{href: 'https://plus.google.com/102598412023069083727', rel: 'publisher'}
%meta{itemprop: 'description', content: page_share_description}
- images.first(1).each do |img|
  %meta{itemprop: 'image', content: img}


- # --- Pinterest ---
- # We do not have any data-rich pins currently. TODO: explore as later options
%meta{name: 'pinterest-rich-pin', content: 'false'}
 

- # --- Etc. ---


- # Include any additional meta tags defined in the page
- if content_for?(:meta_tags)
  = yield(:meta_tags)