- unless Rails.env.test?
  %script{type: 'text/javascript', src: '//use.typekit.net/xsb6hse.js'}

%script{type: 'text/javascript'}
  try{Typekit.load();}catch(e){}
  var _sf_startpt=(new Date()).getTime();

  WT.locale = '#{I18n.locale}';
  WT._ssl = #{request_is_ssl?};

  - if Rails.env.production?
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o), m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)})(window,document,'script','//www.google-analytics.com/analytics.js','ga');
  - else
    WT._dev = true;
    function ga() {if (window.console) window.console.log('GA Track', arguments);}

  ga('create', 'UA-29695405-1', 'whatstrending.com');
  ga('require', 'displayfeatures');
  ga('send', 'pageview');


= csrf_meta_tags

- if Rails.env.production?
  %script{async: true, src: "//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"}

<!--[if lt IE 9]>
<script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->