- hide_count ||= false

%script{async: true, src: "https://apis.google.com/js/platform.js" }
.g-ytsubscribe{data: {channel: 'WhatsTrending', count: (hide_count ? 'hidden' : 'default'), layout: 'default', onytevent: 'onYtSubscribe'}}

:javascript
  function onYtSubscribe(payload) {
    if (payload.eventType == 'subscribe') {
      WT.Track.action('yt:subscribe')
    } else if (payload.eventType == 'unsubscribe') {
      WT.Track.action('yt:unsubscribe')
    }
  }