- as ||= :default

.modal.fade{id: "setting-modal-#{as}", tabindex: '-1', role: 'dialog', 'aria-labelledby' => 'myModalLabel', 'aria-hidden' => 'true'}
  .modal-dialog
    .modal-content
      .modal-header
        %button.close{'aria-hidden' => 'true', 'data-dismiss' => 'modal', type: 'button'} &times;
        %h4.modal-title= t('.new_setting')
      .modal-body
        = simple_form_for :setting, url: admin_settings_url, html: { id: "setting-form-#{as}", 'data-validate' => 'parsley' } do |f|
          = f.input :key, required: true
          - case as.to_sym
            - when :boolean
              = f.input :value, as: :radio_buttons, collection: [['True',1],['False',0]], item_wrapper_class: 'inline'
            - else
              = f.input :value, required: false, placeholder: t('.value_placeholder')
          = f.button :submit, t(:save), class: 'btn btn-success pull-right', 'data-loading-text' => t(:saving)
        .clearfix