.container.admin-setting
  .row
    .page-header
      .pull-left
        %h1= t(:settings)
        .lead
          = t('.settings_description')
          - helper_popover(t(:settings), t('.popover'), html: true, placement: :bottom)
      .pull-right
        - if false
          = link_to "#setting-modal-default", "data-toggle" => "modal", class: "add-setting btn btn-success pull-right btn-lg" do
            %span.glyphicon.glyphicon-check
            = t('.add_new')
        #setting-form-wrapper
          = render '/admin/settings/form', as: :boolean
          = render '/admin/settings/form', as: :default
      .clearfix

  - unless @settings.blank?
    .row
      %table.table.table-striped.table-condensed
        %thead
          %tr
            %th= t('.key')
            %th= t('.value')
            %th= t('.type')
            %th
        %tbody
          - @settings.each_pair do |key, value|
            - next unless key.to_s.match(/^wt_/)
            - is_bool = value.is_a?(TrueClass) || value.is_a?(FalseClass)
            %tr{ 'data-key' => key, 'data-key-type' => (is_bool ? 'Boolean' : value.class.to_s).downcase }
              %td.col-sm-4
                %strong=t(:name, scope: [:setting_options, key.to_s], default: key.to_s)
                %br
                =t(:description, scope: [:setting_options, key.to_s], default: '')
              %td.col-sm-5= is_bool ? value.to_s.capitalize : value
              %td.col-sm-2
                - if is_bool
                  True/False
                - else
                  = value.class.to_s
              %td.col-sm-1
                = link_to '#', class: 'edit-setting btn btn-large btn-primary' do
                  %span.glyphicon.glyphicon-pencil
                  = t(:edit)

    - if current_user.is?(:super)
      .row
        %h2= t('.title.uneditable')
        %table.table.table-striped.table-condensed
          %thead
            %tr
              %th= t('.key')
              %th= t('.value')
              %th= t('.type')
              %th
          %tbody
            - @settings.each_pair do |key, value|
              - next if key.to_s.match(/^wt_/)
              - is_bool = value.is_a?(TrueClass) || value.is_a?(FalseClass)
              %tr{ 'data-key' => key, 'data-key-type' => (is_bool ? 'Boolean' : value.class.to_s).downcase }
                %td.col-sm-4
                  %strong=t(:name, scope: [:setting_options, key.to_s], default: key.to_s)
                  %br
                  =t(:description, scope: [:setting_options, key.to_s], default: '')
                %td.col-sm-5= is_bool ? value.to_s.capitalize : value
                %td.col-sm-2
                  - if is_bool
                    True/False
                  - else
                    = value.class.to_s
                %td.col-sm-1


:javascript
  window.wt_settings = #{@settings.to_json}
