@mixin calc($property, $expression, $fallback: false) {
  @if ($fallback) { #{$property}: #{$fallback}; }
  #{$property}: -moz-calc(#{$expression});
  #{$property}: -webkit-calc(#{$expression});
  #{$property}: calc(#{$expression});
}



// RESPONSIVENESS
$grid-float-breakpoint: 930px;
$wt-min-width: 980px;
$wt-max-width: 1290px;
$wt-scaling-padding: 25px;
$wt-xs-scaling-padding: 10px;
$wt-outer-max-width: 1500px;

$wt-sidebar-width: 300px;
$wt-sm-sidebar-width: 150px;
$wt-sidebar-padding: 20px;

// COLORS
$wt-black: black;
$wt-white: white;
$wt-lt-grey: rgb(230,230,230);
$wt-top-ad-bar: rgb(46,47,48);
$wt-ft-grey: rgb(40,43,43);
$wt-score-0: rgb(0,232,133);
$wt-dk-black: rgb(26,27,28);
$wt-dull-green: rgb(163,181,183);
$wt-logo-blue: rgb(8,205,255);
$wt-bt-blue: rgb(0,207,250);
$wt-lt-white: rgb(242,242,242);
$wt-lt-lt-white: rgb(245,245,245);
$wt-body-bg: rgb(240,240,240);
$wt-md-grey: rgb(189,204,212);
$wt-grey: rgb(189,189,189);
$wt-live-red: rgb(239,59,57);
$wt-red: rgb(244,100,71);

// velocity colors
$wt-trend-1: rgb(244,100,71);
$wt-trend-2: rgb(247,151,79);
$wt-trend-3: rgb(232,227,82);
$wt-trend-4: rgb(212,234,80);
$wt-trend-5: rgb(168,237,88);
$wt-trend-6: rgb(127,243,84);
$wt-trend-7: rgb(0,229,153);
$wt-trend-8: rgb(6,234,201);
$wt-trend-9: rgb(23,236,234);
$wt-trend-10: rgb(0,207,250);

// trend colors
$wt-velocity-1: rgb(0,224,160);
$wt-velocity-2: rgb(168,237,88);
$wt-velocity-3: rgb(232,227,82);
$wt-velocity-4: rgb(247,151,79);
$wt-velocity-5: rgb(244,100,71);

$wt-trend-color: $wt-trend-10;


// SOCIAL BRAND COLORS
$social-facebook: #3b5998;
$social-twitter: #00aced;
$social-googleplus: #dd4b39;
$social-youtube: #C4302B; //bb0000;
$social-podcast: #8c1222;
$social-pinterest: #cb2027;
$social-linkedin: #007bb6;
$social-instagram: #517fa4;
$social-rss: #fa9b39;
$social-reddit: #ff5700;
$social-stumbleupon: #eb4924;
$social-tumblr: #34526f;
$social-whatsapp: #34af23;
$social-iheart: #900E1A;


// CONFIG
$prefix-for-webkit:    true;
$prefix-for-mozilla:   true;
$prefix-for-microsoft: true;
$prefix-for-opera:     false;
$prefix-for-spec:      false;


@font-face {
  font-family: 'social-icons';
  src: font-url('social-icons.eot?52208493');
  src: font-url('social-icons.eot?52208493#iefix') format('embedded-opentype'),
       font-url('social-icons.woff?52208493') format('woff'),
       font-url('social-icons.ttf?52208493') format('truetype'),
       font-url('social-icons.svg?52208493#social-icons') format('svg');
  font-weight: normal;
  font-style: normal;
}


// FONTS
$wt-font-titles: 'effra','Helvetica Neue',Arial,Helvetica,sans-serif;
$wt-font-default: 'franklin-gothic-urw','Helvetica Neue',Arial,Helvetica,sans-serif;
// ...other possible contenders were Soleli and Futura PT
$wt-font-social: 'social-icons';


@-webkit-viewport   { width: $wt-max-width; }
@-moz-viewport      { width: $wt-max-width; }
@-ms-viewport       { width: $wt-max-width; }
@-o-viewport        { width: $wt-max-width; }
@viewport           { width: $wt-max-width; }


// --- VERY IMPORTANT DEFAULTS ---
html.ssl.admin {
  .post-item-instagram {position: relative; margin-top: 55px;
    &:before {content: "WT Note: Some Instagram embeds do not work over secure (HTTPS) connections."; position: absolute; z-index: 999999; top: -45px; left: 0; right: 0; display: block; padding: 10px; background: $wt-red; color: $wt-white; text-align: center; font-weight: 500; border: 0 solid transparent; border-radius: 6px;}
  }

  .post-style-embed_item object, iframe[src^='http://'] {position: relative; margin-top: 65px;
    & + .after:before {content: "WT Note: Your browser might not be able to display this embed over a secure (HTTPS) connections. However, it should work over HTTP (nonsecure) connections."; position: absolute; z-index: 999999; top: 0; left: 0; right: 0; display: block; padding: 10px; background: $wt-red; color: $wt-white; text-align: center; font-weight: 500; border: 0 solid transparent; border-radius: 6px;}
  }
}
