//.wticon, a.wticon:before {font-family: $wt-font-social; -webkit-text-rendering: optimizeLegibility;-moz-text-rendering: optimizeLegibility;-ms-text-rendering: optimizeLegibility;-o-text-rendering: optimizeLegibility;text-rendering: optimizeLegibility;-webkit-font-smoothing: antialiased;-moz-font-smoothing: antialiased;-ms-font-smoothing: antialiased;-o-font-smoothing: antialiased;font-smoothing: antialiased; text-transform: none;}
//a.wticon:before {content: attr(title); margin-right: 0.3em;font-size: 130%;}

[class^="wticon-"]:before, [class*=" wticon-"]:before, .more a:after, time:before {font-family: $wt-font-social; -webkit-text-rendering: optimizeLegibility;-moz-text-rendering: optimizeLegibility;-ms-text-rendering: optimizeLegibility;-o-text-rendering: optimizeLegibility;text-rendering: optimizeLegibility;-webkit-font-smoothing: antialiased;-moz-font-smoothing: antialiased;-ms-font-smoothing: antialiased;-o-font-smoothing: antialiased;font-smoothing: antialiased; text-transform: none;}

// Logos
.wticon-logo:before { content: '\e802'; }
.wticon-icon:before { content: '\e826'; }
.wticon-icon-inverse:before { content: '\e803'; }
.wticon-xolator:before { content: '\e804'; }

// Icons
.wticon-share:before { content: '\e805'; }
.wticon-clock:before, time:before { content: '\e806'; vertical-align: top; margin: 0 .4em 0 0; }
.wticon-search:before { content: '\e807'; }
.wticon-play-button:before { content: '\e808'; }
.wticon-trend-arrow-up:before { content: '\e809'; }
.wticon-trend-arrow-down:before { content: '\e80a'; }
.wticon-arrow-up:before { content: '\e80b'; }
.wticon-arrow-down:before, .more a:after { content: '\e80c'; }
.wticon-arrow-left:before { content: '\e80d'; }
.wticon-arrow-right:before { content: '\e80e'; }
.wticon-link:before { content: '\e80f'; }
.wticon-like:before { content: '\e810'; }
.wticon-dislike:before { content: '\e825'; }
.wticon-star:before { content: '\e811'; }
.wticon-heart:before { content: '\e812'; }
.wticon-comment:before, .wticon-comments:before { content: '\e813'; }
.wticon-email:before, .wticon-newsletter:before { content: '\e814'; }
.wticon-rss:before { content: '\e815'; }
.wticon-eye:before { content: '\e827'; }

// Social
.wticon-facebook:before { content: '\e816'; }
.wticon-twitter:before { content: '\e817'; }
.wticon-tumblr:before { content: '\e818'; }
.wticon-reddit:before { content: '\e819'; }
.wticon-googleplus:before, .wticon-gplus:before { content: '\e81a'; }
.wticon-linkedin:before { content: '\e81b'; }
.wticon-pinterest:before { content: '\e81c'; }
.wticon-instagram:before { content: '\e81d'; }
.wticon-vine:before { content: '\e81e'; }
.wticon-vimeo:before { content: '\e81f'; }
.wticon-podcast:before { content: '\e820'; }
.wticon-iheartradio:before, .wticon-iheart:before { content: '\e821'; }
.wticon-stumbleupon:before { content: '\e822'; }
.wticon-kickstarter:before { content: '\e823'; }
.wticon-whatsapp:before { content: '\e824'; }
.wticon-youtube:before { content: '\e800'; }
.wticon-youtubeplay:before { content: '\e801'; }



.share-links a { @include transition(color .1s ease-in);
  &:hover {
    .wticon-facebook {color: $social-facebook;}
    .wticon-twitter {color: $social-twitter;}
    .wticon-googleplus, .wticon-gplus {color: $social-googleplus;}
    .wticon-youtube, .wticon-youtubeplay {color: $social-youtube;}
    .wticon-instagram {color: $social-instagram;}
    .wticon-podcast {color: $social-podcast;}
    .wticon-rss {color: $social-rss;}
    .wticon-iheartradio, .wticon-iheartradio {color: $social-iheart;}
  }
}

.share-button {display: inline-block; line-height: 1em; background-color: transparent; color: #fff; margin-right: 10px;
  &:hover {color: #fff;}
  .wticon {display: inline-block; font-size: 32px; line-height: 42px; text-align: center; width: 42px; height: 42px; overflow: hidden; 
    &.wticon-facebook {background-color: $social-facebook; font-size: 70px; line-height: 0.7em; text-indent: -2px}
    &.wticon-twitter {background-color: $social-twitter;}
    &.wticon-googleplus, &.wticon-gplus {background-color: $social-googleplus;}
    &.wticon-youtube {background-color: $social-youtube;}
    &.wticon-podcast {background-color: $social-podcast;}
    &.wticon-comment, &.wticon-comments {background-color: $wt-grey;}
  }
}


.share-buttons { display: block; list-style: none; margin: 0; padding: 0;
  .share-platform { font-size: 92.875%;
    *[data-platform] { display: block; font-size: auto;
      .share-icon, .share-count {float: left; display: inline-block; color: #fff;}
      .share-icon {font-size: 2.4rem; line-height: 33px; background-color: #000; text-align: center; width: 33px; height: 33px; overflow: hidden; vertical-align: middle;}
      .share-count {line-height: 2.22em; vertical-align: middle; padding: 0 10px; background-color: #333; margin-top: 5px; height: 28px; box-shadow: inset 5px 0 3px rgba(0,0,0,.08);}
      &:before, &:after {display: table; content: " ";}
      &:hover, &:focus {opacity: .72;}
      &[data-platform="facebook"] {
        .share-icon {background-color: $social-facebook;}
        .share-count {background-color: #355089;}
      }
      &[data-platform="twitter"] {
        .share-icon {background-color: $social-twitter;}
        .share-count {background-color: #2499cb;}
      }
      &[data-platform="pinterest"] {
        .share-icon {background-color: $social-pinterest;}
        .share-count {background-color: #b51d23;}
      }
      &[data-platform="googleplus"], &[data-platform="gplus"] {
        .share-icon {background-color: $social-googleplus;}
        .share-count {background-color: #c74334;}
      }
      &[data-platform="linkedin"] {
        .share-icon {background-color: $social-linkedin;}
        .share-count {background-color: #0069a1;}
      }
      &[data-platform="sum"] {
        .share-icon {background-color: #505050;}
        .share-count {background-color: #808080;}
      }
      &[data-platform="reddit"] {
        .share-icon {background-color: $social-reddit;}
        .share-count {background-color: darken($social-reddit, 5);}
      }
      &[data-platform="whatsapp"] {
        .share-icon {background-color: $social-whatsapp;}
        .share-count {background-color: darken($social-whatsapp, 5);}
      }
      &[data-platform="stumbleupon"] {
        .share-icon {background-color: $social-stumbleupon;}
        .share-count {background-color: darken($social-stumbleupon, 5);}
      }
      &[data-platform="comment"], &[data-platform="comments"] {
        .share-icon {background-color: darken($wt-grey, 12);}
        .share-count {background-color: darken($wt-grey, 17);}
      }
    }
    &:first-child {margin-top: 0;}
  }
  /* skip pinterest if there is not an image */
  &:not([data-image]) a[data-platform="pinterest"] {display: none;}
}

.sharebar .share-buttons {
  li.share-platform {clear: none; float: left; margin-right: 10px; margin-top: 10px;
    &:last-child {margin-right: 0;}
  }
  .share-platform {display: inline-block; margin: 0; padding: 0; list-style: none; font-size: 128.57%;
    .share-icon {width: 45px; height: 45px; font-size: 2.4rem; line-height: 45px;}
    .share-count {height: 40px;}
  }
}



small, .small {
  .wticon {font-size: 175%;}
}

.nowrap {white-space: nowrap;}

*[data-toggle="popover"] { margin-top: 9px;
  h1 &, h2 &, h3 &, h4 &, h5 &, h6 &, .lead & {font-size: 16px; margin-left: 4px;
    & + .popover {font-weight: normal; font-size: 14px; line-height: 1.51em;}
  }
  & + .popover {min-width: 275px;}
}

.alert { margin-top: 10px; padding: 10px; }

//.alert-warning { color: #468847; background-color: #dff0d8; border-color: #d6e9c6; }

.form-sm { max-width: 480px; }

.center-block { margin: 0 auto; }

span.error { color: red; }

.tab-content.well { padding: 10px; border-radius: 0 0 4px 4px; }

form label { font-weight: normal; }

.form-control.boolean { width: 18px; height: 18px; }

.control-label.boolean { text-align: left; margin-left: 20px; }

.overlay { color: $wt-white; margin: 0; //position: relative !important; top: -27px; padding: 0 20px;
  h1, h2, h3, h4, h5 { margin-top: 0; margin-bottom: 0; }
}

//img { width: 100%; }

.post-item-media { text-align: center; }

iframe { max-width: 100%; max-height: 100%; }

a:hover { text-decoration: none; }

.wt-label { font-size: 20px; color: #fff; display: inline-block; font-weight: bold; padding: 0.2em 0.7em; 
  &:hover {color: #fff;}
}

.label-info { background-color: #08CEFF; }

li.sortable-placeholder { border: 2px dashed #808080; min-height: 200px; float: left; }

.text-grey { color: #999999; }

.alert-dismissable .close { right: 0; }

form.form-horizontal span.error { display: inline-block; margin-left: 30%; }




.fancy-heading { text-align: center; overflow: hidden;
  span { display: inline-block; position: relative;
    &:before, &:after {content: ""; position: absolute; height: 1px; border-top: 1px dotted $wt-white; top: 48%; width: 100%; }
    &:before { right: 100%; margin-right: 15px; }
    &:after { left: 100%; margin-left: 15px;}
  }
}

.gloss, .pagination a {position: relative; @include backface-visibility(hidden);
  &:before {content: " "; pointer-events: none; position: absolute; top: 0; left: 0; right: 0; bottom: 0; z-index: 1; @include linear-gradient(180deg, rgba($wt-white,.1) 0%, rgba($wt-white,.1) 49.9%, transparent 50%, transparent 100%, $fallback: transparent); }
  &.gloss-hicontrast:before { @include linear-gradient(180deg, rgba($wt-white,.3) 0%, rgba($wt-white,.3) 49.9%, transparent 50%, transparent 100%, $fallback: transparent); };
  &.gloss-inverse:before { @include linear-gradient(0deg, rgba($wt-dk-black,.03) 0%, rgba($wt-dk-black,.03) 49.9%, transparent 50%, transparent 100%, $fallback: transparent); };
}


*[data-preload-img] {opacity: 0; @include transition(opacity .1s ease-in);
  &[data-preloaded] {opacity: 1;}
  // &[data-preload-err] {opacity: 1; background-color: red;}
}

ul.parsley-error-list { list-style-type: none; padding: 0;
  li { display: inline-block; text-align: left; padding: 5px 0; color: red; }
}