= simple_form_for @category, url: (@category.new_record? ? admin_categories_url : admin_category_url), html: { "data-validate" => "parsley" } do |f|
  = f.error_notification

  .container
    .col-sm-6
      = f.input :name, input_html: { 'data-maxlength' => 250 }
      = f.input :description, input_html: { 'data-maxlength' => 1500 }
      = # f.input :banner_image, required: true
      = # f.input :promotional
      = f.input :nsfw
      = #f.input :active
    .col-sm-6
      = f.input :parent_id, as: :select, collection: cached_nested_categories, include_blank: '-- Top Level --'
      

  .container
    .form-group.text-center
      = f.button :submit, class: 'btn btn-lg btn-primary'
