.container
  .page-header
    .pull-left
      %h1 Categories
    .pull-right{style: 'padding-top: 20px'}
      = link_to 'New Category', new_admin_category_url, class: 'btn btn-success'
    .clearfix


  %table.table.table-striped{width: '100%'}
    %thead
      %tr
        %th.col-sm-1 #
        %th.col-sm-3 Name
        %th.col-sm-3 Description
        %th.col-sm-3
        %th.col-sm-2
    %tbody
      - unless @categories.empty?
        - @categories.each do |category|
          %tr
            %td.col-sm-1= category.id
            %td.col-sm-3
              %strong
                = ("&nbsp; &nbsp;&ndash;" * category.level).html_safe
                = category.name
            %td.col-sm-3= category.description
            %td.col-sm-3
            %td.col-sm-2
              = link_to 'View', category_url(category), class: 'btn btn-warning'
              = link_to 'Edit', edit_admin_category_url(category), class: 'btn btn-primary'
              = #link_to 'Delete', admin_category_url(category), method: :delete, class: 'btn btn-danger', data: { confirm: 'Are you sure?' }

      - else
        %tr
          %td{ colspan: 5 } No categories yet.