.row
  = link_to "Edit", edit_admin_category_url(@category)
  %br

  .panel.panel-default
    .panel-heading Badge Detail
    .panel-body
      %dl
        %dt Name
        %dd= @category.name
      %dl
        %dt Description
        %dd= @category.description
      %dl
        %dt Banner Image
        %dd= image_tag(@category.banner_image.url(:large), class: "thumbnail")
      %dl
        %dt Pormotional
        %dd= @category.promotional
      %dl
        %dt NSFW
        %dd= @category.nsfw
      %dl
        %dt Active
        %dd= @category.active

      = link_to 'Back', admin_categories_url
      = link_to 'Delete', admin_category_url(@category), method: :delete, data: { confirm: 'Are you sure?' }