- posts ||= nil
- controller ||= nil
- action ||= nil
- place ||= nil
- page_params = {controller: controller, action: action, place: place, id: nil, slug: nil, prefix: nil} unless controller.blank? || action.blank?
- limit ||= nil

- begin # in case of nilclass or other error

  - unless posts.nil? # if no posts are passed
    - posts = posts.limit(limit) unless limit.nil?
    - posts = posts.includes(:category)

    - unless posts.blank?
      #content-area.container-full.content-box.last
        .container-wrap
          .content-wrap
            .page-header
              %h2.text-center= t('.more_trending')
              .clearfix

            - # POSTS LIST
            %ul#posts-list.posts-list.list-unstyled
              - posts.each_with_index do |post, i|
                - # TODO : EVENTUAL INLINE PLACEMENT OF ADS
                = render post, format: :feed
            .clearfix

            = will_paginate posts, renderer: MoreButtonPagination::Rails, page_links: false, params: page_params
      .clearfix

- rescue => err
  - #