- post ||= nil
- post_item_video = nil

- unless post.blank?
  %ul.post-items.list-unstyled
    - post.post_items.each_with_index do |item,i|
      - post_video_item ||= item if post.video? && item.style.match(/video/i)
      - skip_parts = []
      - # For video items, we skip the first post item unless it has text
      - if item == post_video_item
        - next if item.text.blank?
        - skip_parts = [:embed,:title]

      - # DO WE REALLY NEED THE CACHE?
      %li.post-item{id: item.slug, class: "post-style-#{item.style.downcase}"}
        - begin
          = render "post_items/#{item.style.downcase}", item: item, post: post, skip: skip_parts
        - rescue => err
          .well
            .text-center
              = t('.display_error')
              - unless Rails.env.production?
                %br
                Error for #{item.style}: #{err} (#{err.backtrace.first}).
        .clearfix
  .clearfix