- image ||= :feed
- format ||= :feed
- trk ||= nil
- as ||= []
- has ||= []
- skip ||= []
- klass ||= []
- klass << 'post-video' if as.include?(:video)

- cache_key = [post,format]
- cache_key << ('has:' + has.sort.join(',')) unless has.blank?
- cache_key << ('skip:' + skip.sort.join(',')) unless skip.blank?

- cache(cache_key, expires_in: 5.minutes) do
  - view_ct ||= post.shows_count
  - view_ct ||= 0
  - view_ct += 1 unless Rails.env.production?
  - if view_ct > 999
    - view_ct = number_to_human(view_ct, precision: 1, significant: false, units: :short_count, format: '%n%u') if view_ct > 999
  - elsif view_ct < Setting.min_post_count_to_view
    - view_ct = t(:new).upcase


  %li.post{'data-post-id' => post.id, 'data-category' => post.category.name, 'data-format' => format, class: klass}
    - case format.to_s
      - when 'featured','homepage_featured'
        = link_to post_url(post), class: 'overlay', 'data-title' => post.title, 'data-wt-trk' => trk, title: post.description do
          .post-image{'data-preload-img' => post.promo_image.url(image)}
          .post-overlay
            .post-info
              - if post.shows_count > Setting.min_post_count_to_view
                .post-score.pull-left{class: velocity_class_name(:views, post.shows_velocity_score)}
                  = view_ct
                  %i.icon.icon-view-ct
              .post-meta.pull-right.text-right
                = timeago_tag(post.published_at)
                %h6= post.category.name
              .clearfix
            .post-text
              %h1= post.title
              %p= post.description

      - when 'boxed'
        = link_to post_url(post), class: 'overlay', 'data-title' => post.title, 'data-wt-trk' => trk, title: post.description do
          .post-image{'data-preload-img' => post.promo_image.url(image)}
          .post-info
            - unless skip.include?(:score)
              - if post.shows_count > Setting.min_post_count_to_view
                .post-score.pull-left{class: velocity_class_name(:views, post.shows_velocity_score)}
                  = view_ct
                  %i.icon.icon-view-ct
            .post-meta.pull-right.text-right
              - unless skip.include?(:time)
                = timeago_tag(post.published_at)
              - unless skip.include?(:category)
                %h6= post.category.name
            .clearfix
          .post-overlay
            %h1= post.title

      - when 'slide'
        = link_to post_url(post), 'data-title' => post.title, 'data-wt-trk' => trk, title: post.description do
          .post-image-wrap.overlay
            .post-image{'data-preload-img' => post.promo_image.url(image)}
          .post-overlay
            %h1= post.title

      - when 'sidebar'
        = link_to post_url(post), 'data-title' => post.title, 'data-wt-trk' => trk, title: post.description do
          .post-meta
            - if false
              .post-score.pull-left{class: velocity_class_name(:views, post.shows_velocity_score)}
                = view_ct
                %i.icon.icon-view-ct
            - unless skip.include?(:time)
              .pull-right= timeago_tag(post.published_at)
            .clearfix
          .post-image-wrap.overlay
            .post-image{'data-preload-img' => post.promo_image.url(image)}
            - if false #has.include?(:duration) && !(duration = post.video_duration).blank?
              .post-video-duration= number_to_duration(duration)
          .post-info
            %h1= post.title

      - when 'video_player'
        = link_to post_url(post), 'data-title' => post.title, 'data-wt-trk' => trk, title: post.description do
          .post-image-wrap.overlay
            .post-image{'data-preload-img' => post.promo_image.url(image)}
            - if as.include?(:video)
              .post-play-button.gloss.gloss-hicontrast
                %span.wticon.wticon-play-button
            - if false #has.include?(:duration) && !(duration = post.video_duration).blank?
              .post-video-duration= number_to_duration(duration)
          .post-info
            %h1= post.title
            - unless skip.include?(:time)
              %p= timeago_tag(post.published_at)
          .clearfix
            
      - else
        = link_to post_url(post), 'data-title' => post.title, 'data-wt-trk' => trk, title: post.description do
          .post-meta
            - unless skip.include?(:category)
              %h6.pull-left= post.category.name
            .pull-right= timeago_tag(post.published_at)
            .clearfix
          .post-image-wrap.overlay
            .post-image{'data-preload-img' => post.promo_image.url(image)}
            - if as.include?(:video)
              .post-play-button.gloss.gloss-hicontrast
                %span.wticon.wticon-play-button
            - if false #has.include?(:duration) && !(duration = post.video_duration).blank?
              .post-video-duration= number_to_duration(duration)
          .post-info{class: ('no-share' if skip.include?(:share))}
            - unless skip.include?(:share)
              .post-share.pull-left.gloss.gloss-hicontrast
                %span.wticon.wticon-share
            %h1= post.title
            - unless skip.include?(:description)
              %p= post.description

        - unless skip.include?(:share)
          .post-share-overlay
            .post-share-buttons
              = render 'posts/share', item: post, counts: false, url: post_url(post), platforms: {facebook: :all, twitter: :all}
              .clearfix
