- platforms ||= Post::SHARE_PLATFORMS
- item ||= nil
- counts ||= false
- all_counts ||= false
- html_class ||= ''
- url ||= '#'
- img = nil
- other_title ||= nil
- comments ||= false


- unless item.blank? || platforms.blank? || ![Post,PostItem].include?(item.class)
  - case item.class.to_s
    - when 'Post'
      - img = item.promo_image.url(:feed)
    - when 'PostItem' # only video and images
      - img = item.image.url(:large) if %w(video_item image_item).include?(item.style)
      - counts = false
    - else
      - counts = false

  %ul.share-buttons{class: html_class, data: {'item-type' => item.class.to_s.downcase, 'canonical-url' => url, 'share-email-url' => new_sharing_mail_url(target_type: item.class.to_s, target_id: item.id), 'item-id' => item.id, title: (!item.title.blank? ? item.title : other_title), description: item.text, image: img, related: 'whatstrending', via: 'whatstrending'}}
    - platforms.each do |p,v|
      - next unless Post::SHARE_PLATFORMS.keys.include?(p.to_sym)
      - c = []
      - c << 'hidden-lg' if [:mobile].include?(v)
      - c << 'hidden-md' if [:mobile].include?(v)
      - c << 'hidden-sm' if [:web,:mobile].include?(v)
      - c << 'hidden-xs' if [:web, :tablet].include?(v)
      %li.gloss.share-platform{class: (c << "share-platform-#{p}"), title: p.to_s.humanize}
        %a{href: 'javascript:;', data: {toggle: :share_button, platform: p}}
          .share-icon.wticon{class: "wticon-#{p}"}
          - if !!counts
            - ct = item.share_counts[p] || 0
            .share-count{style: (all_counts || ct > 0 ? '' : 'display: none')}= number_with_delimiter(ct)
    - if comments
      %li.gloss.share-platform{class: "share-platform-comments", title: t(:comments)}
        %a{href: comments, data: {toggle: :share_button, platform: 'comments'}}
          .share-icon.wticon{class: "wticon-comments"}

  .clearfix