- unless @_post_preview
  - # TREND LIST (TOP 3)
  - if @trend_list.present?
    .box
      .page-header
        %h3= t('.top_trends')

      %ul.trends-list.list-unstyled
        - cache([@trend_list, 'posts', 'sidebar-3'], expires_in: 15.minutes) do
          - @trend_list.take(3).each_with_index do |trend_item, i|
            = render trend_item, format: :post_sidebar, rank: i+1


  - # AD UNIT
  .box.page-ad
    = render 'global/ads', ad: :post_sidebar


  - # NEWSLETTER SIGNUP
  - if true
    .newsletter-signup.box
      %h3.text-center= t('.newsletter_title')
      = render 'email_subscribers/form'


  - # LATEST POSTS (skip if post is self)
  - cache([(@post || 'page'),'sidebar','latest'], expires_in: 5.minute) do
    - latest_posts = @latest_posts
    - latest_posts = latest_posts.where.not(id: @post.id) if latest_posts && @post.present?
    - unless latest_posts.blank?
      .box
        .page-header
          %h3= t('.latest_posts')
        %ul.list-unstyled.posts-list
          - latest_posts.shuffle.take(2).each do |post|
            = render post, format: :sidebar, image: :feed, skip: [:time]


  - # BOTTOM AD UNIT
  - if false
    .box.page-ad.bottom
      = render 'global/ads', ad: :post_sidebar_footer
