- @page_meta_cache_key = [@post,'header','meta']
- @page_title = @post.title
- @page_description = @post.description
- @page_share_title = @post.promo_title unless @post.promo_title.blank?
- @page_share_description = @post.promo_description unless @post.promo_description.blank?
- @page_keywords = proc { @post.tags.map(&:name).join(', ') }
- @page_canonical_url = post_url(@post)
- @use_google_plus = true
- # TODO : SHARE TITLE/DESC


- # Default upper content area
= render "posts/formats/#{@post.format}/header", post: @post

- # Main content section
- cache([post_cache_key,'show'], expires_in: 1.week, force: post_cache_force) do
  %article.post-container{data: {id: @post.id, format: @post.format}}
    %ul.admin_links.list-unstyled
    = render "posts/formats/#{@post.format}", post: @post
    .clearfix

- # Post footer and extras
= render 'posts/globals/extras', post: @post
= render 'posts/globals/ab_tests', post: @post

- # More posts section at bottom
- unless @_post_preview
  - content_for(:content_bottom, flush: true) do
    - cache(['posts','more'], expires_in: 5.minutes) do
      = render 'posts/more', posts: @latest_posts, controller: :categories, action: :index, limit: 3, place: :footer
