= f.error_notification
= f.hidden_field :target_id, value: @target.id
= f.hidden_field :target_type, value: @target.class.name
= f.input :sender_name, label: false, placeholder: t('.your_name')
= f.input :sender_email, label: false, placeholder: t('.your_email')
= f.input :receiver_email, label: t('.receiver_label'), placeholder: t('.email_addresses')
= f.input :message, label: false, placeholder: t('.optional_message')
