%h3= t(:preview)
%hr
%p.lead= t('.preview_description', username: @sharing_mail.sender_name)
%p.message= @sharing_mail.message
.target.well
  .image
    - if @target.is_a?(Post) && @target.promo_image_file_name.present?
      = image_tag @target.promo_image.url(:thumbnail)
    - elsif @target.is_a?(PostItem) && @target.image_file_name.present?
      = image_tag @target.image.url(:medium)
  .description
    %h4= @target.title
    %p= @target.try(:description) || @target.try(:text)
  .cheers
    %h4= t('.cheer_title')
    .target_url
      %small= 'whatstrending.com/' + url_for(@target)
%hr

