:plain
  $('#post-mail-content').html('#{j render("/sharing_mails/success")}');

  $('.close-window').click(function(){
    window.close();
  });

  window.setTimeout(function(){
    window.close();
  }, 15000);