- @page_title = t('.page_title')


#post-mail-wrapper.center-block
  .post-mail-header
    = image_tag 'admin/logo.png', title: '', alt: ''
    %button.close{ type: 'button'} &times;
  #post-mail-content.edit
    = simple_form_for @sharing_mail, remote: true do |f|
      .post-mail-form.toggle
        .error-expalnation.list-unstyled
        %h3= t('.title')
        .target.well
          .image
            - if @target.is_a?(Post) && @target.promo_image_file_name.present?
              = image_tag @target.promo_image.url(:thumbnail)
            - elsif @target.is_a?(PostItem) && @target.image_file_name.present?
              = image_tag @target.image.url(:medium)
          .description
            %h4= @target.title
            %p= @target.try(:description) || @target.try(:text)
        = render 'form', f: f

      .post-mail-preview.toggle
      .pull-right
        %small
          %em= t('.mail_description')
        = link_to t(:preview), '#', class: 'btn preview', id: 'toggle-mode'
        %button.btn.send-email{ type: 'submit' }= t(:send)  