- ad ||= nil

- # Google adsense
- # Leaderboard:Top - Desktop
- #   <ins class="adsbygoogle" style="display:inline-block;width:728px;height:90px" data-ad-client="ca-pub-9100508276160869" data-ad-slot="8713594205"></ins>
- #   <script>(adsbygoogle = window.adsbygoogle || []).push({});</script>
- # Leaderboard:Top - Mobile
- #   <ins class="adsbygoogle" style="display:inline-block;width:320px;height:100px" data-ad-client="ca-pub-9100508276160869" data-ad-slot="1190327405"></ins>
- #   <script>(adsbygoogle = window.adsbygoogle || []).push({});</script>
- # Leaderboard:Footer - Desktop
- #   <ins class="adsbygoogle" style="display:inline-block;width:728px;height:90px" data-ad-client="ca-pub-9100508276160869" data-ad-slot="2667060605"></ins>
- #   <script>(adsbygoogle = window.adsbygoogle || []).push({});</script>
- # Leaderboard:Footer - Mobile -->
- #   <ins class="adsbygoogle" style="display:inline-block;width:320px;height:100px" data-ad-client="ca-pub-9100508276160869" data-ad-slot="4143793800"></ins>
- #   <script>(adsbygoogle = window.adsbygoogle || []).push({});</script>
- # Sidebar:Post - Desktop
- #   <ins class="adsbygoogle" style="display:inline-block;width:300px;height:250px" data-ad-client="ca-pub-9100508276160869" data-ad-slot="5620527002"></ins>
- #   <script>(adsbygoogle = window.adsbygoogle || []).push({});</script>
- # Sidebar:Post:Footer - Desktop
- #   <ins class="adsbygoogle" style="display:inline-block;width:300px;height:250px" data-ad-client="ca-pub-9100508276160869" data-ad-slot="7097260209"></ins>
- #   <script>(adsbygoogle = window.adsbygoogle || []).push({});</script>

- # Federated Media
- # FM Leaderboard 728x90 Zone
- #   <script type='text/javascript' src='http://static.fmpub.net/zone/16285'></script>
- # FM Medium Rectangle 300x250 Zone
- #   <script type='text/javascript' src='http://static.fmpub.net/zone/16286'></script>
- # FM Wide Skyscraper 160x600 Zone
- #   <script type='text/javascript' src='http://static.fmpub.net/zone/16287'></script>
- # FM Content Well 650x300 Zone
- #   <script type='text/javascript' src='http://static.fmpub.net/zone/16288'></script>
- # FM Mobile MedRec 300x250 Zone
- #   <script type='text/javascript' src='http://static.fmpub.net/zone/16314'></script>


- unless @_hide_ads

  - case ad
    - when :page_header # 728x90 / 970x90

      - # CUSTOM AD :: When putting these ads up, they must be manually loaded to S3
      - # = link_to contest_escape_submissions_url, target: '', 'data-wt-trk' => wt_trk_evt(:click, :ad, :leaderboard, msg: 'escape2roo:leaderboard:top') do
      - #   = image_tag 'banners/escape2roo/leaderboard-v2.jpg', alt:'', width: 728, height: 90

      - unless @_use_custom_ad
        .hidden-xs
          - # Google Adsense
          - # <ins class="adsbygoogle" style="display:inline-block;width:728px;height:90px" data-ad-client="ca-pub-9100508276160869" data-ad-slot="8713594205"></ins>
          - # <script>(adsbygoogle = window.adsbygoogle || []).push({});</script>
          - # Federated Media
          <script type='text/javascript' src='//static.fmpub.net/zone/16285'></script>

      - else
        .visible-lg
          = link_to static_page_url(:tubeathon), target: '', 'data-wt-trk' => wt_trk_evt(:click, :ad, :leaderboard, msg: 'tubeathon:wideleaderboard:top') do
            = image_tag 'banners/tubeathon/2014/wideleaderboard-v2@2x.jpg', alt:'', width: 970, height: 90
          <A HREF="//ad.doubleclick.net/jump/N3016.786084.WHATSTRENDING/B8398323.113523584;sz=1x1;ord=#{Time.now.to_i}?"><IMG SRC="//ad.doubleclick.net/ad/N3016.786084.WHATSTRENDING/B8398323.113523584;sz=1x1;ord=#{Time.now.to_i}?" BORDER=0 WIDTH=1 HEIGHT=1 ALT="Advertisement"></A>
        .visible-sm.visible-md
          = link_to static_page_url(:tubeathon), target: '', 'data-wt-trk' => wt_trk_evt(:click, :ad, :leaderboard, msg: 'tubeathon:leaderboard:top') do
            = image_tag 'banners/tubeathon/2014/leaderboard-v2@2x.jpg', alt:'', width: 728, height: 90
          <A HREF="//ad.doubleclick.net/jump/N3016.786084.WHATSTRENDING/B8398323.113523691;sz=1x1;ord=#{Time.now.to_i}?"><IMG SRC="//ad.doubleclick.net/ad/N3016.786084.WHATSTRENDING/B8398323.113523691;sz=1x1;ord=#{Time.now.to_i}?" BORDER=0 WIDTH=1 HEIGHT=1 ALT="Advertisement"></A>
        .visible-xs
          = link_to static_page_url(:tubeathon), target: '', 'data-wt-trk' => wt_trk_evt(:click, :ad, :leaderboard, msg: 'tubeathon:mobileleaderboard:top') do
            = image_tag 'banners/tubeathon/2014/mobileleaderboard-v2@2x.jpg', alt:'', width: 320, height: 50
          <A HREF="//ad.doubleclick.net/jump/N3016.786084.WHATSTRENDING/B8398323.113523583;sz=1x1;ord=#{Time.now.to_i}?"><IMG SRC="//ad.doubleclick.net/ad/N3016.786084.WHATSTRENDING/B8398323.113523583;sz=1x1;ord=#{Time.now.to_i}?" BORDER=0 WIDTH=1 HEIGHT=1 ALT="Advertisement"></A>


    - when :mobile_page_header # 320x100 (adsense) / 300x250 (fm)

      - unless @_use_custom_ad
        .visible-xs
          - # Google Adsense
          <ins class="adsbygoogle" style="display:inline-block;width:320px;height:100px" data-ad-client="ca-pub-9100508276160869" data-ad-slot="1190327405"></ins>
          <script>(adsbygoogle = window.adsbygoogle || []).push({});</script>
          - # Federated Media
          - # <script type='text/javascript' src='//static.fmpub.net/zone/16314'></script>


    - when :page_footer # 728x90 / 970x90

      - # CUSTOM AD :: When putting these ads up, they must be manually loaded to S3
      - # = link_to contest_escape_submissions_url, target: '', 'data-wt-trk' => wt_trk_evt(:click, :ad, :leaderboard, msg: 'escape2roo:leaderboard:footer') do
      - #   = image_tag 'banners/escape2roo/leaderboard-v2.jpg', alt:'', width: 728, height: 90

      - unless @_use_custom_ad
        .hidden-xs
          - # Google Adsense
          - # <ins class="adsbygoogle" style="display:inline-block;width:728px;height:90px" data-ad-client="ca-pub-9100508276160869" data-ad-slot="2667060605"></ins>
          - # <script>(adsbygoogle = window.adsbygoogle || []).push({});</script>
          - # Federated Media
          <script type='text/javascript' src='//static.fmpub.net/zone/16285'></script>
        .visible-xs
          - # Google Adsense
          <ins class="adsbygoogle" style="display:inline-block;width:320px;height:100px" data-ad-client="ca-pub-9100508276160869" data-ad-slot="4143793800"></ins>
          <script>(adsbygoogle = window.adsbygoogle || []).push({});</script>

      - else
        .visible-lg
          = link_to static_page_url(:tubeathon), target: '', 'data-wt-trk' => wt_trk_evt(:click, :ad, :leaderboard, msg: 'tubeathon:wideleaderboard:footer') do
            = image_tag 'banners/tubeathon/2014/wideleaderboard-v2@2x.jpg', alt:'', width: 970, height: 90
          <A HREF="//ad.doubleclick.net/jump/N3016.786084.WHATSTRENDING/B8398323.113523584;sz=1x1;ord=#{Time.now.to_i}?"><IMG SRC="//ad.doubleclick.net/ad/N3016.786084.WHATSTRENDING/B8398323.113523584;sz=1x1;ord=#{Time.now.to_i}?" BORDER=0 WIDTH=1 HEIGHT=1 ALT="Advertisement"></A>
        .visible-sm.visible-md
          = link_to static_page_url(:tubeathon), target: '', 'data-wt-trk' => wt_trk_evt(:click, :ad, :leaderboard, msg: 'tubeathon:leaderboard:footer') do
            = image_tag 'banners/tubeathon/2014/leaderboard-v2@2x.jpg', alt:'', width: 728, height: 90
          <A HREF="//ad.doubleclick.net/jump/N3016.786084.WHATSTRENDING/B8398323.113523691;sz=1x1;ord=#{Time.now.to_i}?"><IMG SRC="//ad.doubleclick.net/ad/N3016.786084.WHATSTRENDING/B8398323.113523691;sz=1x1;ord=#{Time.now.to_i}?" BORDER=0 WIDTH=1 HEIGHT=1 ALT="Advertisement"></A>
        .visible-xs
          = link_to static_page_url(:tubeathon), target: '', 'data-wt-trk' => wt_trk_evt(:click, :ad, :leaderboard, msg: 'tubeathon:mobileleaderboard:footer') do
            = image_tag 'banners/tubeathon/2014/mobileleaderboard-v2@2x.jpg', alt:'', width: 320, height: 50
          <A HREF="//ad.doubleclick.net/jump/N3016.786084.WHATSTRENDING/B8398323.113523583;sz=1x1;ord=#{Time.now.to_i}?"><IMG SRC="//ad.doubleclick.net/ad/N3016.786084.WHATSTRENDING/B8398323.113523583;sz=1x1;ord=#{Time.now.to_i}?" BORDER=0 WIDTH=1 HEIGHT=1 ALT="Advertisement"></A>


    - when :post_conversationalist # 650x300

      - # Federated Media
      .hidden-post-sm
        <script type='text/javascript' src='//static.fmpub.net/zone/16288'></script>


    - when :post_sidebar # 300x250

      - # CUSTOM AD :: When putting these ads up, they must be manually loaded to S3
      - # = link_to contest_escape_submissions_url, target: '', 'data-wt-trk' => wt_trk_evt(:click, :ad, :sidebar, msg: 'escape2roo:sidebar:top') do
      - #   = image_tag 'banners/escape2roo/sidebar-v2.jpg', alt:'', width: 300, height: 250

      - unless @_use_custom_ad
        .hidden-xs
          - # Google Adsense
          - # <ins class="adsbygoogle" style="display:inline-block;width:300px;height:250px" data-ad-client="ca-pub-9100508276160869" data-ad-slot="5620527002"></ins>
          - # <script>(adsbygoogle = window.adsbygoogle || []).push({});</script>
          - # Federated Media
          <script type='text/javascript' src='//static.fmpub.net/zone/16286'></script>

      - else
        .hidden-xs
          = link_to static_page_url(:tubeathon), target: '', 'data-wt-trk' => wt_trk_evt(:click, :ad, :leaderboard, msg: 'tubeathon:sidebar:top') do
            = image_tag 'banners/tubeathon/2014/sidebar-v2@2x.jpg', alt:'', width: 300, height: 250
          <A HREF="//ad.doubleclick.net/jump/N3016.786084.WHATSTRENDING/B8398323.113523582;sz=1x1;ord=#{Time.now.to_i}?"><IMG SRC="//ad.doubleclick.net/ad/N3016.786084.WHATSTRENDING/B8398323.113523582;sz=1x1;ord=#{Time.now.to_i}?" BORDER=0 WIDTH=1 HEIGHT=1 ALT="Advertisement"></A>

    - when :post_sidebar_footer # 300x250

      - unless @_use_custom_ad
        .hidden-xs
          - # Google Adense
          - # <ins class="adsbygoogle" style="display:inline-block;width:300px;height:250px" data-ad-client="ca-pub-9100508276160869" data-ad-slot="7097260209"></ins>
          - # <script>(adsbygoogle = window.adsbygoogle || []).push({});</script>
          - # Federated Media
          <script type='text/javascript' src='//static.fmpub.net/zone/16286'></script>

      - else
        .hidden-xs
          = link_to static_page_url(:tubeathon), target: '', 'data-wt-trk' => wt_trk_evt(:click, :ad, :leaderboard, msg: 'tubeathon:sidebar:footer') do
            = image_tag 'banners/tubeathon/2014/sidebar-v2@2x.jpg', alt:'', width: 300, height: 250
          <A HREF="//ad.doubleclick.net/jump/N3016.786084.WHATSTRENDING/B8398323.113523582;sz=1x1;ord=#{Time.now.to_i}?"><IMG SRC="//ad.doubleclick.net/ad/N3016.786084.WHATSTRENDING/B8398323.113523582;sz=1x1;ord=#{Time.now.to_i}?" BORDER=0 WIDTH=1 HEIGHT=1 ALT="Advertisement"></A>


    - when :sidebar_upper # 300x250

      - # CUSTOM AD :: When putting these ads up, they must be manually loaded to S3
      - # = link_to contest_escape_submissions_url, target: '', 'data-wt-trk' => wt_trk_evt(:click, :ad, :sidebar, msg: 'escape2roo:sidebar:top') do
      - #  = image_tag 'banners/escape2roo/sidebar-v2.jpg', alt:'', width: 300, height: 250

      - unless @_use_custom_ad
        .hidden-xs
          - # Google Adsense
          - # <ins class="adsbygoogle" style="display:inline-block;width:300px;height:250px" data-ad-client="ca-pub-9100508276160869" data-ad-slot="5620527002"></ins>
          - # <script>(adsbygoogle = window.adsbygoogle || []).push({});</script>
          - # Federated Media
          <script type='text/javascript' src='//static.fmpub.net/zone/16286'></script>

      - else
        .hidden-xs
          = link_to static_page_url(:tubeathon), target: '', 'data-wt-trk' => wt_trk_evt(:click, :ad, :leaderboard, msg: 'tubeathon:sidebar:top') do
            = image_tag 'banners/tubeathon/2014/sidebar-v2@2x.jpg', alt:'', width: 300, height: 250
          <A HREF="//ad.doubleclick.net/jump/N3016.786084.WHATSTRENDING/B8398323.113523582;sz=1x1;ord=#{Time.now.to_i}?"><IMG SRC="//ad.doubleclick.net/ad/N3016.786084.WHATSTRENDING/B8398323.113523582;sz=1x1;ord=#{Time.now.to_i}?" BORDER=0 WIDTH=1 HEIGHT=1 ALT="Advertisement"></A>


    - when :sidebar_lower # 300x250

      - # CUSTOM AD :: When putting these ads up, they must be manually loaded to S3
      - # = link_to contest_escape_submissions_url, target: '', 'data-wt-trk' => wt_trk_evt(:click, :ad, :sidebar, msg: 'escape2roo:sidebar:top') do
      - #   = image_tag 'banners/escape2roo/sidebar-v2.jpg', alt:'', width: 300, height: 250

      - unless @_use_custom_ad
        .hidden-xs
          - # Google Adense
          - # <ins class="adsbygoogle" style="display:inline-block;width:300px;height:250px" data-ad-client="ca-pub-9100508276160869" data-ad-slot="7097260209"></ins>
          - # <script>(adsbygoogle = window.adsbygoogle || []).push({});</script>
          - # Federated Media
          <script type='text/javascript' src='//static.fmpub.net/zone/16286'></script>

      - else
        .hidden-xs
          = link_to static_page_url(:tubeathon), target: '', 'data-wt-trk' => wt_trk_evt(:click, :ad, :leaderboard, msg: 'tubeathon:sidebar:bottom') do
            = image_tag 'banners/tubeathon/2014/sidebar-v2@2x.jpg', alt:'', width: 300, height: 250
          <A HREF="//ad.doubleclick.net/jump/N3016.786084.WHATSTRENDING/B8398323.113523582;sz=1x1;ord=#{Time.now.to_i}?"><IMG SRC="//ad.doubleclick.net/ad/N3016.786084.WHATSTRENDING/B8398323.113523582;sz=1x1;ord=#{Time.now.to_i}?" BORDER=0 WIDTH=1 HEIGHT=1 ALT="Advertisement"></A>