@import 'bootstrap-sprockets';
@import 'bootstrap';
@import 'bootstrap-datetimepicker';
@import 'bourbon';
@import 'select2';
@import 'jquery.Jcrop';
@import 'jquery.markitup';
@import 'global/defaults';
@import 'global/scaffold';
@import 'admin/**/*';


/*via https://github.com/twbs/bootstrap/issues/9588*/
.navbar-inverse .dropdown-menu {background-color: #222;border-color: #080808;}
.navbar-inverse .dropdown-menu>li.divider{background-color: #555;}
.navbar-inverse .dropdown-menu>li>a{color: #999;}
.navbar-inverse .dropdown-menu>li.disabled>a{color: #555;}
.navbar-inverse .dropdown-menu>li>a:hover{color: #fff;background-color: #000;}

.list-group-item.disabled {opacity: .3;}

.list-group {counter-reset: ranking;}
.list-group .list-group-item:not(.disabled) {counter-increment: ranking; }
.list-group .list-group-item:not(.disabled) .rank:before {content: counter(ranking);}
.page-header:nth-child(1) {margin-top: 0;}
header.navbar .navbar-brand {padding-top: 0; padding-bottom: 0;}
header.navbar .navbar-brand img {height: 50px; width: 50px;}
.navbar .navbar-brand strong {color: #000;}


#dashboard_stats + .tab-content {
  .list-group {
    .list-group-item {position: relative;
      .badge {position: absolute; top: 15px; left: -5px; background-color: $wt-logo-blue; font-size: 16px; border-radius: 0; padding: 5px 10px;}
      .media-object {width: 100px; height: auto;}
      .media-body {padding-top: 5px;}
      h4 {font-size: 13px;}
    }
  }
}
#followers_counts {padding-bottom: 20px;
  .tab-content {padding: 10px 0;
    .wticon {font-size: 1.6rem; vertical-align: middle; padding: 0 2px;}
  }
}

.fixed-col {position: fixed !important; top: 50px; bottom: -1px; right: 0; overflow: hidden; overflow-y: scroll; overflow-x: hidden; border-radius: 0; z-index: 10; margin-bottom: 0 !important;}
.fixed-col h2, .fixed-col h3 {padding-top: 0; margin-top: 10px;}


form {
  label.control-label {font-weight: 600;
    abbr[title="required"] {color: $wt-live-red; outline: none; border: none; text-decoration: none;}
  }
  div.input {padding: 4px 0;}
  .form-group {padding: 4px 0;
    & > label {font-weight: 600; padding-top: 12px; margin-bottom: 2px;}
    div.input.boolean {padding: 0;
      label.control-label {font-weight: 400; margin-top: 5px; margin-bottom: 5px;}
    }
  }
  fieldset[disabled] {
    label {opacity: .5;}
  }
}

.page-header {
  .btn.pull-right, .btn.pull-left {margin-top: 16px;}
  .btn.pull-right + .btn.pull-right {margin-right: 12px;}
  .btn.pull-left + .btn.pull-left {margin-left: 12px;}
}

.row.share-buttons .share-platform {font-size: 128.57%;}


.small {
  .label {font-size: 66.67%; display: inline-block; padding: .3em .6em .5em; vertical-align: middle; }
}

html.admin {
  body.posts {
    tr.disabled td {}
    td {
      .thumbnail {margin-bottom: 0;}
      h2, h3 {margin-top: 10px;}
    }

    .tab-pane {padding: 10px; background-color: rgb(245,245,245); border: 1px solid #e3e3e3; border-top: none; }
    form .tabbable li.active {
      &, a {background-color: rgb(245,245,245);}
    }
  }
}

.glyphicon.glyphicon-lock {width: 19px; overflow: hidden;}
