// Load up defaults
@import 'global/defaults';
@-webkit-viewport   { width: $wt-max-width; }
@-moz-viewport      { width: $wt-max-width; }
@-ms-viewport       { width: $wt-max-width; }
@-o-viewport        { width: $wt-max-width; }
@viewport           { width: $wt-max-width; }

// Load up boostrap template & bourbon mixins
@import 'bootstrap';
@import 'bourbon';

// Load the default layout and additional styling
@import 'global/scaffold';
@import 'page/layout';


#contest-header {border-top: 10px solid $wt-black; background: image-url('contest/escape/bg/header.png') top left repeat-x; height: 85px;
  .container {position: relative;}
  .logos {position: absolute; top: 27px; left: 0;
    .ford-logo {display: block; margin: 0 5px 0 0; background-image: image-url("contest/escape/ford-logo@2x.png"); background-size: 100% 100%; width: 61px; height: 21px;
      &:hover {opacity: .6;}
    }
    .wt-logo-presents {background-image: image-url("contest/escape/header-logo@2x.png"); background-size: 100% 100%; width: 199px; height: 25px;}
  }
  .nav-heading {text-align: center;
    .navbar-brand {margin: 17px auto 0 auto; padding: 0; height: auto; float: none; text-align: center; display: inline-block;
      .logo {background-image: image-url("contest/escape/escape-logo@2x.png"); background-size: 100% 100%; width: 355px; height: 45px;}
    }
  }
  .submit-button {position: absolute; top: 0; bottom: 0; right: 0; height: 100%; border-left: 1px dotted rgba($wt-md-grey,.82);
    a {display: inline-block; margin-top: 10px; padding: 20px 10px 20px 18px; font-size: 14px; line-height: 1.0em; font-weight: 500; color: $wt-black; text-transform: uppercase;
      &:hover {color: $wt-logo-blue;}
    }
  }
}

#main-content {margin-top: 85px; min-height: 400px;}
.content-area {background-color: $wt-white; box-shadow: 0 3px 5px rgba($wt-black,.12);}


.btn.btn-wt.btn-default {border: none; border-radius: 0; background-color: $wt-logo-blue; color: $wt-white; font-weight: 500; text-transform: uppercase;
  &:hover {background-color: $wt-red; color: $wt-white;}
}

body {background-color: $wt-lt-white;}


.submissions-container {
  .nav-tabs { text-align: center;
    li { display: inline-block; float: none; font-size: 28px; text-transform: uppercase;
      a {padding-left: 25px; padding-right: 25px;}
    }
  }
}

.container {width: 920px;}

#disclaimer-rules { padding: 30px 0 20px 0;
  p {text-align: center; font-size: 10px; line-height: 15px; color: rgba($wt-ft-grey, .6);
    a {text-decoration: underline; color: $wt-logo-blue;
      &:hover {color: $wt-red;}
    }
  }
}

body.submissions_index {
  .jumbotron {position: relative; margin-bottom: 0; padding-top: 58px; background: image-url('contest/escape/bg/splash.jpg') center center no-repeat; background-size: cover;
    .rel {position: relative;}
    h2 {padding: 0 0 30px 0; margin: 0; font-size: 42px; font-weight: 600; color: $wt-white; line-height: 50px; text-transform: uppercase;}
    h3 {padding: 0 0 30px 0; margin: 0; font-size: 36px; font-weight: 600; color: $wt-white; line-height: 44px; text-transform: uppercase;}
    h6 {padding: 0 0 15px 0; margin: 0; font-size: 20px; font-weight: 600; color: $wt-white; line-height: 26px; text-transform: uppercase;}
    a.btn {font-size: 24px; line-height: 1.0em; padding: 25px 90px;}
    .col-sm-6 {height: 100%; position: inherit;}
    img {position: absolute; bottom: -36px; margin: 0 auto;}
    .ford-cta {position: absolute; display: inline-block; max-width: 190px; right: 0; top: 55px; font-size: 14px; font-weight: 500; background-color: $wt-ft-grey; padding: 12px 22px; border-radius: 15px; text-decoration: underline; color: $wt-md-grey; text-align: center;
      &:hover {color: $wt-white; background-color: $wt-logo-blue; box-shadow: 0 3px 5px rgba($wt-black, .1);}
    }
  }
  .jumbotron-bottom {padding-top: 7.07%; background: $wt-dk-black image-url('contest/escape/bg/splash-bottom@2x.png') top center no-repeat; background-size: cover;}
}

.submissions { margin-top: 30px;
  li.submission {padding-bottom: 30px;
    &:nth-child(3n+1) {clear: left;}
    .thumb {position: relative; text-transform: uppercase; padding: 75% 0 0 0; background-position: center center; background-repeat: no-repeat; -webkit-background-size: cover; -moz-background-size: cover; -o-background-size: cover; background-size: cover;
      div {color: white; position: absolute; padding: 8px 12px; left: -10px; background-color: $wt-bt-blue;}
      .rank {top: 10px; font-weight: 500; font-size: 24px;
        em {font-size: 75%; vertical-align: baseline; top: -.33em; margin-right: 1px; position: relative; font-style: normal;}
      }
      .vote-count {bottom: 10px; font-weight: 500; font-size: 24px; text-transform: uppercase;
        em {font-size: 75%; vertical-align: baseline; font-style: normal; text-transform: none;}
      }
    }
    h4 {color: $wt-white;}
    p {color: $wt-dull-green;}
  }
  .pagination {
    .next, .previous, .more {height: auto; margin-bottom: -21px;
      a {background-color: $wt-logo-blue; font-size: 20px;
        &:hover {background-color: $wt-ft-grey;}
      }
    }
  }
}

.submissions-container { background-color: $wt-ft-grey; padding: 30px 0 0 0; box-shadow: 0 5px 7px rgba($wt-dk-black,.2);
  .tabbable {
    ul.nav.nav-tabs { border: none;
      li {
        a {background-color: rgba($wt-dull-green,.1); border-radius: 16px; color: rgba($wt-dull-green,.8); border: 5px solid rgba($wt-black,0); margin: 0 10px; font-weight: 500; text-transform: none; font-size: 20px;
          &:hover {background-color: rgba($wt-dull-green,.2);}
        }
        &.active {
          a {border: 5px solid $wt-logo-blue; color: $wt-white; background-color: rgba($wt-dull-green,.2);}
        }
      }
    }
  }
}

#content-area {display: inline-block; margin: 90px 0 32px 0; padding: 30px 0; width: 100%; background-color: $wt-white; box-shadow: 0 3px 5px rgba($wt-black, 0.12);}

.how-to-enter, .finalist-announcement { background: $wt-dk-black; padding: 0;
  h3 {margin: 0 0 30px 0; padding: 0; background: image-url('contest/escape/titles/how-to-enter.png') top left no-repeat; width: 343px; height: 75px; font-size: 0em; text-indent: -9999px;}
  h5 {color: $wt-logo-blue; font-size: 18px; line-height: 26px; font-weight: 500; margin: 0; padding: 0;}
  p {font-size: 14px; line-height: 22px; font-weight: 400; color: $wt-white; padding: 15px 0 0 0;}
  .container {position: relative; padding: 50px 0 205px 0;}
  .icon1, .icon2 {position: absolute; bottom: 0;}
  .icon1 {left: 0; width: 467px; height: 192px; background: image-url('contest/escape/how-to-enter-arch.png') bottom left no-repeat; background-size: cover;}
  .icon2 {right: 0; width: 203px; height: 141px; background: image-url('contest/escape/how-to-enter-mushroom.png') bottom right no-repeat; background-size: cover;}
}
.finalist-announcement {
  h1,h2,h3,h4 {color: $wt-white;}
  h2 {margin-top: 10px;}
  .video {padding: 20px 0;}
  hr {border-color: rgba($wt-white,.32); margin: 30px 0 0 0;}
}

#submission-detail {
  .content-area {margin-bottom: 2px;}
  .explainer_teaser {font-weight: bold; font-size: 16px; line-height: 18px; font-weight: 500; color: rgba($wt-dk-black,.5);}
  .explainer { padding-top: 24px; padding-bottom: 0;
    .alert {text-align: center; font-weight: 500; padding: 0; margin: 0;
      p {padding: 3px 0; margin: 0 auto; max-width: 800px; font-size: 17px; line-height: 21px; color: rgba($wt-dk-black,.7);
        strong {font-size: 20px; font-weight: 600; color: $wt-dk-black;}
      }
    }
  }
  .submission-header {padding: 35px 0 30px 0;
    h1 {font-size: 36px; line-height: 42px; color: $wt-dk-black; margin-top: 0;}
    h4 {font-size: 20px; line-height: 25px; color: $wt-dull-green;}
    .submitter {padding: 15px 0 0 32px;
      h6 {font-size: 13px; color: $wt-grey; line-height: 17px; font-weight: 400; margin: 0 0 3px 0;}
      .name {color: $wt-dk-black; font-weight: 500; font-size: 13px; line-height: 17px;}
      .pull-left {
        &.link, &.name, &.img {line-height: 35px; vertical-align: middle;}
        &.img {width: 35px; height: 35px; background-color: $wt-lt-grey;}
        &.name {margin: 0 2px 0 6px;}
        &.link {font-size: 28px; color: $wt-grey;
          &:hover {color: $wt-ft-grey; opacity: .48;}
        }
      }
    }
  }
  .performing {padding: 0 0 25px 0; margin: -10px 0 0 0;
    h1 {margin: 0; padding: 0; color: $wt-live-red;}
    p {padding: 5px 0 0 0;}
  }
  .submission-wrapper {position: relative; text-align: center; max-width: 800px;
    .submission-meta {position: absolute; left: -90px; width: 100px; height: 100px; vertical-align: middle; padding: 25px 5px 15px 5px; text-transform: uppercase; background-color: $wt-bt-blue; z-index: 110; color: $wt-white; font-weight: 600; font-size: 14px; text-align: center; line-height: 20px;
      &.vote-count, &.winner-count {top: 15px;}
      &.winner-count {padding-top:41px; font-size: 22px;}
      &.rank {top: 135px;}
      .new {line-height: 51px; font-size: 24px;}
      .number {font-size: 32px; line-height: 32px;}
    }
  }
  .hike-up-bottom {margin-bottom: -70px;}
  .submission-video {position: relative; padding: 0; width: 100%;
    &.youtube {padding-top: 56.25%;}
    &.vimeo {padding-top: 41.5625%;}
    iframe {position: absolute; top: 0; bottom: 0; width: 100%; height: 100%; z-index: 1; margin: 0 auto; left: 0; right: 0; box-shadow: 0 3px 5px rgba($wt-black,.12);
//      &:hover {z-index: 105;}
    }
  }
  .submission-vote {padding: 60px 30px 30px 0;
    .vote-now, .use-tags, .hashtag {display: inline-block; text-transform: uppercase; color: $wt-white; font-weight: 600; z-index: 5;}
    .share-row {padding-top: 15px;}
    .use-tags {padding: 10px; background: none repeat scroll 0 0 $wt-red; margin-left: -30px; margin-top: -22px; position: absolute; z-index: 100; font-size: 16px;}
    .vote-now {padding: 10px; background: none repeat scroll 0 0 $wt-red; margin-bottom: -4px; font-size: 16px;}
    .hashtag {padding: 30px 12px; font-size: 26px; line-height: 1.0em; position: relative; background-color: $wt-logo-blue; }
    ul.share-buttons {display: inline-block; margin: 0 20px; vertical-align: bottom; width: 160px;
      li:first-child {}
      .share-icon {margin-left: 15px;}
    }
    .share-url-wrapper {display: inline-block; vertical-align: bottom; height: 33px;
      .share-url {background: none repeat scroll 0 0 white; display: inline-block; font-size: 13px; height: 33px; max-width: 320px; overflow: hidden; padding: 7px 0 7px 5px; color: rgba($wt-dk-black,.64); border: 1px solid rgba($wt-dk-black,.24);
        &:focus {outline: none;}
      }
      #copy-clipboard {background-color: $wt-bt-blue; display: inline-block; padding: 8px 9px; height: 33px; margin-left: -5px; vertical-align: middle;
        &:hover {opacity: .5;}
      }
    }
  }
  .submission-video-info { max-width: 800px; margin-top: 40px; padding-top: 0px; border-top: 1px solid $wt-lt-grey;
    h2 {font-size: 16px; color: $wt-dull-green;} 
    h4 {font-size: 28px; line-height: 28px; color: $wt-ft-grey;}
    p {font-size: 14px; line-height: 22px; color: $wt-dk-black;}
  }
}

#submission-thanks { background-color: $wt-dk-black; padding: 55px 0 0 0; box-shadow: 0 3px 5px rgba($wt-black, 0.12);
  .container {background-color: none;
    .row {padding: 0 10%;}
    h1 {font-size: 36px; line-height: 42px; color: $wt-white; margin-top: 0;}
    p {font-size: 15px; line-height: 22px; color: $wt-lt-white;
      &.return-link {padding-top: 35px; margin-bottom: -30px;}
    }
    .btn.btn-wt {padding: 18px 25px; font-size: 20px; text-transform: none;}
  }
}

#submission-form { background-color: $wt-dk-black; padding: 35px 0 0 0;
  .submission-form-wrapper {max-width: $wt-min-width; margin-bottom: 70px;
    h1 {font-size: 36px; line-height: 42px; color: $wt-white; margin-top: 0;}
    img {max-width: 100%;}
  
    .submission-band-name {font-size: 36px; margin-bottom: 4px;}
    .submission-song-title {font-size: 20px;}

    #step2 {
//      margin-bottom: -102px;
      padding-top: 10px;}

    .video-preview { margin: 25px 5%; padding: 20px; background: rgba($wt-lt-white,.92); border: 1px solid $wt-lt-grey;
      .preview-wrapper {position: relative; padding-top: 18.75%;}
      .img {background-size: cover; background-position: center center; top: 0; left: 0; right: 15px; bottom: 0; position: absolute; border: 1px solid $wt-md-grey;}
      .text-muted {background-color: $wt-dk-black; color: $wt-dk-black; opacity: .3; display: inline-block; padding: 0 3px;}
      h5 {margin: 0; padding: 0 0 15px; font-size: 18px; color: $wt-dk-black; opacity: .5;}
      h4 {font-size: 24px; line-height: 28px; color: $wt-dk-black;}
      p {font-size: 15px; line-height: 22px; color: $wt-ft-grey;
        .text-muted {line-height: 16px; opacity: .2;}
      }
    }
    .submission-form {
      label {font-size: 20px; font-weight: 400; color: rgba($wt-lt-white,.8);}
      .col-sm-8 {
        label {font-size: 16px; color: $wt-lt-white; }
        input.form-control {border-radius: 0; outline: none; font-size: 24px; line-height: 32px; height: 44px;}
        a {color: $wt-logo-blue; text-decoration: underline;
          &:hover {opacity: .7;}
        }
      }
      hr {border-color: rgba($wt-md-grey,.42); background-color: transparent;}
      abbr {color: $wt-red; border: none; outline: none; text-decoration: none; vertical-align: super; font-size: 11px; }
  //    input[type="submit"], .form-action {text-transform: uppercase;}
      input[disabled="disabled"], textarea[disabled="disabled"] {background: transparent; border: none; box-shadow: none;}
      .custom-error-message {color: $wt-red;}
      input[type='checkbox'] {outline: none;}
      .form-group.boolean {
        label.radio, label.checkbox {display: inline-block;}
        label.control-label {text-align: left; margin-left: 0;}
        .parsley-errors-list {padding: 0; margin: 0;}
        .parsley-custom-error-message {position: relative; left: 100%; min-width: 400px; text-align: left; padding: 0 0 5px 30px;}
      }
      .with-oauth.user-info { display: none; padding: 0 0 18px 0;
        .user_name {font-weight: 500; font-size: 24px; color: $wt-lt-white; line-height: 30px;}
        .provider {text-transform: capitalize; color: $wt-grey;}
      }
      input[type='submit'], .social-buttons .btn {font-size: 24px; padding: 20px 30px; margin: 0 5px;
        span.wticon {font-size: 48px; line-height: 20px; margin-top: 5px; display: inline-block; vertical-align: top;
          &.wticon-facebook {margin-top: 3px;}
        }
      }
      .form-action {padding-top: 20px;}
      .social-buttons {
        p {color: $wt-lt-white; font-size: 15px;
          &.lead {font-size: 24px;}
          &.buttons {padding-bottom: 15px;}
          #next-step {color: $wt-logo-blue;
            &:hover {opacity: .7;}
          }
        }
      }
    }
  }
}

body.submissions_rules {
  #main-content {padding-bottom: 35px; padding-top: 10px;}
  h1 {padding-bottom: 15px;}
  p, li, h5 {font-size: 14px; line-height: 20px; padding: 0 0 5px 0;}
  p:last-child {padding-bottom: 0}
  ol { counter-reset: legalcounter;
    &> li {list-style: none; position: relative;
      &:before {content: counter(legalcounter) ".";
        counter-increment: legalcounter;
        margin-right: -5px;
        font-weight: bold;
        display: inline; position: absolute; top: 0; right: 100%; padding-right: 15px; text-align: right;
      }
      table.table {margin: 10px 0 20px 50px; width: auto;
        th {background-color: $wt-lt-grey;}
      }
      a {text-decoration: underline;}
      strong.heading {text-decoration: underline; padding-right: 10px; text-transform: uppercase; font-weight: 600;}
      ul { margin: 0 0 0 35px; padding: 0;
        li {list-style-type: disc; padding-left: 5px;}
      }
    }
  }
}
  

#footer { background-color: $wt-dk-black; padding: 30px 0 20px 0; color: $wt-dull-green;
  a {@include transition(color .2s ease-in-out); }
  .copyright {padding: 0 20px 0 0; line-height: 32px;}
  .nav li {padding: 0 10px; line-height: 32px;
    a {color: $wt-white;
      &:hover {color: $wt-trend-color;}
    }
  }
  .share-links { padding: 0 50px 0 0;
    li a {padding: 0 5px; font-size: 2.2rem; line-height: 1.0em; color: $wt-white;
      &:hover {color: $wt-trend-color;}
    }
  }
  li { display: inline-block; }
  a { color: $wt-dull-green; }
  #credits {vertical-align: middle; line-height: 32px; font-size: 12px;
    .wticon {font-size: 2.4rem; line-height: 0em; vertical-align: middle; margin-left: 4px;}
    a:hover {opacity: .7;}
  }
}
