.container.admin-layout
  .row
    .col-sm-8
      .page-header
        .pull-left
          %h1= t('.hompage_layout')
          .lead
            = t('.layout_description')
            - helper_popover(t('.hompage_layout'), t('.popover'), html: true, placement: :bottom)
        .pull-right
          = form_for :layout, url: admin_layouts_url, html: { id: 'layout-form' } do |f|
            = f.button class: 'btn btn-success btn-lg pull-right', 'data-loading-text' => t(:publishing) do
              %span.glyphicon.glyphicon-check
              = t(:publish)
        .clearfix

      %ul#recommended-posts.list-unstyled.sortable
        - 5.times do |i|
          - post = @recommended_posts[i]
          %li{ 'data-id' => "#{post.try(:id)}", draggable: 'true', 'data-position' => "#{i}" }
            .list-group-item
              - unless post.nil?
                %button.remove-post.close &times;
                = image_tag(post.promo_image.url(:feed))
                %h3= post.title

    .col-sm-4.well.fixed-col
      %h3= t('.recently_published')
      %ul#post-candidates.list-unstyled.sortable
        - @posts.each do |post|
          %li{ 'data-id' => "#{post.id}", draggable: 'true', 'data-position' => "0" }
            .list-group-item
              %button.remove-post.close &times;
              = image_tag(post.promo_image.url(:thumbnail))
              %h3= post.title
