.category-list{ 'data-category' => category.slug }
  - if category.slug == 'video'
    - categories = category.children.where.not(slug: 'originals').take(3).map{|c| {id: c.id, name: c.name, slug: c.slug, posts: c.posts.published.includes(:category).recent.limit(10)} }

    %ul.pull-left.tabs.list-unstyled
      - categories.each_with_index do |c,i|
        %li= link_to c[:name], category_url(c[:slug]), 'data-tab' => c[:slug], class: (i > 0 ? '' : 'active')

    - categories.each_with_index do |c,i|
      .recent-posts.tab{'data-tab' => c[:slug], class: (i > 0 ? '' : 'open')}
        %h2= t('.latest_videos')
        %ul.list-unstyled
          - c[:posts].take(5).each do |post|
            = render 'posts/post', post: post, image: :thumbnail, format: :slide, skip: [:category], trk: wt_trk_evt(:click, :dropdown, :recent, msg: c[:slug])
        .clearfix

  - else
    - posts = Post.nested_category(category).includes(:category).published.recent.limit(12)
    - #posts = posts.where.not(id: @trending_post) unless @trending_post.blank?
    - posts = posts.shuffle unless category.slug == 'trending-now'

    - unless @trending_post.blank?
      .pull-left.trending-post
        %h2= t('.trending_post')
        %ul.list-unstyled
          = render 'posts/post', post: @trending_post, skip: [:category], format: :list_text, image: :thumbnail, trk: wt_trk_evt(:click, :dropdown, :trending, msg: category.slug)
        .clearfix
    .recent-posts
      %h2= t('.latest_posts')
      %ul.list-unstyled
        - posts.take(8).each do |post|
          = render 'posts/post', post: post, image: :thumbnail, format: :slide, skip: [:category], trk: wt_trk_evt(:click, :dropdown, :recent, msg: category.slug)
      .clearfix

  .clearfix