%li.dropdown{'data-category' => nav_category.slug}
  = link_to category_url(nav_category), 'data-wt-trk' => wt_trk_evt(:click, :dropdown, :nav_category, msg: nav_category.slug) do
    = nav_category.name
    - if nav_category.slug == 'video'
      %span.caret.hidden-sm