%li.dropdown{'data-category' => nav_category_mobile.slug}
  = link_to nav_category_mobile.name, category_url(nav_category_mobile), 'data-wt-trk' => wt_trk_evt(:click, :dropdown, :nav_category_mobile_mobile, msg: nav_category_mobile.slug)