- if @trend_list.present?
  .box
    .page-header
      %h3= t('.trending_now')

    %ul.trends-list.list-unstyled
      - cache([@trend_list, 'categories', 'sidebar-10'], expires_in: 15.minutes) do
        - @trend_list.take(10).each_with_index do |trend_item, i|
          = render trend_item, rank: i+1, format: :sidebar
          - if false #i == 2
            %li.page-ad
              = render 'global/ads', ad: :sidebar_upper

- if @posts && @posts.size >= 10
  .bottom-ad.page-ad
    = render 'global/ads', ad: :sidebar_lower

- unless @_page > 9
  #sidebar_footer