- @body_classes << 'homepage'


- content_for(:wide) do
  - cache(['homepage','all'], expires_in: 1.minute) do
    - unless @featured_posts.blank?
      #feature-area
        .inner-wrap
          .trends-list-container.col-md-2.hidden-sm.hidden-xs
            .trending-list
              %h2= t('.trending_now')
              %ul.trends-list.list-unstyled
                - cache(['homepage', @trend_list, 'homepage-3'], expires_in: 15.minutes) do
                  - unless @trend_list.blank?
                    - @trend_list[0..2].each_with_index do |trend_item, i|
                      = render trend_item, rank: i+1, format: :homepage_sidebar

          - cache(['homepage', 'featured_posts'], expires_in: 5.minutes) do
            .featured-post-container.col-sm-5.col-xs-12
              %ul.list-unstyled.posts-list
                - @featured_posts[0..0].each do |post|
                  = render post, format: :homepage_featured, trk: wt_trk_evt(:click,:homepage,:featured,'large')

            .post-grid-container.col-md-6.col-sm-7.col-xs-12
              %ul.list-unstyled.posts-list
                - @featured_posts[1..4].each do |post|
                  = render post, format: :boxed, trk: wt_trk_evt(:click,:homepage_grid,:featured)

          .clearfix

    #posts-dashboard.container-full
      .container-wrap
        .trending-list.col-md-4.hidden-sm.hidden-xs
          .page-header
            %h2= t('.trending_now')


          - unless @trend_list.blank?
            %ul.trends-list.list-unstyled.trends-list-hidden-three
              - @trend_list[0..2].each_with_index do |trend_item, i|
                = render trend_item, rank: i+1, format: :sidebar
            %ul.trends-list.list-unstyled
              - @trend_list[3..9].each_with_index do |trend_item, i|
                = render trend_item, rank: i+4, format: :sidebar
            .clearfix

        .popular-posts-list.col-md-5.col-sm-6.col-xs-12
          .page-header
            %h2= t('.popular_posts')

          - unless @popular_posts.blank?
            %ul.list-unstyled.posts-list
              - @popular_posts.shuffle[0..2].each do |post|
                = render post, format: :featured, trk: wt_trk_evt(:click,:homepage,:popular)
            .clearfix

        .latest-posts-list.col-md-3.col-sm-6.hidden-xs
          .page-header
            %h2= t('.latest_posts')

          - cache(['homepage', 'latest_posts'], expires_in: 5.minutes) do
            - unless @latest_posts.blank?
              %ul.list-unstyled.posts-list
                - @latest_posts[0..3].each do |post|
                  = render post, format: :boxed, trk: wt_trk_evt(:click,:homepage,:latest)
              .clearfix
        .clearfix

    = render 'categories/home/latest_videos'

    = render 'posts/more', posts: @posts