$('#posts-list').append($('#{j render(@posts, has: [:share])}'));
- if @posts.next_page
  $('.pagination').replaceWith('#{j will_paginate(@posts, renderer: MoreButtonPagination::Rails, page_links: false)}');
  $('.page-entries-info').replaceWith('#{j page_entries_info(@posts)}');
- else
  $('.pagination').remove();
$(window).trigger('preload:images')