
- # Search page
- if params[:q].present?
  - @body_classes << 'category'
  - @page_title = t('.searching_title', q: params[:q])
  - @page_description = t('.searching_desc', q: params[:q])
  - @page_robots_index = 'noindex'


- if params[:search]
  .content-box
    .page-header
      %h2.text-center= t(:search)

    - unless params[:q].blank?
      - unless @posts.blank?
        .page-content
          .lead= t('.searching_for', q: params[:q])
          .page-entries-info= page_entries_info(@posts, model: Post)
        %ul#posts-list.list-unstyled
          = render @posts
        .clearfix

        = will_paginate @posts, renderer: MoreButtonPagination::Rails, more_label: t(:more_search_results), page_links: false

    - if @posts.blank? || params[:q].blank?
      .page-content
        - unless params[:q].blank?
          .lead= t('.searching_for', q: params[:q])
          %p No results found. Try another search&hellip;
        - else
          .lead= t('.search')
        %form#page-search-form{action: search_url, method: :get, role: :search}
          %input{type: :text, name: :q, value: params[:q], placeholder: '', autocomplete: :off, 'data-wt-trk' => wt_trk_evt(:action, :search, :intent)}
          %button{type: :submit, value: 'Go'}
            %span.wticon.wticon-search

- else
  - # PAGINATED LIST
  .content-box
    .page-header
      %h3
        = t('.latest_posts')
        - unless @_page == 1
          %small= t('.page', page: @_page)
      .clearfix

    - unless @posts.blank?
      - # POSTS LIST
      %ul#posts-list.posts-list.list-unstyled
        - @posts.each_with_index do |post, i|
          - # TODO : EVENTUAL INLINE PLACEMENT OF ADS
          = render post, has: [:share]
      .clearfix

      .text-center
        = will_paginate @posts, renderer: MoreButtonPagination::Rails, page_links: false
