- @body_classes << 'category'
- @page_title = t('categories.show.page_title', name: @category.name)
- @page_description = @category.description
- @page_keywords = @category.name.downcase
- @page_canonical_url = category_url(@category)


.content-box
  .page-header
    %h2
      = @category.name
      - unless @_page == 1
        %small= t('.page', page: @_page)

  - unless true #@category.description.blank?
    .page-content
      .lead= @category.description

    .clearfix

  %ul#posts-list.list-unstyled
    = render @posts, skip: [:category]
  .clearfix

  = will_paginate @posts, renderer: MoreButtonPagination::Rails, more_label: t(:more_label, item: @category.name), page_links: false
