$('#posts-list').append($('#{j render(@posts, skip: [:category])}'))
- if @posts.next_page
  $('.pagination').replaceWith('#{j will_paginate(@posts, renderer: MoreButtonPagination::Rails, more_label: t(:more_label, item: @category.name), page_links: false)}');
- else
  $('.pagination').remove();
$(window).trigger('preload:images')