= simple_form_for @user, wrapper: :horizontal, url: (@user.new_record? ? admin_users_url : admin_user_url), html: { role: :form, class: 'form-horizontal', "data-validate" => "parsley" } do |f|
  = f.error_notification

  = f.input :first_name
  = f.input :last_name
  = f.input :email
  = f.input :login

  - unless f.object.avatar_file_name.blank?
    .col-sm-offset-3.col-sm-8
      = image_tag f.object.avatar.url(:medium), alt: '', title: '', class: 'img-responsive'
  = f.input :avatar

  = f.input :title
  = f.input :byline, as: :text

  - unless f.object.new_record?
    = f.input :password
    = f.input :password_confirmation, label: "Confirm Password"

  = f.input :twitter_handle
  = f.input :twitter_id, as: :hidden
  = f.input :facebook_handle
  = f.input :facebook_id, as: :hidden

  - if current_user.is?(:super,:manager)
    .form-group
      .col-sm-3.text-right
        = label_tag nil, t('.user_level'), class: 'control-label'
      .col-sm-8.text-left
        - User.access_roles.each do |role|
          .radio-inline
            = radio_button_tag "user[access_roles][#{role}]", role, (f.object.is?(role) || (f.object.roles.empty? && role == :user)), {id: "user_access_roles_#{role}", name: "user[access_roles][]"}
            = label_tag "user_access_roles_#{role}", t("users.roles.#{role.to_s}").humanize

    .form-group
      .col-sm-3.text-right
        = label_tag nil, t('.access_level'), class: 'control-label'
        %small.text-muted= t('.for_admin_level')
      .col-sm-8.text-left
        - (User.admin_roles + [:none]).each do |role|
          - next if role == :super && !current_user.is?(:super) # Shh...
          .radio
            = radio_button_tag "user[admin_roles][#{role}]", role, f.object.is?(role), {id: "user_admin_roles_#{role}", name: "user[admin_roles][]"}
            = label_tag "user_admin_roles_#{role}", t("users.roles.#{role.to_s}").humanize

    = hidden_field_tag "user[roles][]", ""

  .form-group
    .col-sm-offset-3.col-sm-8
      = f.button :submit, class: 'btn btn-default'