%nav.navbar.navbar-default{role: :navigation}
  .container-fluid
    .navbar-header
      %button.navbar-toggle{"data-target" => "#bs-example-navbar-collapse-1", "data-toggle" => "collapse", type: "button"}
        %span.sr-only Toggle navigation
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      = link_to admin_users_url, class: 'navbar-brand' do
        %strong= t('.users')
    .collapse.navbar-collapse
      %ul.nav.navbar-nav
        %li{class: (['all',nil,''].include?(params[:filter]) ? 'active' : '')}= link_to 'All', admin_users_url(q: params[:q])
        %li{class: (['authors'].include?(params[:filter]) ? 'active' : '')}= link_to 'Admins', filter_admin_users_url(:authors, q: params[:q])
        %li{class: (['community'].include?(params[:filter]) ? 'active' : '')}= link_to 'Community', filter_admin_users_url(:community, q: params[:q])
      .navbar-right
        = link_to new_admin_user_url, class: 'btn btn-success navbar-btn' do
          %span.glyphicon.glyphicon-user
          = t('.create_user')
      %form.navbar-form.navbar-right{role: :search}
        .form-group
          %input.form-control{type: :text, placeholder: t(:search), name: :q, value: params[:q]}
        %button.btn.btn-default{type: :submit}
          %span.glyphicon.glyphicon-search

- unless params[:q].blank?
  %p.lead
    = t('.searching_for', q: params[:q], user_scope: (params[:filter] || :all))
    %br
    %small.text-muted= page_entries_info(@posts, html: false)


%table.table
  %thead
    %tr
      %th.col-md-8{colspan: 2}= t(:user)
      %th.col-md-2= t('.roles')
      %th.col-md-2

  %tbody
    - unless @users.empty?
      - @users.each do |user|
        %tr
          %td.col-md-2= image_tag(user.avatar.url(:small), class: 'thubmnail')
          %td.col-md-6
            %h3
              = link_to user.name, admin_user_url(user)
              %small #{user.login}
              .small= user.title
            = simple_format (user.byline || '').html_safe
          %td.col-md-2
            - user.roles.each do |v|
              .label.label-primary= t("users.roles.#{v.to_s}").capitalize
          %td.col-md-2.text-right
            .btn-group.text-left
              %button.btn.btn-default.dropdown-toggle{type: 'button', 'data-toggle' => 'dropdown'}
                %span.glyphicon.glyphicon-cog
                %span.caret
              %ul.dropdown-menu.pull-right{role: "menu"}
                %li
                  = link_to author_url(user), target: '_blank' do
                    %span.glyphicon.glyphicon-eye-open
                    = t(:view)
                %li
                  = link_to edit_admin_user_url(user) do
                    %span.glyphicon.glyphicon-pencil
                    = t(:edit)
                - if false
                  %li.divider
                  %li.disabled
                    = link_to admin_user_url(user), method: :delete, data: { confirm: t(:confirmation_message) } do
                      %span.glyphicon.glyphicon-trash
                      = t(:delete)
    - else
      %tr
        %td{colspan: 5}= t('.no_users')

.text-center
  %hr
  = will_paginate @posts, renderer: BootstrapPagination::Rails