.row
  = link_to t(:edit), edit_admin_user_url(@user)
  %br

  .panel.panel-default
    .panel-heading= t('.user_detail')
    .panel-body
      %dl
        %dt= t(:photo)
        %dd= image_tag(@user.avatar.url(:medium), class: 'thubmnail')
      %dl
        %dt= t(:email)
        %dd= @user.email
      %dl
        %dt= t(:name)
        %dd= @user.name
      %dl
        %dt= t(:login)
        %dd= @user.login

      = link_to t(:back), admin_users_url
      = link_to t(:delete), admin_user_url(@user), method: :delete, data: { confirm: t(:confirmation_message) }