.page-header
  %h1= t(:login)

.form-sm.center-block
  = simple_form_for :user_session, url: user_session_url, html: { class: "form-horizontal", "data-validate" => "parsley" }, wrapper: :horizontal do |f|
    = f.input :login, required: true
    = f.input :password, required: true

    .form-group
      .col-sm-8.col-sm-offset-3
        %p= link_to t('.forgot_password'), new_password_reset_url
        = f.button :submit, t(:login), class: "btn"
        \&nbsp;
        = link_to t(:cancel), root_url