!!!
%html.admin
  %head
    %title= t(:logo)
    = stylesheet_link_tag    "admin", media: "all", "data-turbolinks-track" => true
    = javascript_include_tag "admin", "data-turbolinks-track" => true
    = yield(:js_css) if content_for(:js_css)
    = csrf_meta_tags

    %script{type: 'text/javascript'}
      WT._ssl = #{request_is_ssl?};
      - unless Rails.env.production?
        WT._dev = true;


  %body{class: [controller_name, [controller_name, action_name].join('-')].map{|v| v.underscore}.join(' ')}
    #wrapper
      - if @_require_social_js
        = render 'layouts/application/facebook'
      = render 'layouts/admin/header'

      #main-content
        .container
          = render 'layouts/admin/flash'
          = content_for?(:content) ? yield(:content) : yield

      %footer#footer
        .container
          .row
            .pull-left
              &copy; #{Date.today.year} What's Trending, Inc.
            %nav.pull-right
              %ul
                %li= link_to t('.home'), root_url
          .clearfix

    - if @_require_social_js
      :javascript
        !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');
      :coffee
        gp1 = document.createElement 'script'
        gp2 = document.createElement 'script'
        gp1.type = 'text/javascript'
        gp2.type = 'text/javascript'
        gp1.async = true
        gp2.async = true
        gp1.src = 'https://apis.google.com/js/plusone.js'
        gp2.src = 'https://apis.google.com/js/client:plusone.js'
        gps1 = document.getElementsByTagName('script')[0]
        gps2 = document.getElementsByTagName('script')[0]
        gps1.parentNode.insertBefore gp1, gps1
        gps2.parentNode.insertBefore gp2, gps2