!!!
%html.page{lang: page_lang, 'xmlns:fb' => 'http://www.facebook.com/2008/fbml', 'xmlns:og' => 'http://opengraphprotocol.org/schema/', 'xmlns' => 'http://www.w3.org/1999/xhtml'}
  %head{prefix: 'og: http://ogp.me/ns# fb: http://ogp.me/ns/fb#'}
    %meta{charset: 'UTF-8'}

    %title= page_title
    - cache(meta_cache_key, expires_in: 15.minutes, force: post_cache_force) do
      = render 'layouts/application/meta_tags'

    - @_css_include.unshift('page').each do |css|
      = stylesheet_link_tag css, media: "all", "data-turbolinks-track" => true
    - @_js_include.unshift('page').each do |js|
      = javascript_include_tag js, "data-turbolinks-track" => true

    = render 'layouts/application/page_header'


  %body{'data-wt-live' => (wt_is_live?).to_s, class: body_classes}

    #wrapper
      = render 'layouts/application/facebook'
      = render 'layouts/application/header'
      = render 'layouts/application/flash'

      - if content_for?(:wide)
        = yield(:wide)

      - else
        #container.container-full.container

          - if content_for?(:content_top)
            = yield(:content_top)

          .container-wrap
            .content-rail.col-md-4.hidden-xs.hidden-sm
              #sidebar
                = render 'categories/sidebar'

            .content-area.col-md-8.col-xs-12.col-sm-12
              = content_for?(:content) ? yield(:content) : yield

          .clearfix

          - if content_for?(:content_bottom)
            = yield(:content_bottom)

      = render 'layouts/application/footer'
    
