!!!
%html{style: css_styles[:html]}
  %head
    %meta{content: "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}
    = render 'layouts/mail/mail_header'

  %body{style: css_styles[:body]}
    %table{style: css_styles[:table], cellpadding: 0, cellspacing: 0, border: 0, width: '100%'}
      %tr
        = yield