!!!
%html
  %head
    %title= page_title
    %meta{name: 'viewport', content: 'width=600, user-scalable=0'}
    - @_css_include.unshift('page').each do |css|
      = stylesheet_link_tag css, media: "all", "data-turbolinks-track" => true
    - @_js_include.unshift('page').each do |js|
      = javascript_include_tag js, "data-turbolinks-track" => true
    = csrf_meta_tags

  %body
    = yield